.comment{
	width: 100%;

	.comment_block{
		display: flex;
		margin: 23px 0 25px;

		&:last-child{
			margin-bottom: 0;
		}

		.comment_col1{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 2px;

			.comment_col1_photo{
				width: 48px;
				height: 48px;
				margin-bottom: 12px;
				background: yellow;
			}

			.like{
				margin: 0;
			}
		}

		.comment_col2{
			margin-left: 10px;
			width: 100%;

			.comment_col2_name{
				font-weight: bold;
				margin: 0;
			}
			.comment_col2_time{
				margin-bottom: 12px;
				margin: 0;
			}
			.comment_col2_text{
				margin-bottom: 0;
			}
			p{
				width: 100%;
			}
		}
	}
}