.form-sign-in {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  padding: 39px 30px 31px 28px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media screen and (max-width: 380px) {
    width: 100%;
    padding: 20px;
  }

  h1 {
    margin-bottom: 10px;
  }

  &__input-text {
    margin-top: 11px;
  }

  &__btn {
    margin: 20px 0 29px 0;

    @media screen and (max-width: 380px) {
      width: 100%;
    }
  }

  &__btn_border {
    margin: 0;
  }

  &__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__login-text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', Arial, sans-serif;
    color: rgba(0, 0, 0, 1);
  }
}
