include ~@Blocks/input-text/input-text.pug
include ~@Blocks/button/button.pug

mixin formSignIn
  form.form-sign-in
    h1.form-sign-in__topic Войти
    .form-sign-in__input-text
      +inputText(
        {
          placeholder : "Email",
          id : "SignInEmail",
        }
      )
    .form-sign-in__input-text
      +inputText(
        {
          placeholder : "Пароль",
          id : "SignInPassword",
        }
      )

    .form-sign-in__btn
      +button(
        {
          text : "Войти",
          hasArrow : true,
        }
      )

    .form-sign-in__login
      p.form-sign-in__login-text Нет аккаунта на Toxin?
      .form-sign-in__btn.form-sign-in__btn_border
        +button(
          {
            text : "Создать",
            hasBorder: true,
          }
        )