include ~@Blocks/input-text/input-text.pug
include ~@Blocks/btn/btn.pug

mixin formSignIn
  form.form-sign-in
    h1 Войти
    +inputText(
      {
        topic : "",
        label : "",
        placeholder : "Email",
        inputText : "",
        state : "",
        id : "SignInEmail",
        name : ""
      }
    )
    +inputText(
      {
        topic : "",
        label : "",
        placeholder : "Пароль",
        inputText : "",
        state : "",
        id : "SignInPassword",
        name : ""
      }
    )

    +btn(
      {
        text : "Войти",
        link : "#",
        arrow : true,
        border: false,
        hover: false
      }
    )

    div.form-sign-in__login
      p Нет аккаунта на Toxin?
      +btn(
        {
          text : "Создать",
          link : "#",
          arrow : false,
          border: true,
          hover: false
        }
      )