include ~@Blocks/input-text/input-text.pug
include ~@Blocks/btn/btn.pug

mixin formSignIn
  div.form-sign-in
    h1 Войти
    +inputText(
      {
        topic : "",
        label : "",
        placeholder : "Email",
        inputText : "",
        state : "",
        id : "SignInEmail",
        name : ""
      }
      )
    +inputText(
      {
        topic : "",
        label : "",
        placeholder : "Пароль",
        inputText : "",
        state : "",
        id : "SignInPassword",
        name : ""
      }
      )

    +btn(
      {
        text : "Войти",
        dopclass : "btn_gradient btn_gradient_pay",
        link : "#",
        arrow : true
      }
      )

    div.form-sign-in__login
      p Нет аккаунта Toxin?
      +btn(
        {
          text : "Создать",
          dopclass : "btn_border",
          link : "#",
          arrow : false
        }
        )