include ~@Blocks/input-text/input-text.pug
include ~@Blocks/button/button.pug
include ~@Blocks/button-to-send/button-to-send.pug

mixin formSignIn
  .form-sign-in
    h1.form-sign-in__topic Войти

    form.form-sign-in__date-to-send(action='./link-stub')
      .form-sign-in__input-text
        +inputText(
          {
            placeholder : "Email",
            id : "SignInEmail",
          }
        )
      .form-sign-in__input-text
        +inputText(
          {
            placeholder : "Пароль",
            id : "SignInPassword",
          }
        )

      .form-sign-in__btn
        +buttonToSend({ text : 'Войти' })

    .form-sign-in__login
      p.form-sign-in__login-text Нет аккаунта на Toxin?
      .form-sign-in__btn.form-sign-in__btn_border
        +button(
          {
            text : "Создать",
            link : './registration.html',
            hasBorder: true,
          }
        )