.form-sign-in {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  height: auto;
  padding: 39px 30px 30px 28px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;

  h1 {
    margin-bottom: 10px;
  }

  .input-text__input {
    margin-top: 10px;
  }

  .btn {
    width: 100%;
    height: 44px;
    margin: 20px 0 29px 0;

    &.btn_border {
      width: 99px;
      margin: 0;
    }

    &__block {
      line-height: 35px;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 46px;

    p {
      font-size: 14px;
      font-weight: 400;
      font-family: 'Montserrat', Arial, sans-serif;
      color: rgba(0, 0, 0, 1);
    }
  }
}

@media (max-width: 380px) {
  .form-sign-in {
    width: 100%;
    padding: 20px;

    .btn {
      &.btn__block_gradient_pay {
        width: 100%;
      }
    }
  }
}
