.form-sign-in {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  width: 380px;
  height: auto;
  padding: 37px 30px 30px 28px;

  display: flex;
  flex-wrap: wrap;
  z-index: 1;

  h1 {
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
    height: 36px;
    line-height: 35px;
    margin: 21px 0 27px 0;

    &.btn_border {
      width: 95px;
      height: 32px;
      line-height: 36px;
      margin: 0;
    }
  }

  .input-text__input {
    margin-top: 10px;
  }

  .form-sign-in__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 46px;

    p {
      font-size: 14px;
      font-weight: 400;
      font-family: 'Montserrat', Arial, sans-serif;
    }
  }
}
