include /blocks/elements/inputText/inputText.pug
include /blocks/elements/radiogroup/radiogroup.pug
include /blocks/elements/toggleBlock/toggleBlock.pug
include /blocks/elements/btn/btn.pug

mixin formRegistration(id)
  div.formRegistration
    h1 Регистрация аккаунта
    div.formRegistration_itemText
      +inputText(
        {
          topic : "",
          label : "",
          placeholder : "Имя",
          inputText : "",
          state : "",
          id : "registration"
        }
        )
      +inputText(
        {
          topic : "",
          label : "",
          placeholder : "Фамилия",
          inputText : "",
          state : "",
          id : "registration"
        }
        )
      
    +radiogroup(
      {
        nameGroup : "rbGroop"+id,
        idMainBlock : id
      },
      {
        text : "Мужчина",
        check : "checked"
      },
      {
        text : "Женщина"
      }
      )

    +inputText(
      {
        topic : "Дата рождения",
        label : "",
        placeholder : "ДД.ММ.ГГГГ",
        inputText : "",
        state : "",
        id : "registration"
      }
      )
    +inputText(
      {
        topic : "данные для входа в сервис",
        label : "",
        placeholder : "Email",
        inputText : "",
        state : "",
        id : "registration"
      }
      )
    +inputText(
      {
        topic : "",
        label : "",
        placeholder : "Пароль",
        inputText : "",
        state : "",
        id : "registration"
      }
      )
    
    +toggleBlock(
      {
        id : id,
        text : "Получать спецпредложения",
        active : "on"
      }
    )
  
    +btn("Зарегистрироваться","btn_gradient btn_gradient_pay")
    div.formRegistration_login
      p Уже есть аккаунт на Toxin
      +btn("Войти","btn_border")
