include ../../../blocks/elements/inputText/inputText.pug
include ../../../blocks/elements/radiogroup/radiogroup.pug
include ../../../blocks/elements/toggleBlock/toggleBlock.pug
include ../../../blocks/elements/btn/btn.pug

mixin formRegistration(obj)
  div.form-registration
    h1 Регистрация аккаунта

    +inputText(
      {
        topic : "",
        label : "",
        placeholder : "Имя",
        inputText : "",
        state : "",
        id : "RegName"
      }
      )
    +inputText(
        {
          topic : "",
          label : "",
          placeholder : "Фамилия",
          inputText : "",
          state : "",
          id : "RegSurname"
        }
        )
      
    +radiogroup(
      {
        nameGroup : "rbGroop"+obj.id,
        idMainBlock : obj.id
      },
      {
        text : "Мужчина",
        check : "checked"
      },
      {
        text : "Женщина"
      }
      )

    +inputText(
      {
        topic : "Дата рождения",
        label : "",
        placeholder : "ДД.ММ.ГГГГ",
        inputText : "",
        state : "",
        id : "RegDateBirth"
      }
      )
    +inputText(
      {
        topic : "данные для входа в сервис",
        label : "",
        placeholder : "Email",
        inputText : "",
        state : "",
        id : "RegEmail"
      }
      )
    +inputText(
      {
        topic : "",
        label : "",
        placeholder : "Пароль",
        inputText : "",
        state : "",
        id : "registration"
      }
      )
    
    +toggleBlock(
      {
        id : obj.id,
        text : "Получать спецпредложения",
        active : "off"
      }
      )
  
    +btn(
      {
        text : "Зарегистрироваться",
        dopclass : "btn_gradient btn_gradient_pay",
        link : "#",
        arrow : true
      }
      )
    div.form-registration__login
      p Уже есть аккаунт на Toxin
      +btn(
        {
          text : "Войти",
          dopclass : "btn_border",
          link : "#",
          arrow : false
        }
        )
