.formSearchNum{
  width: 380px;
  height: 374px;
  background: #fff;
  margin-top: 70px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px 29px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;

  .formSearchNum_choiceDate{
    width: 100%;
    
    .formSearchNum_choiceDate_flex{
      display: flex;
      justify-content: space-between;

      .blockDropdown_dropdown__date{
        margin: 5px 0 0 0;
      }
    }
  }

  .dropdownItemCalendar{
    display: block;
    width: 200px;
  }

  h1{
    font-size: 24.6px;
    line-height: 28px;
  }

  h3{
    margin-top: 23px;
  }

  .link{
    margin: 15px 7px 15px 14px;
  }

  .btn{
    width: 100%;
    margin: 30px 0 0 0;
    height: 35px;
    line-height: 36px;
    font-size: 11px;
    letter-spacing: 0.9px;
  }

  .blockDropdown{
    
    &.blockDropdown__width100{

      h3{
        margin-top: 20px;
      }
    }

    .blockDropdown_dropdown__whisItems{
      + .blockDropdown{
        width: 100%;
      }
    }

    .blockDropdown_dropdownItems{
      
      h3{
        margin-top: 0px;
      }
      
      .blockDropdown_dropdownItems_line{
        height: 38px;

        .blockDropdown_dropdownItems_line_incBlock{
          margin: 8px 6px 0 0;
        }
      }
    }
  }
}