include ~@Blocks/checkbox-list/checkbox-list.pug

mixin checkboxListExpandable(obj,...items)
  div.checkbox-list-expandable
    if obj.state == "close"
      div.checkbox-list-expandable__topicBlock
        h3= obj.topic
        img(alt="expand-more.svg" class="checkbox-list-expandable__expand" src=require("@Blocks/checkbox-list-expandable/expand-more.svg").default)
      +checkboxList({ stateHide : "checkbox-list_hide" }, ...items)
    if obj.state == "open"
      div.checkbox-list-expandable__topicBlock
        h3= obj.topic
        img(alt="expand-more.svg" class="checkbox-list-expandable__expand checkbox-list-expandable__expand_open" src=require("@Blocks/checkbox-list-expandable/expand-more.svg").default)
      +checkboxList({ stateHide : "" },...items)