.checkbox-list-expandable{
  margin: 50px 0 17px 0;

  .checkbox-list-expandable__topicBlock{
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .checkbox-list-expandable__expand{
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 2px;
      right: 15px;
      cursor: pointer;

      &.checkbox-list-expandable__expand_open{
        transform: rotate(180deg);
      }
    }

    h3{
      margin: 0;
      cursor: pointer;
    }
  }
}