include ~@Blocks/checkbox-list/checkbox-list.pug

mixin checkboxListExpandable(obj,...items)
  .checkbox-list-expandable
    if obj.state == "close"
      .checkbox-list-expandable__topic-block
        h3= obj.topic
        img(alt="expand-more-checkbox.svg" class="checkbox-list-expandable__expand" src="./img/expand-more-checkbox.svg")
      .checkbox-list-expandable__checkbox-list
        +checkboxList({ stateHide : "checkbox-list_hide" }, ...items)
    if obj.state == "open"
      .checkbox-list-expandable__topic-block
        h3= obj.topic
        img(alt="expand-more-checkbox.svg" class="checkbox-list-expandable__expand checkbox-list-expandable__expand_open" src="./img/expand-more-checkbox.svg")
      .checkbox-list-expandable__checkbox-list
        +checkboxList({ stateHide : "" },...items)