.checkbox-list-expandable {
  &__topic-block {
    position: relative;
    margin-bottom: 17px;
    user-select: none;
  }

  &__topic {
    cursor: pointer;
  }

  &__expand {
    width: 12px;
    height: 10px;
    position: absolute;
    bottom: 2px;
    right: 15px;
    cursor: pointer;
  }

  &__expand_open {
    transform: rotate(180deg);
  }
}
