.input-text {
  position: relative;
  width: 100%;

  &.input-text_subscription {
    margin-top: 10px;

    .input-text__input {
      letter-spacing: 0;
    }

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      bottom: 11px;
      right: 11px;
      background-repeat: no-repeat;
      background-image: url('@Blocks/input-text/arrow.svg');
    }
  }

  &__input {
    width: 100%;
    color: rgba(31, 32, 65, 1);
    outline: none;
    font-size: 13px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    height: 44px;
    padding: 8px 14px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.5px;

    &:hover,
    &:focus,
    &.input-text__input_hover {
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.5);
      font-weight: 600;
      font-size: 14px;
      letter-spacing: -0.4px;
      padding: 8px 15px 10px 14px;
    }

    &.input-text__input_date {
      padding: 5px 14px 8px 15px;
    }
  }

  ::-webkit-input-placeholder {
    /* Chrome */
    color: rgba(31, 32, 65, 0.25);
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(31, 32, 65, 0.25);
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(31, 32, 65, 0.25);
  }
  :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: rgba(31, 32, 65, 0.25);
  }
}
