extends ~@Blocks/layout/layout.pug
include ~@Blocks/info-block/info-block.pug
include ~@Blocks/list-block/list-block.pug
include ~@Blocks/comment-block/comment-block.pug
include ~@Blocks/chart/chart.pug
include ~@Blocks/form-reservation/form-reservation.pug

block links
  link(rel="stylesheet" type="text/css" href="./css/details-room.js.css")

block content
  main.details-room
    .details-room__block-images
      .details-room__blk-image-one
        .details-room__image-one
      .details-room__blk-image-two
        .details-room__image-two.details-room__image-two_top
        .details-room__image-two.details-room__image-two_bottom
    .details-room__content-block
      .details-room__room-info
        .details-room__info-block
          h2.details-room__topic-block Сведения о номере
          +infoBlock(
            {
              qtyHR : 2,
              items : [
                {
                  label : "Комфорт",
                  text : "Шумопоглощающие стены",
                  url : require("@Pages/details-room/img/emoticon.svg").default,
                  pictureName : "emoticon"
                },
                {
                  label : "Удобство",
                  text : "Окно в каждой из спален",
                  url : require("@Pages/details-room/img/city.svg").default,
                  pictureName : "city"
                },
                {
                  label : "Уют",
                  text : "Номер оснащён камином",
                  url : require("@Pages/details-room/img/whatshot.svg").default,
                  pictureName : "whatshot"
                }
              ]
            }
          )

        .details-room__room-impression
          h2.details-room__topic-block Впечатления от номера
          +chart({ qty : 260 })

        .details-room__comment-block
          +commentBlock(
            {
              topic : "Отзывы посетителей номера",
              label : "2 отзыва",
              items : [
                {
                  urlImg: require("@Pages/details-room/img/photo1.png").default,
                  liked : true,
                  qty : 12,
                  name : "Мурад Сарафанов",
                  time : "5 дней назад",
                  text : `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`
                },
                {
                  urlImg: require("@Pages/details-room/img/photo2.png").default,
                  qty : 2,
                  name : "Патрисия Стёклышкова",
                  time : "Неделю назад",
                  text : `Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.`
                }
              ]
            }
          )

      .details-room__form-reservation
        +formReservation(
          {
            number : 888,
            priceFrom : "9 990",
            priceFinal : "38 081"
          }
        )

    .details-room__content-block-bottom
      .details-room__list-block
        h2.details-room__topic-block Правила
        +listBlock(
          {
            list : ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
          }
        )

      .details-room__info-cancel
        h2.details-room__topic-block Отмена
        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

  script(src="./js/details-room.js")