include ../../blocks/elements/header/header.pug
include ../../blocks/elements/footer/footer.pug

include ../../blocks/elements/info-block/info-block.pug
include ../../blocks/elements/list-block/list-block.pug
include ../../blocks/elements/comment-block/comment-block.pug
include ../../blocks/cards/form-reservation/form-reservation.pug


include ../global-header.pug

div.details-room
  div.details-room__block-images
    div.details-room__blk-image-one
      div.details-room__image-one
    div.details-room__blk-image-two
      div.details-room__image-two.details-room__image-two_top
      div.details-room__image-two.details-room__image-two_bottom
  div.details-room__content-block
    div.details-room__room-info
      +infoBlock(
        {
          topic : "Сведения о номере",
          qtyHR : 2
        },
        {
          label : "Комфорт",
          text : "Шумопоглощающие стены",
          url : "/blocks/elements/info-block/emoticon.svg",
          dopclass : "info-block__icon_emoticon"
        },
        {
          label : "Удобство",
          text : "Окно в каждой из спален",
          url : "/blocks/elements/info-block/city.svg",
          dopclass : "info-block__icon_city"
        },
        {
          label : "Уют",
          text : "Номер оснащён камином",
          url : "/blocks/elements/info-block/whatshot.svg",
          dopclass : "info-block__icon_whatshot"
        }
        )

      div.details-room__room-impression
        h2 Впечатления от номера
        div.details-room__impression
          p.details-room__impression-qty-review 260
          p.details-room__impression-text голосов
        canvas(id="oilChart" width="290" height="150")

      +commentBlock(
        {
          topic : "Отзывы посетителей номера",
          label : "2 отзыва"
        },
        {
          urlImg: "/pages/details-room/photo1.png",
          liked : true,
          qty : 12,
          name : "Мурад Сарафанов",
          time : "5 дней назад",
          text : `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`
        },
        {
          urlImg: "/pages/details-room/photo2.png",
          liked : false,
          qty : 2,
          name : "Патрисия Стёклышкова",
          time : "Неделю назад",
          text : `Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.`
        }
        )
      
      +listBlock(
        {
          topic : "Правила",
          tagTopic : "h2"
        },
        {
          text : "Нельзя с питомцами"
        },
        {
          text : "Без вечеринок и мероприятий"
        },
        {
          text : "Время прибытия — после 13:00, а выезд до 12:00"
        }
        )
      
      div.details-room__info-cancel
        h2 Отмена
        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
    div.details-room__form-reservation
      +formReservation(
        {
          number : 888,
          priceFrom : "9 990",
          priceFinal : "38 081"
        }
        )

include ../global-footer.pug

script(src="/pages/details-room/details-room.js")
script(src="/pages/details-room/chart.js")