.details-room {
  position: relative;
  width: 100%;

  &__block-images,
  &__image-one,
  &__blk-image-one,
  &__blk-image-two {
    margin: 0;
    padding: 0;
  }

  &__block-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__blk-image-one {
    width: 68.2%;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  &__image-one {
    background-image: url('./img/galery-photo-number-1.png');
    width: 100%;
    height: 0;
    padding-bottom: 49.4%;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;

    @media screen and (max-width: 640px) {
      margin: 1px auto;
    }
  }

  &__blk-image-two {
    width: 31.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  &__image-two {
    margin: 0;
    padding: 0;
    height: 50%;
    background-size: cover;
    cursor: pointer;

    @media screen and (max-width: 640px) {
      height: 48vw;
      margin: 1px auto;
      width: 100%;
    }
  }

  &__image-two_top {
    background-image: url('./img/galery-photo-number-2.png');
  }

  &__image-two_bottom {
    background-image: url('./img/galery-photo-number-3.png');
  }

  &__content-block {
    display: flex;
    justify-content: space-between;
    margin: 70px 9.7% 5px;
    max-width: 100%;
    min-width: 320px;

    @media screen and (max-width: 960px) {
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px auto;
    }
  }

  &__room-info {
    width: 65%;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    h2 {
      font-weight: 700;
      font-size: 19px;
      line-height: 22px;
    }
  }

  &__info-block {
    margin-right: 80px;

    @media screen and (max-width: 960px) {
      margin: 20px;
      width: 100%;
    }

    h2 {
      margin-bottom: 23px;
    }
  }

  &__room-impression {
    position: relative;
    width: 320px;

    @media screen and (max-width: 1315px) {
      margin: 20px 0 30px;
    }

    @media screen and (max-width: 960px) {
      margin: 20px;
      width: 100%;
    }

    h2 {
      margin-bottom: 7px;
    }
  }

  &__comment-block {
    margin: 13px 0 20px 0;

    @media screen and (max-width: 960px) {
      margin: 20px;
      width: 100%;
    }
  }

  &__content-block-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 11px 9.7% 63px;
    max-width: 100%;
    min-width: 320px;
    flex-basis: 1;

    @media screen and (max-width: 960px) {
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px auto;
    }
  }

  &__list-block {
    width: 260px;
    margin-right: 101px;

    @media screen and (max-width: 1350px) {
      width: 265px;
    }

    @media screen and (max-width: 1220px) {
      h2 {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 960px) {
      margin: 20px;
      width: 100%;
    }

    h2 {
      margin-left: 20px;
      margin-bottom: 18px;
    }
  }

  &__info-cancel {
    width: 340px;

    @media screen and (max-width: 1220px) {
      margin-top: 20px;
    }

    @media screen and (max-width: 960px) {
      margin: 20px;
      width: 100%;
    }

    h2 {
      margin-bottom: 18px;
    }
  }

  &__form-reservation {
    @media screen and (max-width: 1350px) {
      height: auto;
    }

    @media screen and (max-width: 960px) {
      margin: 20px;
    }

    @media screen and (max-width: 380px) {
      margin: 0;
      width: 100%;
    }
  }
}
