html(lang="ru")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      title Document
      meta(keywords="keywords" description="description")
      link(rel="apple-touch-icon" sizes="180x180" href=require("@/favicons/apple-touch-icon.png").default)
      link(rel="icon" type="image/png" sizes="32x32" href=require("@/favicons/favicon-32x32.png").default)
      link(rel="icon" type="image/png" sizes="16x16" href=require("@/favicons/favicon-16x16.png").default)
      link(rel="mask-icon" color="#5bbad5" href=require("@/favicons/safari-pinned-tab.svg").default)
      meta(name="msapplication-TileColor" content="#da532c")
      meta(name="theme-color" content="#ffffff")
      include ~@Blocks/layout-styles/layout-styles.pug
      script(src="./js/index.js")

  body
    block header
      include ~@Blocks/header/header.pug
      +header(
        {
          authorization : false,
          name : "",
        },
        {
          menuItem : "О нас",
          link : "#",
          state : "",
          type : "main",
          submenu : []
        },
        {
          menuItem : "Услуги",
          link : "#",
          state : "",
          type : "expand",
          submenu : [
            {
              menuItem : "Услуга №1",
              link : "#",
            },
            {
              menuItem : "Услуга №2",
              link : "#",
            },
          ]
        },
        {
          menuItem : "Вакансии",
          link : "#",
          state : "",
          type : "main",
          submenu : []
        },
        {
          menuItem : "Новости",
          link : "#",
          state : "",
          type : "main",
          submenu : []
        },
        {
          menuItem : "Соглашения",
          link : "#",
          state : "",
          type : "expand",
          submenu : [
            {
              menuItem : "Соглашение №1",
              link : "#",
            },
            {
              menuItem : "Соглашение №2",
              link : "#",
            },
          ]
        }
      )

    block content

    block footer
      include ~@Blocks/footer/footer.pug
      +footer