@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('@/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
    url('@/fonts/montserrat/montserrat-bold.woff') format('woff'),
    url('@/fonts/montserrat/montserrat-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('@/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
    url('@/fonts/montserrat/montserrat-regular.woff') format('woff'),
    url('@/fonts/montserrat/montserrat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('@/fonts/montserrat/montserrat-medium.woff2') format('woff2'),
    url('@/fonts/montserrat/montserrat-medium.woff') format('woff'),
    url('@/fonts/montserrat/montserrat-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('@/fonts/montserrat/montserrat-semi-bold.woff2') format('woff2'),
    url('@/fonts/montserrat/montserrat-semi-bold.woff') format('woff'),
    url('@/fonts/montserrat/montserrat-semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13.7px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  min-width: 320px;
}

h1 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 19px;
  line-height: 24px;
}

h3 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  margin: 0;
  color: rgba(31, 32, 65, 1);
}

body,
p {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  :hover {
    text-decoration: underline;
  }
}

img {
  user-select: none;
}

span {
  white-space: nowrap;
}
