include ~@Blocks/header/header.pug
include ~@Blocks/footer/footer.pug
include ~@Blocks/form-search-num/form-search-num.pug

include ../global-header.pug

div.landing-page
  div.landing-page__content-container
    +formSearchNum
  div(class="landing-page__content-container landing-page__content-container_flex-end")
    p.landing-page__label Лучшие номера для вашей работы, отдыха и просто вдохновения

include ../global-footer.pug

script(src="./landing-page.js")