extends ~@Blocks/layout/layout.pug

block links
  link(rel="stylesheet" type="text/css" href="./css/landing-page.js.css")

block content
  include ~@Blocks/form-search-num/form-search-num.pug

  main.landing-page
    .landing-page__content-container
      .landing-page__form-search-num
        +formSearchNum
    .landing-page__content-container.landing-page__content-container_flex-end
      p.landing-page__label Лучшие номера для вашей работы, отдыха и просто вдохновения

  script(src="./js/landing-page.js")