.landing-page {
  background-image: url('./img/landing-page-background.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  min-height: 830px;
  position: relative;

  @media screen and (max-width: 820px) {
    height: auto;
    position: inherit;
  }

  &__content-container {
    min-width: 320px;
    min-height: 830px;
    margin: 0 9.3% 0 9.7%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1170px) {
      margin-left: 20px;
    }

    @media screen and (max-width: 820px) {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }

  &__form-search-num {
    margin-top: 70px;

    @media screen and (max-width: 820px) {
      margin: 20px 0;
      position: inherit;
    }
  }

  &__background-text {
    max-width: 297px;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
    user-select: none;
    align-self: flex-end;
    margin-bottom: 20px;

    @media screen and (max-width: 1170px) {
      padding-right: 20px;
    }

    @media screen and (max-width: 820px) {
      display: none;
    }
  }
}
