$colorDarkShade100: rgba(31, 32, 65, 1);
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;

.ui-kit-color-type {
  display: flex;
  justify-content: space-between;
  padding: 100px 140px 131px;
  position: relative;
  width: 1440px;
  box-sizing: border-box;

  &__link-logo {
    position: absolute;
    left: 31px;
    top: 30px;
  }

  &__ico-logo {
    position: absolute;
  }

  &__block-colors {
    display: flex;
    flex-direction: column;
    margin: 35px 0 0 0;
    min-width: 300px;

    h2 {
      color: rgba(31, 32, 65, 1);
    }
  }

  &__item-color {
    display: flex;
    align-items: center;
  }

  &__color {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin: 10px 40px 10px 10px;
  }

  &__color_dark-shade-100 {
    background: $colorDarkShade100;
  }

  &__color_dark-shade-75 {
    background: $colorDarkShade75;
  }

  &__color_dark-shade-50 {
    background: $colorDarkShade50;
  }

  &__color_dark-shade-25 {
    background: $colorDarkShade25;
  }

  &__color_dark-shade-5 {
    background: $colorDarkShade5;
  }

  &__color_purple {
    background: $colorPurple;
  }

  &__color_green {
    background: $colorGreen;
  }

  &__block-text {
    line-height: 29px;
  }

  &__color-topic {
    margin-bottom: 2px;
    font-size: 19px;
  }

  &__color-label {
    font-weight: normal;
    margin-top: 3px;
  }

  &__block-types {
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    min-width: 200px;
  }

  &__item-type {
    display: flex;
    margin: 26px 0 24px;

    &:last-child {
      margin: 24px 0;
    }
  }

  &__item-type_p {
    margin-top: 0;
    margin-bottom: 0;

    .ui-kit-color-type__type-text {
      width: 315px;
    }
  }

  &__type-tag {
    display: flex;
    color: rgba(31, 32, 65, 0.25);
    margin-right: 30px;
    font-family: 'Montserrat', Arial, sans-serif;
    width: 40px;
    justify-content: flex-end;
    align-items: left;
    font-weight: 500;
  }

  &__type-text {
    width: 387px;

    h1,
    h2,
    h3 {
      color: rgba(31, 32, 65, 1);
    }
  }
}
