include /ui_kit/header_footer/header.pug
include /ui_kit/header_footer/footer.pug
include /ui_kit/cards/formSearchNum/formSearchNum.pug

+header(0)

div.content.landingPage
  div(class="content_container content_container__flexend")
    p.landingPage_label Лучшие номера для вашей работы, отдыха и просто вдохновения
  div(class="content_container content_container__formSearchNum")
    +formSearchNum

+footer