.rate-btn{
  display: flex;
  justify-content: flex-start;
  margin: 15px 20px 0 0;

  .rate-btn__star{
    width: 20px;
    height: 20px;
    margin: 0 2px;
    cursor: pointer;
    background-image: url('/blocks/elements/rate-btn/star_border.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

    &.rate-btn__star_active{
      background-image: url('/blocks/elements/rate-btn/star.svg');
    }
  }
}