mixin button({ height = 'wide', text = '', link = '', typeButton = 'button', id='', hasBorder = false })
  - let buttonWithBorderClass = ''
  - let buttonWithArrowClass = ''
  - let heightClass = ''

  if hasBorder
    - buttonWithBorderClass = 'button_with-border '

  if (height == 'narrow') && !hasBorder
    - heightClass = 'button_narrow '
  if (height == 'narrow') && hasBorder
    - heightClass = 'button_with-border_narrow '

  if (typeButton == 'submit') && (link == '')
    - buttonWithArrowClass = 'button_with-arrow'

  if link != ''
    button(class='button ' + buttonWithBorderClass + heightClass type=typeButton onclick="document.location='" + link + "'")= text
  else
    button(class='button ' + buttonWithBorderClass + heightClass + buttonWithArrowClass type=typeButton id=id)= text