mixin button({ height = 'wide', text = '', link = './link-stub', hasBorder = false })
  - let buttonWithBorderClass = ''
  - let heightClass = ''

  if hasBorder
    - buttonWithBorderClass = 'button_with-border '

  if (height == 'narrow') && !hasBorder
    - heightClass = 'button_narrow '
  if (height == 'narrow') && hasBorder
    - heightClass = 'button_with-border_narrow '

  button(class='button ' + buttonWithBorderClass + heightClass type='submit' onclick="document.location='" + link + "'")= text