mixin button({ height = 'wide', text = '', hasBorder = false })
  - let typeButtonClass = 'button_gradient '
  - let heightClass = ''

  if hasBorder
    - typeButtonClass = 'button_border '

  if (height == 'narrow') && !hasBorder
    - heightClass = 'button_narrow '
  if (height == 'narrow') && hasBorder
    - heightClass = 'button_border_narrow '

  button(class='button ' + typeButtonClass + heightClass type='submit')= text