mixin button({ height = 'wide', text = '', hasBorder = false, hasHover = false })
  - let typeButtonClass = 'button_gradient '
  - let heightClass = ''
  - let hoverClass = ''

  if hasBorder
    - typeButtonClass = 'button_border '

  if (height == 'narrow') && !hasBorder
    - heightClass = 'button_narrow '
  if (height == 'narrow') && hasBorder
    - heightClass = 'button_border_narrow '

  if hasHover && hasBorder
    - hoverClass = 'button_border_hover '
  if hasHover && !hasBorder
    - hoverClass = 'button_gradient_hover '

  button(class='button ' + typeButtonClass + heightClass + hoverClass type='submit')= text