@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'), 
    local('Montserrat-Regular'), 
    url('../font/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: local('quicksandregular'), 
    local('quicksandregular'), 
    url('../font/quicksand/quicksandregular.ttf') format('truetype');
    font-style: normal;
}