.content{
	width: 100%;
	position:relative;

	.image{
			//height: vw100;
		width: 100%;
	}

	.form{
		width: 380px;
		height: 374px;
		background: #fff;
		margin-top: 70px;
		position: absolute;
		border: 1px solid rgba(0, 0, 0, 0.12);
		box-sizing: border-box;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		padding: 40px 30px 30px 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		z-index: 1;

		p{
			padding: 0;
			margin: 0;
			//font-family: 'Quicksand';
		}

		.title{
			font-size: 24px;
			line-height: 30px;
			font-weight: bold;
		}
		.title_2{
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		
		.select_item{
			position: relative;

			.input{
						
				&.date{//input
					width: 150px;
					-webkit-appearance: none;
				}
				&.num{//input
					width: 320px;

					-webkit-appearance: none;
				}

				option:first-child{
					display: none;
				}
			}

			.send{
				width: 10px;
				height: 10px;
				position: absolute;
				bottom: 35px;
				right: 15px;
				cursor: pointer;
			}
		}
		

		.btn{
			width: 320px;
		}
	}

	.label{
		position:absolute;
		bottom: 18px;
		width: 297px;
		height: 48px;
		text-align: right;
		color: rgba(31, 32, 65, 0.75);
	}
}