body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-weight: normal;
    font-style: normal;
}

.content_width{
	max-width: 1150px;
	min-width: 320px;
	margin: 0 auto;

	&.flexend{
		display: flex;
		justify-content: flex-end;
	}
}

img{
	user-select: none;
}


.btn{
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	height: 15px;
	border-radius: 22px;
	padding: 10px 0;
	color: #ffffff;
	cursor: pointer;

	&.border{
		background-color: #fff;
		color: #BC9CFF;
		border: 1px #BC9CFF solid;
		padding: 9px 0 10px;	
	}

	&.gradient{
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		color: #ffffff;	
	}
}

.input{
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	height: 44px;
	color: rgba(31, 32, 65, 0.75);
	padding: 10px 15px;

	font-family: 'Montserrat';
	font-weight: normal;
    font-style: normal;
}


