body{
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	font-style: normal;
}

p{
	font-family: "Montserrat";
	font-style: normal;	
}

.content{
	max-width: 1150px;
	min-width: 320px;
	margin: 0 auto;
}



.image{
	//height: vw100;
	width: 100%;
	//position: ;


}
/*
.bottom_menu:after{
		content: "текст";
		width: 20px;
		height: 20px;
		background: #ff0000;
		position: absolute;
		right: 0;
		bottom: 100%;
		z-index: 100;
	}*/