mixin toggleBlock({ text = '', active = 'off' })
  .toggle-block
    if active == "off"
      .toggle-block__toggle.toggle-block__toggle_off
        .toggle-block__item
    if active == "on"
      .toggle-block__toggle.toggle-block__toggle_on
        .toggle-block__item
    p.toggle-block__text= text