.toggle-block {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;

  &__toggle {
    display: flex;
    width: 38px;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    margin: 9px 0 0 1px;
  }

  &__toggle_off {
    justify-content: flex-start;

    > .toggle-block__item {
      background: rgba(31, 32, 65, 0.25);
    }
  }

  &__toggle_on {
    justify-content: flex-end;
    border: 1px solid #bc9cff;

    > .toggle-block__item {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
  }

  &__item {
    width: 12px;
    border-radius: 50%;
    margin: 3px;
  }

  p {
    margin: 5px 0 0 9px;
    user-select: none;
  }
}
