.toggle-block {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  margin: 3px 0 5px;

  .toggle-block__toggle {
    display: flex;
    width: 38px;
    height: 18px;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    margin: 8px 0 0 1px;

    &.toggle-block__toggle_off {
      justify-content: flex-start;

      > .toggle-block__item {
        background: rgba(31, 32, 65, 0.25);
      }
    }

    &.toggle-block__toggle_on {
      justify-content: flex-end;
      border: 1px solid #bc9cff;

      > .toggle-block__item {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }

    .toggle-block__item {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 3px;
    }
  }

  p {
    margin: 5px 0 0 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
