mixin infoBlock({ qtyHR = 1, items = [{ label : 'Заголовок', text : 'Текст', url : '#', dopclass : '' }] })
  .info-block
    each item, index in items
      - const label = item.label || ''
      - const text = item.text || ''
      - const url = item.url || '#'
      - const dopclass = item.dopclass || ''

      .info-block__item
        img(src=url class="info-block__icon "+dopclass alt="icon")
        .info-block__text-block
          p.info-block__topic
            b= label
          p.info-block__text= text
      if index < qtyHR
        hr.info-block__horizontal-line