.info-block {
  min-width: 280px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    margin: 21px 0 23px;
  }

  &__icon_emoticon {
    margin: 2px 14px 2px 4px;
  }

  &__icon_city {
    margin: 2px 16px 2px 6px;
  }

  &__icon_whatshot {
    margin: 0 18px 2px 7px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__topic,
  &__text {
    line-height: 20px;
  }

  &__hr {
    width: 100%;
    margin: 0;
    border: 0.5px solid rgba(31, 32, 65, 0.1);
  }
}
