mixin infoBlock(obj,...items)
  .info-block
    each item, index in items
      .info-block__item
        img(src=item.url class="info-block__icon "+item.dopclass alt="icon")
        .info-block__text
          p
            b= item.label
          p= item.text
      if index < obj.qtyHR
        hr.info-block__hr