mixin infoBlock({ qtyHR = 1, items = [{ label : 'Заголовок', text : 'Текст', url : '#', dopclass : '' }] })
  .info-block
    each item, index in items
      - let label = item.label || ''
      - let text = item.text || ''
      - let url = item.url || '#'
      - let dopclass = item.dopclass || ''

      .info-block__item
        img(src=url class="info-block__icon "+dopclass alt="icon")
        .info-block__text
          p
            b= label
          p= text
      if index < qtyHR
        hr.info-block__hr