
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='./index.js')
		link(href='ui_kit/form_elements/inputText/inputText.scss')
	body
		include ui_kit/form_elements/form_elements.pug

		//include blocks/landing_page/landing_page.pug
		
		
		
		



mixin arrow(dopclass)
	div.arrow
		div(class='arrow_line' +dopclass)
		div(class='arrow_next' +dopclass)
		
        
        


