html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    meta(keywords="keywords", description="description")
    //script(src="./blocks/cards/calendar/pignose.calendar.min.js")
    
  body
    include pages/landingPage/landingPage.pug
    include pages/searchRoom/searchRoom.pug
    include pages/detailsRoom/detailsRoom.pug
    include pages/registration/registration.pug
    include pages/signIn/signIn.pug
    
    include pages/ui-kit_formElements/form_elements.pug
    include pages/ui-kit_colorType/color_type.pug
    include pages/ui-kit_headerFooter/header_footer.pug
    include pages/ui-kit_cards/cards.pug
        
    script(src="./index.js")