
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='./index.js')
		
		
	body
		//include blocks/landing_page/landing_page.html
		include ui_kit/form_elements/form_elements.pug
		//include ui_kit/color_type/color_type.pug
		//include ui_kit/header_footer/header.pug
		//include ui_kit/header_footer/footer.pug
		//include ui_kit/header_footer/footer2.pug
		//include ui_kit/cards/cards.pug
		
		//include blocks/landing_page/landing_page.pug

		include blocks/landingPage/landingPage.pug
		include blocks/searchRoom/searchRoom.pug
		
		
		
			



mixin arrow(dopclass)
	div.arrow
		div(class='arrow_line' +dopclass)
		div(class='arrow_next' +dopclass)