.pagination {
  width: 100%;

  &__num-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 9px 0;
  }

  &__num-link {
    width: 40px;
    padding: 8px 0;
    color: rgba(31, 32, 65, 0.5);
    font-size: 11.5px;
    font-weight: 500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
  }

  &__num-link_active {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: #fff;
  }

  &__num-link_disabled {
    cursor: default;
  }

  &__num-link_prev,
  &__num-link_next {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    color: transparent;
    position: relative;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 9px;
      background-repeat: no-repeat;
      background-image: url('@Blocks/pagination/img/arrow-white.svg');
    }
  }

  &__num-link_prev {
    &:after {
      transform: rotate(180deg);
      top: 9px;
      right: 11px;
    }
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
