include /blocks/cards/formSearchNum/formSearchNum.pug
include /blocks/cards/formRegistration/formRegistration.pug
include /blocks/cards/formReservation/formReservation.pug
include /blocks/cards/formSignIn/formSignIn.pug
include /blocks/cards/cardRoom/cardRoom.pug
include /blocks/cards/calendar/calendar.pug

div.forms
  img.ico_logo(src="pages/ui-kit_cards/ico_logo.svg" alt="logo")
  div.blk
    +formSearchNum("Uikit")
    +formRegistration("Uikit")
  div.blk
    +formReservation(
      {
        number : 888,
        priceFrom : "9 990",
        priceFinal : "38 081"
      }
      )
    +formSignIn("Uikit")
  div.blk.blk_3
    div.block
      +calendar({state : "open"})
    +cardRoom(
      {
        id : 1,
        number : 888,
        price : "9 990",
        markLink : "люкс",
        review : 145,
        rating : 5
      }
      )
    +cardRoom(
      {
        id : 2,
        number : 840,
        price : "9 990",
        markLink : "",
        review : 65,
        rating : 4
      }
      )