.ui-kit-cards{
  display: flex;
  flex-wrap: wrap;
  background: #F4F4F6;
  padding: 130px 0 130px  8.4%;
  position: relative;

  .ui-kit-cards__blk{
    margin: 20px;

    .form-search-num{
      position: relative;
      margin-bottom: 40px;
    }

    .form-reservation{
      margin-bottom: 40px;

      .form-reservation__block{

        p{

          a{
            margin: 0 0 0 -4px;
          }
        }

        h2{

          &:last-child{
            margin-right: -9px;
          }
        }
      }
    }

    .form-reservation__block-prices{

      .form-reservation__icon-info-price{
        position: absolute;
        left: 211px;
      }
    }

    .form-sign-in{
      padding: 37px 30px 30px 30px;
    }

    .ui-kit-cards__calendar-block{
      height: 395px;

      .dropdownItemCalendar{

        .calendar{
          margin-top: 0;
        }

        .dropdown-block__btns{

          .link_clean{
            margin-left: 13px;
          }
          
          .link_ok{
            margin-right: 7px;
          }
        }
      }
    }

    .card-room{
      margin: 14px 2.5px 40px 0px;

      .link_lux{
        margin: 0 0 0 -4px;
      }
    }
  }

  .form-search-num,
  .form-registration,
  .form-reservation,
  .form-sign-in{
    margin: 0;
  }
}

.ui-kit-cards__ico-logo{
  width: 48px;
  height: 48px;
  position:absolute;
  left: 31px;
  top: 30px;
}