.like {
  display: flex;
  justify-content: space-between;
  width: 38px;
  height: 18px;
  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  cursor: pointer;

  &_liked {
    border-color: #bc9cff;
  }

  &__ico {
    width: 10px;
    height: 10px;
    margin: 4px 0 5px 4px;
    cursor: pointer;
    background-image: url('./img/favorite-border.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }

  &__ico_liked {
    background-image: url('./img/favorite.svg');
  }

  &__sum {
    margin: 4px 10px 5px 0;
    font-size: 9.6px;
    display: flex;
    align-items: center;
    color: rgba(31, 32, 65, 0.25);
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  &__sum_liked {
    color: #bc9cff;
  }
}
