

mixin like({ qty = 0, liked = false})
  if liked == true
    .like.js-like.like_liked
      .like__ico.like__ico_liked
      .like__sum.like__sum_liked= qty
  else
    .like.js-like
      .like__ico
      .like__sum= qty