.sign-in {
  display: flex;
  justify-content: center;
  background-image: url('@Pages/sign-in/img/sign-in-background.png');
  height: 48.7vw;
  background-size: cover;
  background-position: bottom;
  position: relative;
  width: 100%;

  @media screen and (max-width: 800px) {
    height: auto;
  }

  &__form-sign-in {
    position: relative;
    margin: auto;

    @media screen and (max-width: 800px) {
      margin: 20px auto;
    }

    @media screen and (max-width: 380px) {
      width: 100%;
    }
  }
}
