include ../../blocks/elements/header/header.pug
include ../../blocks/elements/footer/footer.pug
include ../../blocks/cards/form-sign-in/form-sign-in.pug


include ../global-header.pug

div.sign-in
  +formSignIn

include ../global-footer.pug

script(src="/pages/sign-in/sign-in.js")