include ~@Blocks/header/header.pug
include ~@Blocks/footer/footer.pug
include ~@Blocks/form-sign-in/form-sign-in.pug


include ../global-header.pug

div.sign-in
  +formSignIn

include ../global-footer.pug

script(src="./sign-in.js")