.sign-in {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('@Pages/sign-in/fon.png');
  height: 48.6vw;
  background-size: cover;
  background-position: bottom;

  .form-sign-in {
    margin: auto;
    margin-top: 12%;

    h1 {
      margin-bottom: 9px;
    }
  }
}

@media (max-width: 640px) {
  .sign-in {
    background: none;
    height: auto;
  }

  .form-sign-in {
    position: inherit;
    margin: 20px auto !important;
  }
}
