.comment-block {
  width: 100%;

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 22px;

    h2 {
      line-height: 21px;
    }

    p {
      margin: 0 44px 0 0;
    }
  }

  &__comment {
    margin: 23px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__person {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__photo {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  }

  &__name-time {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    p {
      font-size: 14px;
    }
  }

  &__name {
    font-weight: 700;
    margin: 0;
  }

  &__time {
    margin-bottom: 12px;
    margin: 0;
  }

  &__comment-text {
    display: flex;

    .like {
      margin: 2px 0 0 3px;
    }

    p {
      width: 86.5%;
      font-size: 14px;
    }
  }

  &__text {
    margin: 0;
    margin-left: 15px;
  }
}
