include /pages/ui-kit_headerFooter/header.pug
include /pages/ui-kit_headerFooter/footer.pug
include /blocks/elements/dropdown/dropdownBlock.pug
include /blocks/elements/dropdown/dropdownDates.pug
include /blocks/elements/checkboxList/checkboxList.pug
include /blocks/elements/checkboxListExpandable/checkboxListExpandable.pug
include /blocks/elements/rangeSlider/rangeSlider.pug
include /blocks/elements/pagination/pagination.pug
include /blocks/cards/cardRoom/cardRoom.pug


+header(0)

div.content.searchRoom__shadow
  div.content_container.searchRoom
    div.searchRoom_filters
      div.searchRoom_filters_date
        +dropdownBlock(          
          { 
            topic : "даты пребывания в отеле",
            label : "",
            activeText : "19 авг - 23 авг",
            state : "close",
            btnClean : false,
            btnOk : false
          }
          )
      
      div.searchRoom_filters_guest
        +dropdownBlock(          
          { 
            topic : "Гости",
            label : "",
            activeText : "3 гостя, 1 младенец",
            state : "close",
            btnClean : false,
            btnOk : true
          },
          {
            text : "взрослые",
            qty : 3,
            minus : "active",
            plus : "active"
          },
          {
            text : "дети",
            qty : 0,
            minus : "disable",
            plus : "active"
          },
          {
            text : "младенцы",
            qty : 1,
            minus : "active",
            plus : "active"
          }    
          )
      
      div.searchRoom_filters_diapason.slider101
        +rangeSlider(
          {
            topic : "диапазон цены",
            labelMin : 5000,
            labelMax : 10000,
            id : "idPrice1",
            postText : "Стоимость за сутки пребывания в номере"
          }
          )
      
      div.searchRoom_filters_features
        h3 Правила дома
        +checkboxList("",
          {
            label : "Можно курить", 
            id : 51,
            p : "", 
            p__dopclass : ""
          },
          {
            label : "Можно с питомцами", 
            id : 52,
            p : "", 
            p__dopclass : ""
          },
          {
            label : "Можно пригласить гостей (до 10 человек)", 
            id : 53,
            p : "", 
            p__dopclass : ""
          }
        )
      
      div.searchRoom_filters_availability
        h3 доступность
        +checkboxList("",
          {
            label : "Широкий коридор", 
            id : 61,
            p : "Ширина коридоров в номере не менее 91 см.", 
            p__dopclass : "checkbox-list__p_width200"
          },
          {
            label : "Помощник для инвалидов", 
            id : 62,
            p : "На 1 этаже вас встретит специалист и проводит до номера.", 
            p__dopclass : "checkbox-list__p_width225"
          }
        )
        
      div.searchRoom_filters_comfort
        +dropdownBlock(          
          { 
            topic : "удобства номера",
            label : "",
            activeText : "2 спальни, 2 кровати...",
            state : "close",
            btnClean : false,
            btnOk : false
          },
          {
            text : "спальни",
            qty : 2,
            minus : "active",
            plus : "active"
          },
          {
            text : "кровати",
            qty : 2,
            minus : "active",
            plus : "active"
          },
          {
            text : "ванные комнаты",
            qty : 0,
            minus : "disable",
            plus : "active"
          }    
          )

      +checkboxListExpandable("дополнительные удобства","close",
        {
          label : "Завтрак", 
          id : 71,
          p : "", 
          p__dopclass : ""
        },
        {
          label : "Письменный стол", 
          id : 72,
          p : "", 
          p__dopclass : ""
        },
        {
          label : "Стул для кормления", 
          id : 73,
          p : "", 
          p__dopclass : ""
        },
        {
          label : "Кроватка", 
          id : 74,
          p : "", 
          p__dopclass : ""
        },
        {
          label : "Телевизор", 
          id : 75,
          p : "", 
          p__dopclass : ""
        },
        {
          label : "Шампунь", 
          id : 76,
          p : "", 
          p__dopclass : ""
        }
      )

    div.searchRoom_rooms
      h1 Номера, которые мы для вас подобрали
      
      +cardRoom(1,888,"9 990","люкс",145,5)
      +cardRoom(2,840,"9 900","",65,4)
      +cardRoom(3,980,"8 500","люкс",35,3)
    
      +cardRoom(4,856,"7 300","",19,5)
      +cardRoom(5,740,"6 000","",44,4)
      +cardRoom(6,982,"5 800","",56,3)
    
      +cardRoom(7,678,"5 500","",45,5)
      +cardRoom(8,450,"5 300","",39,4)
      +cardRoom(9,350,"5 000","",77,3)
    
      +cardRoom(10,666,"5 000","",25,5)
      +cardRoom(11,444,"5 000","",15,3)
      +cardRoom(12,352,"5 000","",55,3)
  
      +pagination(
        {
          text : "1 – 12 из 100+ вариантов аренды",
          max : 15
        }
        )

+footer