include /blocks/elements/header/header.pug
include /blocks/elements/footer/footer.pug

include /blocks/elements/dropdown/dropdownBlock.pug
include /blocks/elements/rangeSlider/rangeSlider.pug
include /blocks/elements/checkboxList/checkboxList.pug
include /blocks/elements/checkboxListExpandable/checkboxListExpandable.pug
include /blocks/cards/cardRoom/cardRoom.pug
include /blocks/elements/pagination/pagination.pug


+header(
  {
      authorization : 0,
      name : "",
    },
    {
      menuItem : "О нас",
      state : "active",
      type : "main"
    },
    {
      menuItem : "Услуги",
      state : "",
      type : "expand"
    },
    {
      menuItem : "Вакансии",
      state : "",
      type : "main"
    },
    {
      menuItem : "Новости",
      state : "",
      type : "main"
    },
    {
      menuItem : "Соглашения",
      state : "",
      type : "expand"
    }
  )

div.search-room
  div.search-room__filters
    div.search-room__filter-date
      +dropdownBlock(
        { 
          topic : "даты пребывания в отеле",
          label : "",
          activeText : "19 авг - 23 авг",
          state : "close",
          btnClean : false,
          btnOk : false
        }
        )
    
    div.search-room__filter-guest
      +dropdownBlock(
        { 
          topic : "Гости",
          label : "",
          activeText : "3 гостя, 1 младенец",
          state : "close",
          btnClean : false,
          btnOk : true
        },
        {
          text : "взрослые",
          qty : 3,
          minus : "active",
          plus : "active"
        },
        {
          text : "дети",
          qty : 0,
          minus : "disable",
          plus : "active"
        },
        {
          text : "младенцы",
          qty : 1,
          minus : "active",
          plus : "active"
        }    
        )
    
    div.search-room__slider-price
      +rangeSlider(
        {
          topic : "диапазон цены",
          labelMin : 5000,
          labelMax : 10000,
          id : "idPrice1",
          postText : "Стоимость за сутки пребывания в номере"
        }
        )
    
    div.search-room__filter-features
      h3 Правила дома
      +checkboxList(
        { 
          stateHide : ""
        },
        {
          label : "Можно курить", 
          id : 51,
          p : "", 
          p__dopclass : ""
        },
        {
          label : "Можно с питомцами", 
          id : 52,
          p : "", 
          p__dopclass : ""
        },
        {
          label : "Можно пригласить гостей (до 10 человек)", 
          id : 53,
          p : "", 
          p__dopclass : ""
        }
      )
    
    div.search-room__filter-availability
      h3 доступность
      +checkboxList(
        { 
          stateHide : ""
        },
        {
          label : "Широкий коридор", 
          id : 61,
          p : "Ширина коридоров в номере не менее 91 см.", 
          p__dopclass : "checkbox-list__p_width200"
        },
        {
          label : "Помощник для инвалидов", 
          id : 62,
          p : "На 1 этаже вас встретит специалист и проводит до номера.", 
          p__dopclass : "checkbox-list__p_width225"
        }
      )
      
    div.search-room__filter-comfort
      +dropdownBlock(
        { 
          topic : "удобства номера",
          label : "",
          activeText : "2 спальни, 2 кровати...",
          state : "close",
          btnClean : false,
          btnOk : false
        },
        {
          text : "спальни",
          qty : 2,
          minus : "active",
          plus : "active"
        },
        {
          text : "кровати",
          qty : 2,
          minus : "active",
          plus : "active"
        },
        {
          text : "ванные комнаты",
          qty : 0,
          minus : "disable",
          plus : "active"
        }    
        )

    +checkboxListExpandable("дополнительные удобства","close",
      {
        label : "Завтрак", 
        id : 71,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Письменный стол", 
        id : 72,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Стул для кормления", 
        id : 73,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Кроватка", 
        id : 74,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Телевизор", 
        id : 75,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Шампунь", 
        id : 76,
        p : "", 
        p__dopclass : ""
      }
    )

  div.search-room__rooms
    h1 Номера, которые мы для вас подобрали
    
    +cardRoom(
      {
        id : 1,
        number : 888,
        price : "9 990",
        markLink : "люкс",
        review : 145,
        rating : 5
      }
      )
    +cardRoom(
      {
        id : 2,
        number : 840,
        price : "9 900",
        markLink : "",
        review : 65,
        rating : 4
      }
      )
    +cardRoom(
      {
        id : 3,
        number : 980,
        price : "8 500",
        markLink : "люкс",
        review : 35,
        rating : 3
      }
      )
    
    +cardRoom(
      {
        id : 4,
        number : 856,
        price : "7 300",
        markLink : "",
        review : 19,
        rating : 5
      }
      )
    +cardRoom(
      {
        id : 5,
        number : 740,
        price : "6 000",
        markLink : "",
        review : 44,
        rating : 4
      }
      )
    +cardRoom(
      {
        id : 6,
        number : 982,
        price : "5 800",
        markLink : "",
        review : 56,
        rating : 3
      }
      )
    
    +cardRoom(
      {
        id : 7,
        number : 678,
        price : "5 500",
        markLink : "",
        review : 45,
        rating : 5
      }
      )
    +cardRoom(
      {
        id : 8,
        number : 450,
        price : "5 300",
        markLink : "",
        review : 39,
        rating : 4
      }
      )
    +cardRoom(
      {
        id : 9,
        number : 350,
        price : "5 000",
        markLink : "",
        review : 77,
        rating : 3
      }
      )
    
    +cardRoom(
      {
        id : 10,
        number : 666,
        price : "5 000",
        markLink : "",
        review : 25,
        rating : 5
      }
      )
    +cardRoom(
      {
        id : 11,
        number : 444,
        price : "5 000",
        markLink : "",
        review : 15,
        rating : 3
      }
      )
    +cardRoom(
      {
        id : 12,
        number : 352,
        price : "5 000",
        markLink : "",
        review : 55,
        rating : 3
      }
      )

    +pagination(
        {
          text : "1 – 12 из 100+ вариантов аренды",
          max : 15
        }
        )

+footer