@import '/ui_kit/color_type/color_type.scss';

.formReservation{
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	width: 380px;
	height: auto;//511px;
	padding: 40px 30px 30px 30px;
	
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-between;

	p{
		margin: 0;
	}

	.formReservation_block{
		display: flex;
		justify-content: space-between;
		width: 100%;
		position: relative;
		align-items: baseline;

		p{
			&:nth-child(1){
				color: $colorDarkShade100;

				span{
					&:nth-child(2){
						font-size: 20px;
					}
				}
			}
			&:nth-child(2){
				color: $colorDarkShade50;

				span{
					&:nth-child(1){
						font-weight: bold;
					}
				}
			}

			span{
				&:nth-child(1),
				&:nth-child(2){
					font-weight: bold;
				}
			}
		}

		.link{
			margin: 0;
		}

		.dashed{
			border: 1px dashed $colorDarkShade25;
			height: 0;
			width: 100%;
			box-sizing: border-box;
			margin: 0 5px;
		}

		h2{
			white-space: nowrap;
		}
	}

	.formReservation_block__flexcolumn{
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;

		.formReservation_block__flex{
			display: flex;
			justify-content: space-between;
		}
	}


	.formReservation_blockPrices{
		margin: 20px 0;
		width: 100%;
		
		.formReservation_blockPrices_line{
			width: 100%;
			display: flex;
			justify-content: space-between;
			position: relative;
			margin: 10px 0;

			&:first-child{
				margin: 0;
			}
			&:last-child{
				margin: 0;//30px 0 0 0;
			}
		
			p{
				&.formReservation_blockPrices_line_p__text{
					width: 215px;
				}

				&.formReservation_blockPrices_line_p__infoMark{

					&:before{
						content: "i";
						position: absolute;
						left: 220px;
						width: 20px;
						height: 20px;
						border: 1px solid $colorDarkShade25;
						box-sizing: border-box;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						color: $colorDarkShade25;
						cursor: pointer;
					}
				}
			}	
		}
	}

	h3{
		margin: 20px 0 0 0;
	}

	.btn{
		width: 100%;
		margin: 20px 0 0 0;
	}
}

