extends ~@Blocks/layout/layout.pug
include ~@Blocks/input-text/input-text.pug
include ~@Blocks/dropdown/dropdown.pug
include ~@Blocks/dropdown-dates/dropdown-dates.pug
include ~@Blocks/button/button.pug
include ~@Blocks/button-with-arrow/button-with-arrow.pug
include ~@Blocks/checkbox-list/checkbox-list.pug
include ~@Blocks/checkbox-list-expandable/checkbox-list-expandable.pug
include ~@Blocks/radiogroup/radiogroup.pug
include ~@Blocks/toggle-block/toggle-block.pug
include ~@Blocks/like/like.pug
include ~@Blocks/rate-btn/rate-btn.pug
include ~@Blocks/range-slider/range-slider.pug
include ~@Blocks/link/link.pug
include ~@Blocks/pagination/pagination.pug
include ~@Blocks/list-block/list-block.pug
include ~@Blocks/info-block/info-block.pug
include ~@Blocks/comment-block/comment-block.pug

block viewport
  meta(name="viewport" content="width=1440, initial-scale=1.0")

block links
  link(rel="stylesheet" type="text/css" href="./css/ui-kit-form-elements.js.css")

block header
block footer

block content
  main.ui-kit-form-elements.js-ui-kit-form-elements
    a(href="./index.html")
      img.ui-kit-form-elements__ico-logo(src=require("@Pages/ui-kit-form-elements/img/ico-logo.svg").default alt="logo")
    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_1
      .ui-kit-form-elements__input-text
        +inputText(
          {
            topic : "Text Field",
            label : "Default",
            placeholder : "Email",
            id : "EmailBlk_1",
          }
        )
      .ui-kit-form-elements__input-text
        +inputText(
          {
            topic : "Text Field",
            label : "Hover / Focus",
            placeholder : "This is pretty awesome",
            inputText : "This is pretty awesome",
            state : "focus",
            id : "FocusBlk_1",
          }
        )

      .ui-kit-form-elements__dropdown
        +dropdown(
          { 
            name : "guests",
            topic : "Dropdown",
            activeText : "Сколько гостей",
            hasBtnClean : false,
            hasBtnOk : false
          }
        )

      .ui-kit-form-elements__input-text
        +inputText(
          {
            topic : "masked Text Field",
            placeholder : "ДД.ММ.ГГГГ",
            id : "blk_3",
            name : "date"
          }
        )

      .ui-kit-form-elements__dropdown-dates
        +dropdownDates(
          {
            items : [
              {
                topic : "date Dropdown",
              },
              {
                topic : "date Dropdown",
                activeDate : "19.08.2019",
              }
            ]
          }
        )

      .ui-kit-form-elements__input-blk-narrow
        .ui-kit-form-elements__dropdown
          +dropdown(
            {
              name : "date",
              topic : "filter date dropdown",
              activeText : "19 авг - 23 авг",
              hasBtnClean : false,
              hasBtnOk : false
            }
          )

        .ui-kit-form-elements__input-text.ui-kit-form-elements__input-text_subscription
          +inputText(
            {
              topic : "subscription text field",
              placeholder : "Email",
              id : "blk_4",
              type : "subscription",
            }
          )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_2
      h3 Checkbox Buttons
      .ui-kit-form-elements__checkbox-list
        +checkboxList(
          {
            items : [
              {
                label : "Можно курить", 
                id : 11,
              },
              {
                label : "Можно с питомцами", 
                id : 12,
              },
              {
                label : "Можно пригласить гостей (до 10 человек)", 
                id : 13,
              }
            ]
          }
        )

      h3 Radio Buttons
      .ui-kit-form-elements__radiogroup
        +radiogroup(
          {
            nameGroup : "rbGroopUiFormEl",
            idMainBlock : "UiFormEl",
            items : [
              {
                text : "Мужчина",
                check : "checked"
              },
              {
                text : "Женщина"
              }
            ]
          }
        )

      h3 Toggle
      .ui-kit-form-elements__toggle-group
        .ui-kit-form-elements__toggle-block
          +toggleBlock(
            {
              text : "Получать спецпредложения",
              active : "on"
            }
          )
        .ui-kit-form-elements__toggle-block
          +toggleBlock(
            {
              text : "Получать спецпредложения",
            }
          )

      h3 like button
      .ui-kit-form-elements__like-group
        .ui-kit-form-elements__like
          +like(
            {
              qty : 2,
            }
          )
        .ui-kit-form-elements__like
          +like(
            {
              qty : 12,
              liked : true
            }
          )

      h3 rate button
      .ui-kit-form-elements__rate-btn-group
        .ui-kit-form-elements__rate-btn
          +rateBtn(
            {
              active : 4
            }
          )
        .ui-kit-form-elements__rate-btn
          +rateBtn(
            {
              active : 5
            }
          )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_3
      .ui-kit-form-elements__slider
        +rangeSlider(
          {
            topic : "Range Slider",
            labelMin : 5000,
            labelMax : 10000,
            id : "idSlider2",
          }
        )

      h3 buttons
      .ui-kit-form-elements__btn-group
        form.ui-kit-form-elements__btn(action='./link-stub')
          +button(
            {
              text : "CLICK ME",
            }
          )
        form.ui-kit-form-elements__btn(action='./link-stub')
          +button(
            {
              text : "CLICK ME",
            }
          )

      .ui-kit-form-elements__btn-group.ui-kit-form-elements__btn-group_border
        form.ui-kit-form-elements__btn(action='./link-stub')
          +button(
            {
              text : "CLICK ME",
              hasBorder: true,
            }
          )
        form.ui-kit-form-elements__btn(action='./link-stub')
          +button(
            {
              text : "CLICK ME",
              hasBorder: true,
            }
          )

      .ui-kit-form-elements__link-group
        .ui-kit-form-elements__link
          +link(
            {
              text : "CLICK ME",
            }
          )
        .ui-kit-form-elements__link
          +link(
            {
              text : "CLICK ME",
              type : "gray"
            }
          )

      form.ui-kit-form-elements__btn.ui-kit-form-elements__btn_arrow(action='./link-stub')
        +buttonArrow(
          {
            text : "перейти к оплате",
          }
        )

      h3 pagination
      .ui-kit-form-elements__pagination
        +pagination(
          {
            text : "1 – 12 из 100+ вариантов аренды",
            max : 15
          }
        )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_4
      .ui-kit-form-elements__dropdown
        +dropdown(
          { 
            name : "room",
            topic : "Dropdown",
            label : "Default",
            activeText : "2 спальни, 2 кровати...",
            hasBtnClean : false,
            hasBtnOk : false
          }
        )
      .ui-kit-form-elements__dropdown
        +dropdown(
          { 
            name : "room",
            topic : "Dropdown",
            label : "expanded",
            activeText : "2 спальни, 2 кровати...",
            state : "open",
            hasBtnClean : false,
            hasBtnOk : false,
            items : [
              {
                text : "спальни",
                number : 2,
              },
              {
                text : "кровати",
                number : 2,
              },
              {
                text : "ванные комнаты",
              }
            ]
          }
        )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_5
      +dropdown(
        { 
          name : "guests",
          topic : "Dropdown",
          activeText : "Сколько гостей",
          state : "open",
          hasBtnClean : false,
          items : [
            {
              text : "взрослые",
            },
            {
              text : "дети",
            },
            {
              text : "младенцы",
            }
          ]
        }
      )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_6
      +dropdown(
        { 
          name : "guests",
          topic : "Dropdown",
          activeText : "3 гостя",
          state : "open",
          items : [
            {
              text : "взрослые",
              number : 2,
            },
            {
              text : "дети",
              number : 1,
            },
            {
              text : "младенцы",
            }
          ]
        }
      )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_7
      .ui-kit-form-elements__checkbox-list-expandable
        +checkboxListExpandable(
          {
            topic : "expandable checkbox list",
            items : [
              {
                label : "Тест", 
                id : 2100,
              }
            ]
          }
        )
      .ui-kit-form-elements__checkbox-list-expandable
        +checkboxListExpandable(
          {
            topic: "expandable checkbox list",
            state : "open",
            items : [
              {
                label : "Завтрак", 
                id : 21,
              },
              {
                label : "Письменный стол", 
                id : 22,
              },
              {
                label : "Стул для кормления", 
                id : 23,
              },
              {
                label : "Кроватка", 
                id : 24,
              },
              {
                label : "Телевизор", 
                id : 25,
              },
              {
                label : "Шампунь", 
                id : 26,
              }
            ]
          }
        )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_8
      h3 Rich Checkbox Buttons
      .ui-kit-form-elements__checkbox-list
        +checkboxList(
          {
            haveAdditionalText : true,
            items : [
              {
                label : "Широкий коридор", 
                id : 31,
                additionalText : "Ширина коридоров в номере не менее 91 см.",
                widthAdditionalText : 200,
              },
              {
                label : "Помощник для инвалидов", 
                id : 32,
                additionalText : "На 1 этаже вас встретит специалист и проводит до номера.",
                widthAdditionalText : 225,
              },
            ]
          }
        )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_9
      h3 bullet list
      .ui-kit-form-elements__list-block
        +listBlock(
          {
            list : ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
          }
        )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_10
      +infoBlock(
        {
          qtyHR : 2,
          items : [
            {
              label : "Комфорт",
              text : "Шумопоглощающие стены",
              url : require("@Pages/ui-kit-form-elements/img/emoticon.svg").default,
              pictureName : "emoticon"
            },
            {
              label : "Удобство",
              text : "Окно в каждой из спален",
              url : require("@Pages/ui-kit-form-elements/img/city.svg").default,
              pictureName : "city"
            }
          ]
        }
      )

    .ui-kit-form-elements__blk.ui-kit-form-elements__blk_11
      .ui-kit-form-elements__comment-block
        +commentBlock(
          {
            items : [
              {
                urlImg: require("@Pages/ui-kit-form-elements/img/photo1.png").default,
                liked : true,
                qty : 12,
                name : "Мурад Сарафанов",
                time : "5 дней назад",
                text : `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`
              }
            ]
          }
        )

  script(src="./js/ui-kit-form-elements.js")