.ui-kit-form-elements {
  display: flex;
  flex-wrap: wrap;
  padding: 123px 50px 130px 120px;
  position: relative;
  box-sizing: border-box;
  width: 1440px;

  &__ico-logo {
    position: absolute;
    left: 31px;
    top: 30px;
  }

  &__flex-block {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  &__blk {
    margin: 20px 20px 59px 20px;
    width: 320px;
  }

  &__blk_1 {
    margin-right: 106px;
  }

  &__input-text {
    margin-bottom: 21px;
  }

  &__dropdown {
    margin-bottom: 23px;
  }

  &__dropdown-dates {
    margin: 39px 0 42px 0;
  }

  &__input-blk-narrow {
    width: 267px;
  }

  &__input-text_subscription {
    margin-top: 41px;
  }

  &__blk_2 {
    margin-right: 53px;
  }

  &__checkbox-list {
    margin: 15px 85px 40px 0;
  }

  &__radiogroup {
    margin: 12px 0 39px 0;
  }

  &__toggle-group {
    margin: 8px 0 44px 0;
  }

  &__toggle-block {
    margin: 4px 0 5px 0;
  }

  &__like-group,
  &__rate-btn-group {
    display: flex;
    justify-content: flex-start;
    margin: 17px 0 40px 1px;
  }

  &__like {
    margin: 0 10px 0 0;
  }

  &__rate-btn {
    margin: 0 20px 0 0;
  }

  &__blk_3 {
    width: 320px;
  }

  &__slider {
    width: 266px;
    margin-bottom: 44px;
  }

  &__btn-group {
    display: flex;
    justify-content: flex-start;
    margin: 17px 0 30px 1px;
  }

  &__btn-group_border {
    margin-bottom: 27px;
  }

  &__btn {
    margin: 0 20px 0 0;
  }

  &__btn_arrow {
    width: 100%;
    margin-bottom: 40px;
  }

  &__link-group {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 25px 1px;
  }

  &__link {
    margin: 0 20px 0 1px;
  }

  &__pagination {
    width: 241px;
    margin: 16px 0 0 0;
  }

  &__blk_4 {
    width: 266px;
    height: 261px;
    margin-right: 161px;
    margin-bottom: 39px;

    .ui-kit-form-elements__dropdown {
      margin-bottom: 20px;
    }
  }

  &__blk_5 {
    margin-right: 52px;
  }

  &__blk_7 {
    width: 265px;
    margin-right: 161px;
    margin-bottom: 10px;
  }

  &__checkbox-list-expandable {
    margin: 0 0 50px 0;
  }

  &__blk_8 {
    width: 260px;
    margin-right: 113px;
  }

  &__list-block {
    margin-top: 14px;
  }

  &__blk_9 {
    width: 260px;
  }

  &__blk_10 {
    width: 278px;
    margin-right: 149px;
    margin-bottom: 39px;
  }

  &__blk_11 {
    width: 755px;
  }

  &__comment-block {
    margin-top: 29px;
  }
}
