.ui-kit-form-elements {
  display: flex;
  flex-wrap: wrap;
  padding: 123px 50px 130px 120px;
  position: relative;
  box-sizing: border-box;
  width: 1440px;

  .ui-kit-form-elements__ico-logo {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 31px;
    top: 30px;
  }

  h3 {
    font-size: 12px;
  }

  .ui-kit-form-elements__blk {
    margin: 20px 20px 39px 20px;
    width: 320px;

    .ui-kit-form-elements__flex-block {
      display: flex;
      width: 100%;
      justify-content: flex-start;
    }

    &.ui-kit-form-elements__blk_1 {
      margin-right: 106px;

      .input-text {
        margin-bottom: 20px;

        &:nth-child(2) {
          .topic-label {
            p {
              line-height: 16px;
              font-size: 11.7px;
            }
          }
        }
      }

      .dropdown {
        margin-bottom: 23px;
      }

      .dropdown-dates {
        margin-top: 39px;
        margin-bottom: 18px;

        .calendar-block {
          .calendar-block__btns {
            width: 301px;
            transform: translateX(-1.2px);
          }
        }
      }

      .ui-kit-form-elements__input-blk-narrow {
        width: 267px;

        .input-text_subscription {
          margin: 41px 0;

          .input-text__input {
            width: 100%;
          }
        }
      }
    }

    &.ui-kit-form-elements__blk_2 {
      margin-right: 53px;

      .checkbox-list {
        margin-bottom: 31px;
      }

      .radiogroup__radio-btn {
        margin-bottom: 26px;

        .radiogroup__label {
          padding-left: 30px;
          margin: 16px 20px 16px 0;
        }
      }

      h3:nth-child(5) {
        // Toggle
        font-size: 12px;
        line-height: 17px;
      }

      .toggle-block {
        &:nth-child(6) {
          margin-top: 7px;
        }
        &:nth-child(7) {
          margin-bottom: 43px;
        }
      }

      .like {
        margin: 16px 9px 40px 1px;
      }

      .rate-btn {
        margin: 17px 19px 0 1px;
      }
    }

    &.ui-kit-form-elements__blk_3 {
      .btn {
        margin: 16px 20px 14px 0px;
        height: 44px;
        line-height: 35px;
        width: 99px;

        .btn__block {
          &.btn__block_gradient_pay {
            .btn__link {
              letter-spacing: 0.1px;
            }
          }

          .btn__link {
            letter-spacing: -0.3px;
          }
        }
      }

      .link {
        font-size: 12px;
        margin-top: 17px;
        margin-left: 1px;
      }

      .ui-kit-form-elements__flex-block_btn-pay {
        margin-bottom: 26px;
      }

      .pagination {
        margin: 16px 0 9px;

        .pagination__num-block {
          margin: 10px 0 6px;
        }

        .pagination__num-block,
        .pagination__label {
          justify-content: flex-start;
        }

        .pagination__label {
          margin-left: 6px;
        }
      }
    }

    &.ui-kit-form-elements__blk_slider {
      width: 320px;

      .ui-kit-form-elements__slider-blk {
        width: 266px;

        .range-slider {
          margin-bottom: 8px;

          .range-slider__topic-label {
            align-items: flex-start;

            .range-slider__label-block {
              margin: 2px 0 6px 0;
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }
    }

    &.ui-kit-form-elements__blk_4 {
      width: 265px;
      height: 261px;
      margin: 20px 161px 39px 20px;

      .dropdown__dropdown-items {
        padding-bottom: 5px;
      }
    }

    &.ui-kit-form-elements__blk_4,
    &.ui-kit-form-elements__blk_5,
    &.ui-kit-form-elements__blk_6 {
      .dropdown {
        margin-bottom: 20px;

        .topic-label {
          display: flex;
          justify-content: space-between;

          h3,
          p {
            margin: 0;
          }

          p {
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1f2041;
          }
        }

        .dropdown__dropdown {
          border-radius: 4px 4px 0 0;
        }

        .dropdown__dropdown-items {
          .dropdown__items-line {
            height: auto;

            h3 {
              padding: 13px 13px 10px 14px;
            }

            .dropdown__block-qty {
              margin: 5px 5px 0 0;

              span {
                font-size: 12px;
                margin-bottom: 3px;
              }
            }
          }
        }
      }
    }

    &.ui-kit-form-elements__blk_5 {
      margin: 20px 52px 20px 20px;

      .dropdown__dropdown-items {
        padding-bottom: 0;

        .dropdown__btns {
          height: auto;

          .link_ok {
            margin: 20px 6px 11px 0;
          }
        }
      }
    }

    &.ui-kit-form-elements__blk_6 {
      .dropdown__dropdown-items {
        .dropdown__btns {
          height: auto;

          .link_clean {
            margin: 20px 0 11px 14px;
          }

          .link_ok {
            margin: 20px 6px 11px 0;
          }
        }
      }
    }

    &.ui-kit-form-elements__blk_7 {
      width: 265px;
      margin-right: 161px;
      margin: 20px 161px 5px 20px;

      .checkbox-list-expandable {
        margin: 0 0 50px 0;

        .checkbox-list {
          &.checkbox-list_hide {
            + .checkbox-list-expandable__topicBlock {
              .checkbox-list-expandable__expand {
                transform: rotate(180deg);
              }
            }
          }

          .checkbox-list__label {
            padding: 0 0 9px 29px;
          }
        }
      }
    }

    &.ui-kit-form-elements__blk_8 {
      width: 260px;
      margin-right: 112px;

      .checkbox-list {
        margin-top: 14px;

        .checkbox-list__item:nth-child(1) {
          width: 220px;
        }

        .checkbox-list__label {
          padding: 1px 0 10px 30px;
          white-space: nowrap;
        }
      }
    }

    &.ui-kit-form-elements__blk_9 {
      .list-block {
        h3 {
          margin-bottom: 13px;
        }

        .list-block__item:before {
          margin: 7px 12px 7px 0;
        }
      }
    }

    &.ui-kit-form-elements__blk_10 {
      width: 278px;
      margin: 19px 149px 39px 20px;

      .info-block {
        width: 100%;
        min-width: unset;
        margin: 0;

        .info-block__item {
          margin: 24px 0 22px;

          .info-block__icon {
            margin-left: 4px;
            margin-top: 0;
          }

          .info-block__text p {
            line-height: 14px;
            margin-bottom: 3px;
          }
        }
      }
    }

    &.ui-kit-form-elements__blk_11 {
      margin: 26px 20px 39px 20px;
      width: 755px;
    }
  }
}
