include ~@Blocks/input-text/input-text.pug
include ~@Blocks/dropdown/dropdownBlock.pug
include ~@Blocks/dropdown/dropdownDates.pug
include ~@Blocks/btn/btn.pug
include ~@Blocks/checkbox-list/checkbox-list.pug
include ~@Blocks/checkbox-list-expandable/checkbox-list-expandable.pug
include ~@Blocks/radiogroup/radiogroup.pug
include ~@Blocks/toggle-block/toggle-block.pug
include ~@Blocks/like/like.pug
include ~@Blocks/rate-btn/rate-btn.pug
include ~@Blocks/range-slider/range-slider.pug
include ~@Blocks/link/link.pug
include ~@Blocks/pagination/pagination.pug
include ~@Blocks/list-block/list-block.pug
include ~@Blocks/info-block/info-block.pug
include ~@Blocks/comment-block/comment-block.pug


include ~@Blocks/global-head/global-head.pug

div.ui-kit-form-elements
  a(href="./index.html")
    img.ui-kit-form-elements__ico-logo(src=require("@Pages/ui-kit-form-elements/ico-logo.svg").default alt="logo")
  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_1
    +inputText(
      {
        topic : "Text Field",
        label : "Default",
        placeholder : "Email",
        inputText : "",
        state : "",
        id : "EmailBlk_1",
        name : ""
      }
    )
    +inputText(
      {
        topic : "Text Field",
        label : "Hover / Focus",
        placeholder : "This is pretty awesome",
        inputText : "This is pretty awesome",
        state : "focus",
        id : "FocusBlk_1",
        name : ""
      }
    )

    +dropdownBlock(
      { 
        name : "guests",
        topic : "Dropdown",
        label : "",
        activeText : "Сколько гостей",
        state : "close",
        btnClean : false,
        btnOk : false
      }
    )

    +inputText(
      {
        topic : "masked Text Field",
        label : "",
        placeholder : "ДД.ММ.ГГГГ",
        inputText : "",
        state : "",
        id : "blk_3",
        name : "date"
      }
    )

    +dropdownDates(
      { 
        topic : "date Dropdown",
        activeText : "ДД.ММ.ГГГГ",
      },
      { 
        topic : "date Dropdown",
        activeText : "19.08.2019",
      }
    ) 

    div.ui-kit-form-elements__input-blk-narrow
      +dropdownBlock(
        { 
          name : "date",
          topic : "filter date dropdown",
          label : "",
          activeText : "19 авг - 23 авг",
          state : "close",
          btnClean : false,
          btnOk : false
        }
      )

      +inputText(
        {
          topic : "subscription text field",
          label : "",
          placeholder : "Email",
          inputText : "",
          id : "blk_4",
          type : "subscription",
          name : ""
        }
      )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_2
    h3 Checkbox Buttons
    +checkboxList(
      { 
        stateHide : ""
      },
      {
        label : "Можно курить", 
        id : 11,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Можно с питомцами", 
        id : 12,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Можно пригласить гостей (до 10 человек)", 
        id : 13,
        p : "", 
        p__dopclass : ""
      }
    )

    h3 Radio Buttons
    +radiogroup(
      {
        nameGroup : "rbGroopUiFormEl",
        idMainBlock : "UiFormEl"
      },
      {
        text : "Мужчина",
        check : "checked"
      },
      {
        text : "Женщина"
      }
    )

    h3 Toggle
    +toggleBlock(
      {
        text : "Получать спецпредложения",
        active : "on"
      }
    )
    +toggleBlock(
      {
        text : "Получать спецпредложения",
        active : "off"
      }
    )

    h3 like button
    div.ui-kit-form-elements__flex-block
      +like(
        {
          qty : 2,
          liked : false
        }
      )
      +like(
        {
          qty : 12,
          liked : true
        }
      )

    h3 rate button
    div.ui-kit-form-elements__flex-block
      +rateBtn(
        {
          qty : 5,
          active : 4
        }
      )
      +rateBtn(
        {
          qty : 5,
          active : 5
        }
      )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_3.ui-kit-form-elements__blk_slider
    div.ui-kit-form-elements__slider-blk
      +rangeSlider(
        {
          topic : "Range Slider",
          labelMin : 5000,
          labelMax : 10000,
          id : "idSlider2",
          postText : ""
        }
      )

    h3 buttons
    div.ui-kit-form-elements__flex-block
      +btn(
        {
          text : "CLICK ME",
          link : "#",
          arrow : false,
          border: false,
          hover: false
        }
      )
      +btn(
        {
          text : "CLICK ME",
          link : "#",
          arrow : false,
          border: false,
          hover: true
        }
      )

    div.ui-kit-form-elements__flex-block
      +btn(
        {
          text : "CLICK ME",
          link : "#",
          arrow : false,
          border: true,
          hover: false
        }
      )
      +btn(
        {
          text : "CLICK ME",
          link : "#",
          arrow : false,
          border: true,
          hover: true
        }
      )

    div.ui-kit-form-elements__flex-block
      +link(
        {
          text : "CLICK ME",
          url : "#",
          type : "main"
        }
      )
      +link(
        {
          text : "CLICK ME",
          url : "#",
          type : "clean"
        }
      )

    div.ui-kit-form-elements__flex-block.ui-kit-form-elements__flex-block_btn-pay
      +btn(
        {
          text : "перейти к оплате",
          link : "#",
          arrow : true,
          border: false,
          hover: false
        }
      )

    h3 pagination
    +pagination(
      {
        text : "1 – 12 из 100+ вариантов аренды",
        max : 15
      }
    )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_4
    +dropdownBlock(
      { 
        name : "room",
        topic : "Dropdown",
        label : "Default",
        activeText : "2 спальни, 2 кровати...",
        state : "close",
        btnClean : false,
        btnOk : false
      }
    )
    +dropdownBlock(
      { 
        name : "room",
        topic : "Dropdown",
        label : "expanded",
        activeText : "2 спальни, 2 кровати...",
        state : "open",
        btnClean : false,
        btnOk : false
      },
      {
        text : "спальни",
        qty : 2,
        minus : "active",
        plus : "active"
      },
      {
        text : "кровати",
        qty : 2,
        minus : "active",
        plus : "active"
      },
      {
        text : "ванные комнаты",
        qty : 0,
        minus : "disable",
        plus : "active"
      }
    )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_5
    +dropdownBlock(
      { 
        name : "guests",
        topic : "Dropdown",
        label : "",
        activeText : "Сколько гостей",
        state : "open",
        btnClean : false,
        btnOk : true
      },
      {
        text : "взрослые",
        qty : 0,
        minus : "disable",
        plus : "active"
      },
      {
        text : "дети",
        qty : 0,
        minus : "disable",
        plus : "active"
      },
      {
        text : "младенцы",
        qty : 0,
        minus : "disable",
        plus : "active"
      }    
    )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_6
    +dropdownBlock(
      { 
        name : "guests",
        topic : "Dropdown",
        label : "",
        activeText : "3 гостя",
        state : "open",
        btnClean : true,
        btnOk : true
      },
      {
        text : "взрослые",
        qty : 2,
        minus : "active",
        plus : "active"
      },
      {
        text : "дети",
        qty : 1,
        minus : "active",
        plus : "active"
      },
      {
        text : "младенцы",
        qty : 0,
        minus : "disable",
        plus : "active"
      }    
    )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_7
    +checkboxListExpandable(
      {
        topic: "expandable checkbox list",
        state : "close",
      },
      {
        label : "Тест", 
        id : 2100,
        p : ""
      }
    )
    +checkboxListExpandable(
      {
        topic: "expandable checkbox list",
        state : "open",
      },
      {
        label : "Завтрак", 
        id : 21,
        p : ""
      },
      {
        label : "Письменный стол", 
        id : 22,
        p : ""
      },
      {
        label : "Стул для кормления", 
        id : 23,
        p : ""
      },
      {
        label : "Кроватка", 
        id : 24,
        p : ""
      },
      {
        label : "Телевизор", 
        id : 25,
        p : ""
      },
      {
        label : "Шампунь", 
        id : 26,
        p : ""
      }
    )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_8
    h3 Rich Checkbox Buttons
    +checkboxList(
      { 
        stateHide : ""
      },
      {
        label : "Широкий коридор", 
        id : 31,
        p : "Ширина коридоров в номере не менее 91 см.", 
        p__dopclass : "checkbox-list__p_width200"
      },
      {
        label : "Помощник для инвалидов", 
        id : 32,
        p : "На 1 этаже вас встретит специалист и проводит до номера.", 
        p__dopclass : "checkbox-list__p_width225"
      }
    )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_9
    +listBlock(
      {
        topic : "bullet list",
        tagTopic : "h3"
      },
      {
        text : "Нельзя с питомцами"
      },
      {
        text : "Без вечеринок и мероприятий"
      },
      {
        text : "Время прибытия — после 13:00, а выезд до 12:00"
      }
    )

  div.ui-kit-form-elements__blk.ui-kit-form-elements__blk_10
    +infoBlock(
      {
        topic : "",
        qtyHR : 2
      },
      {
        label : "Комфорт",
        text : "Шумопоглощающие стены",
        url : require("@Blocks/info-block/emoticon.svg").default,
        dopclass : "info-block__icon_emoticon"
      },
      {
        label : "Удобство",
        text : "Окно в каждой из спален",
        url : require("@Blocks/info-block/city.svg").default,
        dopclass : "info-block__icon_city"
      }
    )

  div.ui-kit-form-elements__blk.width.ui-kit-form-elements__blk_11
    +commentBlock(
      {
        topic : "",
        label : "2 отзыва"
      },
      {
        urlImg: require("@Pages/details-room/photo1.png").default,
        liked : true,
        qty : 12,
        name : "Мурад Сарафанов",
        time : "5 дней назад",
        text : `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`
      }
    )

script(src="./ui-kit-form-elements.js")