.search-room {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 9.6% 0 9.7%;

  @media screen and (max-width: 680px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__filters {
    width: 266px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 4.6%;

    @media screen and (max-width: 1170px) {
      margin-left: 20px;
    }

    @media screen and (max-width: 680px) {
      margin: 0;
    }
  }

  &__filter-date {
    margin-top: 30px;
  }

  &__filter-guest {
    margin-top: 20px;
  }

  &__range-slider {
    margin-top: 31px;
  }

  &__filter-features {
    margin-top: 26px;
    margin-right: 36px;
  }

  &__filter-topic {
    margin-bottom: 14px;
  }

  &__filter-availability {
    margin-top: 23px;
  }

  &__filter-comfort {
    margin-top: 23px;
  }

  &__checkbox-list-expandable {
    margin-top: 30px;
  }

  &__rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
    width: 100%;

    @media screen and (max-width: 1170px) {
      justify-content: space-around;
    }
  }

  &__topic-rooms {
    width: 100%;
    margin: 29px 0 10px 5px;
    font-size: 24px;
    font-weight: 700;

    @media screen and (max-width: 1170px) {
      text-align: center;
      padding: 0 15px;
    }
  }

  &__card-room {
    margin: 12px 2px 9px 7px;
  }

  &__pagination {
    margin: 31px auto auto auto;
    padding-right: 10px;
    width: 100%;
  }
}
