extends ~@Blocks/layout/layout.pug
include ~@Blocks/dropdown/dropdown.pug
include ~@Blocks/range-slider/range-slider.pug
include ~@Blocks/checkbox-list/checkbox-list.pug
include ~@Blocks/checkbox-list-expandable/checkbox-list-expandable.pug
include ~@Blocks/card-room/card-room.pug
include ~@Blocks/pagination/pagination.pug

block links
  link(rel="stylesheet" type="text/css" href="./css/search-room.js.css")

block content
  main.search-room.js-search-room
    .search-room__filters
      .search-room__filter-date
        +dropdown(
          { 
            name : "date",
            topic : "даты пребывания в отеле",
            activeText : "19 авг - 23 авг",
            btnClean : false,
            btnOk : false
          }
        )

      .search-room__filter-guest
        +dropdown(
          { 
            name : "guests",
            topic : "Гости",
            activeText : "3 гостя, 1 младенец",
            btnClean : false,
            items : [
              {
                text : "взрослые",
                qty : 3,
              },
              {
                text : "дети",
              },
              {
                text : "младенцы",
                qty : 1,
              }
            ]
          }
        )

      .search-room__range-slider
        +rangeSlider(
          {
            topic : "диапазон цены",
            labelMin : 5000,
            labelMax : 10000,
            id : "idSlider1",
            postText : "Стоимость за сутки пребывания в номере"
          }
        )

      .search-room__filter-features
        h3.search-room__filter-topic Правила дома
        +checkboxList(
          {
            items : [
              {
                label : "Можно курить", 
                id : 51,
              },
              {
                label : "Можно с питомцами", 
                id : 52,
              },
              {
                label : "Можно пригласить гостей (до 10 человек)", 
                id : 53,
              }
            ]
          }
        )

      .search-room__filter-availability
        h3.search-room__filter-topic доступность
        +checkboxList(
          {
            haveAdditionalText : true,
            items : [
              {
                label : "Широкий коридор", 
                id : 61,
                additionalText : "Ширина коридоров в номере не менее 91 см.",
                widthAdditionalText : 200,
              },
              {
                label : "Помощник для инвалидов", 
                id : 62,
                additionalText : "На 1 этаже вас встретит специалист и проводит до номера.", 
                widthAdditionalText : 225,
              },
            ]
          }
        )

      .search-room__filter-comfort
        +dropdown(
          { 
            name : "room",
            topic : "удобства номера",
            activeText : "2 спальни, 2 кровати...",
            btnClean : false,
            btnOk : false,
            items : [
              {
                text : "спальни",
                qty : 2,
              },
              {
                text : "кровати",
                qty : 2,
              },
              {
                text : "ванные комнаты",
              }
            ]
          }
        )

      .search-room__checkbox-list-expandable
        +checkboxListExpandable(
          {
            topic: "дополнительные удобства",
            items : [
              {
                label : "Завтрак", 
                id : 71,
              },
              {
                label : "Письменный стол", 
                id : 72,
              },
              {
                label : "Стул для кормления", 
                id : 73,
              },
              {
                label : "Кроватка", 
                id : 74,
              },
              {
                label : "Телевизор", 
                id : 75,
              },
              {
                label : "Шампунь", 
                id : 76,
              }
            ]
          }
        )

    .search-room__rooms
      h1.search-room__topic-rooms Номера, которые мы для вас подобрали

      .search-room__card-room
        +cardRoom(
          {
            id : 1,
            number : 888,
            price : "9 990",
            markLink : "люкс",
            review : 145,
            rating : 5
          }
        )
      .search-room__card-room
        +cardRoom(
          {
            id : 2,
            number : 840,
            price : "9 900",
            review : 65,
            rating : 4
          }
        )
      .search-room__card-room
        +cardRoom(
          {
            id : 3,
            number : 980,
            price : "8 500",
            markLink : "люкс",
            review : 35,
            rating : 3
          }
        )

      .search-room__card-room
        +cardRoom(
          {
            id : 4,
            number : 856,
            price : "7 300",
            review : 19,
            rating : 5
          }
        )
      .search-room__card-room
        +cardRoom(
          {
            id : 5,
            number : 740,
            price : "6 000",
            review : 44,
            rating : 4
          }
        )
      .search-room__card-room
        +cardRoom(
          {
            id : 6,
            number : 982,
            price : "5 800",
            review : 56,
            rating : 3
          }
        )

      .search-room__card-room
        +cardRoom(
          {
            id : 7,
            number : 678,
            price : "5 500",
            review : 45,
            rating : 5
          }
        )
      .search-room__card-room
        +cardRoom(
          {
            id : 8,
            number : 450,
            price : "5 300",
            review : 39,
            rating : 4
          }
        )
      .search-room__card-room
        +cardRoom(
          {
            id : 9,
            number : 350,
            price : "5 000",
            review : 77,
            rating : 3
          }
        )

      .search-room__card-room
        +cardRoom(
          {
            id : 10,
            number : 666,
            price : "5 000",
            review : 25,
            rating : 5
          }
        )
      .search-room__card-room
        +cardRoom(
          {
            id : 11,
            number : 444,
            price : "5 000",
            review : 15,
            rating : 3
          }
        )
      .search-room__card-room
        +cardRoom(
          {
            id : 12,
            number : 352,
            price : "5 000",
            review : 55,
            rating : 3
          }
        )

      .search-room__pagination
        +pagination(
          {
            text : "1 – 12 из 100+ вариантов аренды",
            max : 15
          }
        )

  script(src="./js/search-room.js")