.search-room {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  margin: 0 9.6% 0 9.7%;

  &__filters {
    width: 266px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 4.6%;

    h3 {
      font-size: 12px;
    }

    .dropdown-block {
      width: 100%;

      .dropdown-block__dropdown {
        width: 100%;
      }
    }

    .checkbox-list-expandable {
      margin-top: 30px;

      img {
        right: 17px;
      }

      .checkbox-list {
        margin-top: 18px;

        &__label {
          padding: 2px 0 9px 30px;
        }
      }
    }
  }

  &__filter-date,
  &__filters_additional {
    margin-top: 30px;
  }

  &__filter-guest {
    margin-top: 20px;
  }

  &__slider-price {
    margin-top: 26px;

    p {
      color: rgba(31, 32, 65, 0.5);
      font-size: 12px;
      margin: 0;
    }
  }

  &__filter-features {
    margin-top: 27px;

    .checkbox-list {
      margin-top: 13px;
    }
  }

  &__filter-availability {
    margin-top: 21px;
  }

  &__filter-comfort {
    margin-top: 21px;

    .dropdown-block {
      &__dropdown-items {
        padding-bottom: 5px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
      }

      &__items-line {
        height: 38px;

        h3 {
          font-size: 12.2px;
        }

        span {
          font-size: 12.2px;
          margin-top: -3px;
        }
      }

      &__block-qty {
        margin: 6px 6px 0 0;
      }
    }
  }

  &__rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 62px;
    width: 100%;

    h1 {
      width: 100%;
      margin: 29px 0 10px 5px;
      font-size: 24px;
      font-weight: 700;
    }

    .pagination {
      margin: 22px 0 10px 0;
      padding-right: 9px;

      &__num-block {
        margin: 10px 0 7px;
      }
    }
  }
}

@media (max-width: 1170px) {
  .search-room {
    &__filters {
      margin-left: 20px;
    }

    &__rooms {
      justify-content: space-around;

      h1 {
        text-align: center;
        padding: 0 15px;
      }
    }
  }
}

@media (max-width: 680px) {
  .search-room {
    flex-wrap: wrap;
    justify-content: center;

    &__filters {
      margin: 0;
    }
  }
}
