include /blocks/elements/header/header.pug
include /blocks/elements/footer/footer.pug
include /blocks/cards/formSearchNum/formSearchNum.pug

+header(
  {
      authorization : false,
      name : "",
    },
    {
      menuItem : "О нас",
      state : "active",
      type : "main"
    },
    {
      menuItem : "Услуги",
      state : "",
      type : "expand"
    },
    {
      menuItem : "Вакансии",
      state : "",
      type : "main"
    },
    {
      menuItem : "Новости",
      state : "",
      type : "main"
    },
    {
      menuItem : "Соглашения",
      state : "",
      type : "expand"
    }
  )

div.landing-page
  div.landing-page__content-container
    +formSearchNum
  div(class="landing-page__content-container landing-page__content-container_flex-end")
    p.landing-page__label Лучшие номера для вашей работы, отдыха и просто вдохновения

+footer