include /pages/ui-kit_headerFooter/header.pug
include /pages/ui-kit_headerFooter/footer.pug
include /blocks/cards/formSearchNum/formSearchNum.pug

+header(0)

div.landing-page
  div.landing-page__content-container
    +formSearchNum
  div(class="landing-page__content-container landing-page__content-container_flex-end")
    p.landing-page__label Лучшие номера для вашей работы, отдыха и просто вдохновения

+footer