include ../../blocks/elements/header/header.pug
include ../../blocks/elements/footer/footer.pug
include ../../blocks/cards/formSearchNum/formSearchNum.pug

include ../globalHEAD.pug

div.landing-page
  div.landing-page__content-container
    +formSearchNum
  div(class="landing-page__content-container landing-page__content-container_flex-end")
    p.landing-page__label Лучшие номера для вашей работы, отдыха и просто вдохновения

include ../globalFOOTER.pug

script(src="/pages/landingPage/landingPage.js")