include /ui_kit/header_footer/header.pug
include /ui_kit/header_footer/footer.pug
include /ui_kit/cards/formRegistration/formRegistration.pug


+header(0)

div.content.registration
  div.content_container
    +formRegistration("main")

+footer