.input-text{
  position: relative;
  width: 100%;

  &.input-text_subscription{
    margin-top: 10px;
  
    &:after{
      content: '';
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      bottom: 11px;
      right: 11px;
      background-repeat: no-repeat;
      background-image: url('../../../img/arrow.svg');
    }
  }

  .input-text__input{
    width: 100%;
    color: rgba(31, 32, 65, 0.25);
    outline: none;
    font-size: 14px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    height: 44px;
    padding: 8px 14px;
    margin-top: 5px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;    

    &:hover,
    &.input-text__input_hover{
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.5);
      font-weight: bold;
    }
    &:focus{
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.5);
    }
  }

  ::-webkit-input-placeholder { /* Chrome */
    color: rgba(31, 32, 65, 0.25);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(31, 32, 65, 0.25);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(31, 32, 65, 0.25);
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: rgba(31, 32, 65, 0.25);
  }
}