extends ~@Blocks/layout/layout.pug
include ~@Blocks/footer/footer.pug
include ~@Blocks/header/header.pug
include ~@Blocks/footer-simple/footer-simple.pug

block viewport
  meta(name="viewport" content="width=1440, initial-scale=1.0")

block links
  link(rel="stylesheet" type="text/css" href="./css/ui-kit-header-footer.js.css")

block header
block footer

block content
  main.ui-kit-header-footer
    a(href="./index.html")
      img.ui-kit-header-footer__ico-logo(src=require("@Pages/ui-kit-header-footer/img/ico-logo.svg").default alt="logo")
    .ui-kit-header-footer__header
      +header(
        {
          items: [
            {
              menuItem : "О нас",
              state : "active",
            },
            {
              menuItem : "Услуги",
              type : "expand",
              submenu : [
                {
                  menuItem : "Услуга №1",
                },
                {
                  menuItem : "Услуга №2",
                },
              ]
            },
            {
              menuItem : "Вакансии",
            },
            {
              menuItem : "Новости",
            },
            {
              menuItem : "Соглашения",
              type : "expand",
              submenu : [
                {
                  menuItem : "Соглашение №1",
                },
                {
                  menuItem : "Соглашение №2",
                },
              ]
            }
          ]
        }
      )
    .ui-kit-header-footer__header
      +header(
        {
          authorized : true,
          name : "Юлий Цезарь",
          items : [
            {
              menuItem : "О нас",
              state : "active",
            },
            {
              menuItem : "Услуги",
              type : "expand",
              submenu : [
                {
                  menuItem : "Услуга №1",
                },
                {
                  menuItem : "Услуга №2",
                },
              ]
            },
            {
              menuItem : "Вакансии",
            },
            {
              menuItem : "Новости",
            },
            {
              menuItem : "Соглашения",
              type : "expand",
              submenu : [
                {
                  menuItem : "Соглашение №1",
                },
                {
                  menuItem : "Соглашение №2",
                },
              ]
            }
          ]
        }
      )
    .ui-kit-header-footer__footer
      +footer(
        {
          items : [
            {
              topic : 'Навигация',
              listMenu : [
                {
                  text : "О нас",
                },
                {
                  text : "Новости",
                },
                {
                  text : "Служба поддержки",
                },
                {
                  text : "Услуги",
                },
              ],
            },
            {
              topic : "О нас",
              listMenu : [
                {
                  text : "О сервисе",
                },
                {
                  text : "Наша команда",
                },
                {
                  text : "Вакансии",
                },
                {
                  text : "Инвесторы",
                }
              ],
            },
            {
              topic : "Служба поддержки",
              listMenu : [
                {
                  text : "Соглашения",
                },
                {
                  text : "Сообщества",
                },
                {
                  text : "Связь с нами",
                },
              ],
            }
          ]
        }
      )
    +footerSimple

  script(src="./js/ui-kit-header-footer.js")