.ui-kit-header-footer {
  background: #f4f4f6;
  width: 100%;
  padding: 100px 0 140px 0;
  position: relative;
  box-sizing: border-box;
  width: 1440px;

  &__ico-logo {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 31px;
    top: 30px;
  }

  &__header,
  &__footer {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
