extends ~@Blocks/layout/layout.pug
include ~@Blocks/footer/footer.pug
include ~@Blocks/header/header.pug
include ~@Blocks/footer-simple/footer-simple.pug

block viewport
  meta(name="viewport" content="width=1440, initial-scale=1.0")

block links
  link(rel="stylesheet" type="text/css" href="./css/ui-kit-header-footer.js.css")

block header
block footer

block content
  main.ui-kit-header-footer
    a(href="./index.html")
      img.ui-kit-header-footer__ico-logo(src=require("@Pages/ui-kit-header-footer/img/ico-logo.svg").default alt="logo")
    .ui-kit-header-footer__header
      +header(
        {
          authorization : false,
          name : "",
        },
        {
          menuItem : "О нас",
          link : "#",
          state : "active",
          type : "main",
          submenu : false
        },
        {
          menuItem : "Услуги",
          link : "#",
          state : "",
          type : "expand",
          submenu : [
            {
              menuItem : "Услуга №1",
              link : "#",
            },
            {
              menuItem : "Услуга №2",
              link : "#",
            },
          ]
        },
        {
          menuItem : "Вакансии",
          link : "#",
          state : "",
          type : "main",
          submenu : []
        },
        {
          menuItem : "Новости",
          link : "#",
          state : "",
          type : "main",
          submenu : []
        },
        {
          menuItem : "Соглашения",
          link : "#",
          state : "",
          type : "expand",
          submenu : [
            {
              menuItem : "Соглашение №1",
              link : "#",
            },
            {
              menuItem : "Соглашение №2",
              link : "#",
            },
          ]
        }
      )
    .ui-kit-header-footer__header
      +header(
        {
          authorization : true,
          name : "Юлий Цезарь"
        },
        {
          menuItem : "О нас",
          link : "#",
          state : "active",
          type : "main",
          submenu : []
        },
        {
          menuItem : "Услуги",
          link : "#",
          state : "",
          type : "expand",
          submenu : [
            {
              menuItem : "Услуга №1",
              link : "#",
            },
            {
              menuItem : "Услуга №2",
              link : "#",
            },
          ]
        },
        {
          menuItem : "Вакансии",
          link : "#",
          state : "",
          type : "main",
          submenu : []
        },
        {
          menuItem : "Новости",
          link : "#",
          state : "",
          type : "main",
          submenu : []
        },
        {
          menuItem : "Соглашения",
          link : "#",
          state : "",
          type : "expand",
          submenu : [
            {
              menuItem : "Соглашение №1",
              link : "#",
            },
            {
              menuItem : "Соглашение №2",
              link : "#",
            },
          ]
        }
      )
    .ui-kit-header-footer__footer
      +footer(
        {
          column : [
            {
              text : "Навигация",
              link : "#"
            },
            {
              text : "О нас",
              link : "#"
            },
            {
              text : "Новости",
              link : "#"
            },
            {
              text : "Служба поддержки",
              link : "#"
            },
            {
              text : "Услуги",
              link : "#"
            }
          ]
        },
        {
          column : [
            {
              text : "О нас",
              link : "#"
            },
            {
              text : "О сервисе",
              link : "#"
            },
            {
              text : "Наша команда",
              link : "#"
            },
            {
              text : "Вакансии",
              link : "#"
            },
            {
              text : "Инвесторы",
              link : "#"
            }
          ]
        },
        {
          column : [
            {
              text : "Служба поддержки",
              link : "#"
            },
            {
              text : "Соглашения",
              link : "#"
            },
            {
              text : "Сообщества",
              link : "#"
            },
            {
              text : "Связь с нами",
              link : "#"
            }
          ]
        }
      )
    +footerSimple

  script(src="./js/ui-kit-header-footer.js")