.ui-kit-header-footer {
  background: #f4f4f6;
  width: 100%;
  padding: 100px 0 140px 0;
  position: relative;
  box-sizing: border-box;
  width: 1440px;

  .ui-kit-header-footer__ico-logo {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 31px;
    top: 30px;
  }

  .header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer {
    margin-top: 40px;
    margin-bottom: 40px;

    .footer__block-menu {
      z-index: 200;

      .footer__bottom-menu {
        padding-top: 88px;

        .footer__bottom-menu-logo-block {
          p {
            margin: 8px 0;
          }
        }
      }
    }

    .footer__copyright-content {
      p {
        margin: 25px 0 23px 0;
      }
    }
  }
}
