.form_sign_in{
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	width: 380px;
	height: 358px;
	padding: 40px 30px 30px 30px;
	
	display: flex;
	flex-wrap: wrap;
	z-index: 1;
	
	h1{
		margin-bottom: 15px;
	}

	.input{
		margin: 5px 0;
	}

	.btn{
		width: 100%;
		margin-top: 20px;

		&.border{
			width: 99px;
			margin-top: 0px;
		}
	}

	.login{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 30px;
		width: 100%;
	}
}