//list - списки
.list{
	margin: 20px 0 0 0;
	padding: 0;

	.list_item{
		position: relative;
		margin: 10px 0;
		display: flex;

		&:before{
			content: "";
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin: 7px 10px 7px 0;
			background: rgba(31, 32, 65, 0.25);
		}

		p{
			width: 240px;
			margin: 0;
		}
	}
}