include /pages/ui-kit_headerFooter/hf_mixins.pug
  
div.content_container__footer
  img.ico_logo(src="pages/ui-kit_headerFooter/ico_logo.svg" alt="logo")
  div.footer.footer__column
    img.logo(src="pages/ui-kit_headerFooter/logo.svg" alt="logo")
    p Copyright © 2018 Toxin отель. Все права защищены.
    div.footer_socBlock
      img.footer_socBlock_network.twitter(src="pages/ui-kit_headerFooter/twitter.svg" alt="twitter")
      img.footer_socBlock_network.facebook(src="pages/ui-kit_headerFooter/facebook.svg" alt="facebook")
      img.footer_socBlock_network.instagram(src="pages/ui-kit_headerFooter/instagram.svg" alt="instagram")
