include ../../blocks/elements/footer/footer.pug
include ../../blocks/elements/header/header.pug
include ../../blocks/elements/footerSimple/footerSimple.pug

div.ui-kit-header-footer
  a(href="/index.pug")
    img.ui-kit-header-footer__ico_logo(src="/pages/ui-kit_headerFooter/ico_logo.svg" alt="logo")
  +header(
    {
      authorization : false,
      name : "",
    },
    {
      menuItem : "О нас",
      link : "#",
      state : "active",
      type : "main"
    },
    {
      menuItem : "Услуги",
      link : "#",
      state : "",
      type : "expand"
    },
    {
      menuItem : "Вакансии",
      link : "#",
      state : "",
      type : "main"
    },
    {
      menuItem : "Новости",
      link : "#",
      state : "",
      type : "main"
    },
    {
      menuItem : "Соглашения",
      link : "#",
      state : "",
      type : "expand"
    }
    )
  +header(
    {
      authorization : true,
      name : "Юлий Цезарь"
    },
    {
      menuItem : "О нас",
      link : "#",
      state : "active",
      type : "main"
    },
    {
      menuItem : "Услуги",
      link : "#",
      state : "",
      type : "expand"
    },
    {
      menuItem : "Вакансии",
      link : "#",
      state : "",
      type : "main"
    },
    {
      menuItem : "Новости",
      link : "#",
      state : "",
      type : "main"
    },
    {
      menuItem : "Соглашения",
      link : "#",
      state : "",
      type : "expand"
    }
    )
  +footer
  +footerSimple
  
script(src="/pages/ui-kit_headerFooter/ui-kit_headerFooter.js")