div(class="content content__headerShadow")
	div.content_container
		include /blocks/header/header.pug

	div.content
		div.content_container
			//include formSearchNum.pug
		div(class="content_container content_container__flexend")
			p.landingPage_label Лучшие номера для вашей работы, отдыха и просто вдохновения
		img.landingPage_image(src="project/img/image3.png")

