

mixin dropdown(label,text,dopclass)
	div.blockDropdown
		h3= label
		div(class='blockDropdown_dropdown '+ dopclass)= text
			img.blockDropdown_dropdown_expand(src="project/img/expand_more.svg")
					





