//Выпадающий список
.blockDropdown{
	position: relative;
	
	&.blockDropdown__width100{
		width: 100%;
	}

	.blockDropdown_dropdown{
		position: relative;
		color: rgba(31, 32, 65, 0.75);
		border-radius: 4px;//4px 4px 0 0;
		width: 100%;
		cursor: pointer;

		&.blockDropdown_dropdown__date{
			width: 148px;
			-webkit-appearance: none;
			font-size: 14px;
		}

		&.blockDropdown_dropdown__whisItems{
			
			border: 1px solid rgba(31, 32, 65, 0.25);
		}

		&.blockDropdown_dropdown__itemsShow{
			border: 1px solid rgba(31, 32, 65, 0.5);
			border-radius: 4px 4px 0 0;
		}

		&.blockDropdown_dropdown__filter{
			width: 267px;
		}

		.blockDropdown_dropdown_expand{
			width: 10px;
			height: 10px;
			position: absolute;
			bottom: 16px;
			right: 15px;
			cursor: pointer;
		}
	}

	.blockDropdown_dropdownItems{
		display: flex;
		flex-wrap: wrap;
		//width: 260px;
		background: #fff;
		border-radius: 0 0 4px 4px;
		border: 1px solid rgba(31, 32, 65, 0.5);
		margin-top: -1px;
		z-index: 1;
		position: absolute;

		&.blockDropdown_dropdownItems__hide{
			display: none;
		}

		.blockDropdown_dropdownItems_line{
			display: flex;
    		justify-content: space-between;
			color: rgba(31, 32, 65, 0.5);
			//border: 1px solid rgba(31, 32, 65, 0.5);
			margin-top: -1px;
			width: 100%;
			height: 40px;

			h3{
				padding: 13px 15px;
				margin: 0;
			}
			h3,span{
				color: rgba(31, 32, 65, 1);
			}

			.blockDropdown_dropdownItems_line_incBlock{
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 92px;
				margin-right: 7px;


				.blockDropdown_dropdownItems_line_incBlock_inc{
					border: 1px solid rgba(31, 32, 65, 0.25);
					border-radius: 50%;
					width: 30px;
					height: 30px;
					font-size: 20px;
					display: flex;
					justify-content: center;
					box-sizing: border-box;
					padding-top: 2px;
					cursor: pointer;

					&.blockDropdown_dropdownItems_line_incBlock_inc__disable{
						cursor: default;
						border-color: rgba(31, 32, 65, 0.15);
						color: rgba(31, 32, 65, 0.15);
					}
				}
				
			}

			&.dropdownItemsLink_flexEnd{
				justify-content: flex-end;
			}

			.link{
				&.link__clean{
					margin: auto 15px;
				}

				&.link__ok{
					margin: auto 7px;
				}
			}
		

			

			/*.blockDropdown_dropdown_items_line_links{
				cursor: pointer;

				&.blockDropdown_dropdown_items_line_links__clean{
					color: rgba(31, 32, 65, 0.5);
				}

				&.blockDropdown_dropdown_items_line_links__ok{
					color: #BC9CFF;
				}
			}*/
		}
	}
}