mixin footerSimple  
  div.footer-simple
    img.logo(src="/blocks/elements/footer-simple/logo.svg" alt="logo")
    p Copyright © 2018 Toxin отель. Все права защищены.
    div.footer_socBlock
      img.footer__soc-network.footer__soc-network_twitter(src="/blocks/elements/footer-simple/twitter.svg" alt="twitter")
      img.footer__soc-network.footer__soc-network_facebook(src="/blocks/elements/footer-simple/facebook.svg" alt="facebook")
      img.footer__soc-network.footer__soc-network_instagram(src="/blocks/elements/footer-simple/instagram.svg" alt="instagram")