.authorization{
	display: flex;
	justify-content: center;
	text-align: center;
	background-image: url('/project/img/image4.1.png');
	//width: 100%;
	height: 53.7vw;
	background-size: cover;
	background-position: bottom;

	.formSignIn{
		margin: auto;
	}
} 

@media (max-width: 640px){
	.authorization{
		background: none;
		height: auto;
	}
	.formSignIn{
		position: inherit;
		margin: 20px auto!important;
	}
}

