.room{
	.block_images{
		//width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin: 0;
		padding: 0;

		img,
		.col1,
		.col2{
			margin: 0;
			padding: 0;
		}

		.col1{
			width: 68.2%;	
		}
		
		.col2{
			width: 31.8%;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			img{
				margin: 0;
				padding: 0;
				height: 50%;	
			}
		}
	}

	.content_width{
		display: flex;
		margin-top: 70px;

		.column1{
			width: 67%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-right: 50px;

			.info{
				width: 340px;

				.info_block{
					display: flex;
					flex-wrap: wrap;
					margin: 20px 0;

					.icon{
						width: 48px;
						height: 48px;
						margin: 2px 12px 2px 2px;
					}

					.text{
						display: flex;
						flex-direction: column;
						justify-content: space-between;
					}
				}

				.hr{
					width: 280px;
					border: 0.5px solid rgba(31, 32, 65, 0.1);
				}
			}
			.impression{
				width: 340px;
				border: 1px solid red;
			}
			.comment{
				width: 100%;

				.comment_block{
					display: flex;
					margin: 23px 0 25px;

					.comment_col1{
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 2px;

						.photo{
							width: 48px;
							height: 48px;
							margin-bottom: 12px;
							border: 1px solid red;

						}
						.like{
							width: 40px;
							height: 20px;
							border-radius: 10px;
							border: 1px solid #BC9CFF;
						}
					}

					.comment_col2{
						margin-left: 10px;
		
						.name{
							font-weight: bold;
						}
						.time{
							margin-bottom: 12px;
						}
					}
				}
			}
			.rules{
				width: 340px;

				h2{
					margin-left: 30px;
				}
			}
			.cancel{
				width: 340px;
			}
		}
		.column2{
			width: 33%;
		}
	}
}

