.header{
	display: flex;
	justify-content: space-between;
	//flex-wrap: wrap;
	min-height: 70px;
		

	.menu{
		display: flex;
		//justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		
		margin: 0;
		padding: 0;

		.menu_item{
			display: block;
			padding: 0 20px;
			color: rgba(31, 32, 65, 0.5);
			padding: 10px 0;
			margin: 5px 0 5px 20px;	
			font-size: 14px;
			cursor: pointer;

			.gradient{
				width: 196px;
			}
			.border{
				width: 85px;
			}
			.btn_header{
				height: 17px;
				line-height: 15px;
			}

		}
	}
}
