include /ui_kit/form_elements/btn/btn.pug

mixin menu_li(text)
	li.header_menu_li= text
	

div.header
	img(src="project/img/logo.svg")
	ul.header_menu
		+menu_li("О нас")
		+menu_li("Услуги")
		+menu_li("Вакансии")
		+menu_li("Новости")
		+menu_li("Соглашения")
		+btn("Войти","btn__border btn__header")
		+btn("Зарегистрироваться","btn__gradient btn__header")



