include ~@Blocks/social/social.pug

mixin footerSimple
  footer.footer-simple
    img.footer-simple__logo(src="./img/logo.svg" alt="logo")
    p.footer-simple__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
    +social(
      {
        items : [
          {
            name : 'twitter',
            icon : require('@Blocks/social/img/twitter.svg').default,
          },
          {
            name : 'facebook',
            icon : require('@Blocks/social/img/facebook.svg').default,
          },
          {
            name : 'instagram',
            icon : require('@Blocks/social/img/instagram.svg').default,
          }
        ]
      }
    )