mixin footerSimple  
  footer.footer-simple
    img.logo(src=require("@Blocks/footer-simple/logo.svg").default alt="logo")
    p Copyright © 2018 Toxin отель. Все права защищены.
    .footer-simple__soc-block
      img.footer-simple__soc-network.footer-simple__soc-network_twitter(src=require("@Blocks/footer-simple/twitter.svg").default alt="twitter")
      img.footer-simple__soc-network.footer-simple__soc-network_facebook(src=require("@Blocks/footer-simple/facebook.svg").default alt="facebook")
      img.footer-simple__soc-network.footer-simple__soc-network_instagram(src=require("@Blocks/footer-simple/instagram.svg").default alt="instagram")