mixin footerSimple  
  footer.footer-simple
    img.logo(src="./img/logo.svg" alt="logo")
    p Copyright © 2018 Toxin отель. Все права защищены.
    .footer-simple__soc-block
      img.footer-simple__soc-network.footer-simple__soc-network_twitter(src="./img/twitter.svg" alt="twitter")
      img.footer-simple__soc-network.footer-simple__soc-network_facebook(src="./img/facebook.svg" alt="facebook")
      img.footer-simple__soc-network.footer-simple__soc-network_instagram(src="./img/instagram.svg" alt="instagram")