.calendar-block {
  position: absolute;
  z-index: 100;
  margin-top: 5px;
  border-radius: 4px;

  &.calendar-block_hide {
    display: none;
  }

  .calendar {
    width: 322px;
    z-index: 5;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-width: 1px 1px 0 1px;
    box-sizing: border-box;
    box-shadow: 0px -20px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    background: #fff;
    left: -1px;

    margin-left: -1px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    .pignose-calendar {
      width: 100%;
      height: auto;
      border: none;
      box-shadow: none;
      background: #fff;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      border-radius: 4px;

      .pignose-calendar-top {
        border: none;
        box-shadow: none;
        background: #fff;
        padding: 0px 0 54px 0;
        height: 20px;
        display: flex;
        justify-content: space-between;

        .pignose-calendar-top-nav {
          width: 24px;
          height: 24px;
          margin: 19px;

          .pignose-calendar-top-icon {
            width: 24px;
            height: 24px;

            &.icon-arrow-left,
            &.icon-arrow-right {
              display: block;
              background: url('@Blocks/calendar/arrow_forward.svg') no-repeat
                center;
              width: 24px;
              height: 24px;
            }

            &.icon-arrow-left {
              transform: rotate(180deg);
            }
          }
        }

        .pignose-calendar-top-date {
          padding: 20px 0 30px 0;
          display: flex;
          justify-content: center;

          .pignose-calendar-top-month {
            font-size: 20px;
            line-height: 21px;
            padding-right: 5px;
            margin: 0 2px;
            text-transform: none;
            color: #1f2041;
            font-weight: 700;
            letter-spacing: -1px;
          }

          .pignose-calendar-top-year {
            font-size: 20px;
            line-height: 21px;
            font-weight: 700;
            color: #1f2041;
            letter-spacing: -2px;
          }
        }
      }

      .pignose-calendar-header {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;

        .pignose-calendar-week {
          font-size: 10px;
          width: 38px;
          height: 40px;
          color: #bc9cff;
          text-transform: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .pignose-calendar-body {
        padding-top: 0;
        margin: 0 20px 20px 20px;
        overflow: hidden;

        .pignose-calendar-row {
          a {
            text-decoration: none;
          }

          .pignose-calendar-unit {
            height: 40px;
            width: 40px;
            float: left;

            &.pignose-calendar-unit-date {
              a {
                font-size: 12px;
                color: rgba(31, 32, 65, 0.5);
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            &.pignose-calendar-unit-active {
              a {
                background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
                color: #fff;
              }

              &.pignose-calendar-unit-first-active {
                border-radius: 50% 0 0 50%;

                a {
                  border-radius: 50%;
                }
              }

              &.pignose-calendar-unit-second-active {
                border-radius: 0 50% 50% 0;

                a {
                  border-radius: 50%;
                }
              }

              &.active-first,
              &.active-second {
                background: linear-gradient(180deg, #eee6ff 0%, #e6eafe 100%);

                a {
                  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
                }
              }
            }

            &.pignose-calendar-unit-range {
              a {
                background: linear-gradient(180deg, #eee6ff 0%, #e6eafe 100%);
                color: rgba(31, 32, 65, 0.5);
                border-radius: 0;
              }
            }
          }
        }
      }

      .pignose-calendar-button-group {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-width: 0 0 1px 0;

        .pignose-calendar-button {
          font-family: 'Montserrat', Arial, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          height: 15px;
          color: #bc9cff;
          text-transform: uppercase;
          cursor: pointer;
          -webkit-user-select: none;
          text-decoration: none;

          &.pignose-calendar-button-cancel {
            color: rgba(31, 32, 65, 0.5);
            margin: 0 0 18px 19px;
            color: #bc9cff;
          }

          &.pignose-calendar-button-apply {
            color: #bc9cff;
            margin: 0 20px 18px 0;
          }
        }
      }
    }
  }
}
