.registration{
  display: flex;
  background-image: url('/project/img/image4.1.png');
  height: 52.3vw;
  background-size: cover;
  background-position: bottom;

  .content_container{
    position: relative;
    margin: 0 auto;

    .formRegistration{
      margin: 30px auto;
    }
  }

  .footer_shadow{
    border-top: 0;
  }
}

@media (max-width: 1200px){
  .registration{
    background: none;
    height: auto;
  }

  .formRegistration{
    position: inherit;
  }  
}