include /blocks/elements/header/header.pug
include /blocks/elements/footer/footer.pug
include /blocks/cards/formRegistration/formRegistration.pug


+header(
  {
      authorization : 0,
      name : "",
    },
    {
      menuItem : "О нас",
      state : "active",
      type : "main"
    },
    {
      menuItem : "Услуги",
      state : "",
      type : "expand"
    },
    {
      menuItem : "Вакансии",
      state : "",
      type : "main"
    },
    {
      menuItem : "Новости",
      state : "",
      type : "main"
    },
    {
      menuItem : "Соглашения",
      state : "",
      type : "expand"
    }
  )

div.registration
  div.registration__content-container
    +formRegistration("Main")

+footer