include /pages/ui-kit_headerFooter/header.pug
include /pages/ui-kit_headerFooter/footer.pug
include /blocks/cards/formRegistration/formRegistration.pug


+header(0)

div.registration
  div.registration__content-container
    +formRegistration("Main")

+footer