mixin btn(obj)
  case obj.arrow
    when true
      case obj.hover
        when true
          - var arrow = 'btn__block_gradient_pay '
          - var hover = 'btn_hover '
        when false
          - var arrow = 'btn__block_gradient_pay '
          - var hover = ''
    when false
      case obj.hover
        when true
          - var arrow = ''
          - var hover = 'btn_hover '
        when false
          - var arrow = ''
          - var hover = ''
    default
      - var arrow = ''
      - var hover = ''

  if obj.border == true
    div.btn.btn_border
      div(class='btn__block btn__block_border '+ arrow + hover)
        a.btn__link(href=obj.link)= obj.text
        if obj.arrow == true
          div.btn__arrow.btn__arrow_white
      div(class='btn__border ' + hover)
  else
    div.btn
      div(class='btn__block btn__block_gradient '+ arrow + hover)
        a.btn__link(href=obj.link)= obj.text
        if obj.arrow == true
          div.btn__arrow.btn__arrow_white