mixin btn({ height = 'wide', text = '', link = './link-stub', arrow = false, border = false, hover = false })
  - let arrowClass = ''
  - let hoverClass = ''
  - let borderHoverClass = ''
  - let heightClass = 'btn_wide'

  if (arrow == true)
    - arrowClass = 'btn__block_gradient_arrow '
  if (hover == true)
    - hoverClass = 'btn_hover '
    - borderHoverClass = 'btn__border_hover '
  if (height == 'narrow')
    - heightClass = 'btn_narrow '

  if border == true
    div(class='btn btn_border ' + heightClass)
      button(type = 'button' class='btn__block btn__block_border ')
        a.btn__link(href=link)= text
        if arrow == true
          .btn__arrow.btn__arrow_white
      div(class='btn__border ' + borderHoverClass)
  else
    div(class='btn btn_gradient ' + hoverClass + heightClass)
      button(type = 'button' class='btn__block btn__block_gradient ' + arrowClass)
        a.btn__link(href=link)= text
        if arrow == true
          .btn__arrow.btn__arrow_white