.btn {
  border-radius: 22px;
  height: 26px;
  padding: 4px 0;
  cursor: pointer;
  margin: 15px 20px 15px 0;
  position: relative;
  text-align: center;

  &.btn_border {
    background-color: #fff;
    border: 1px #bc9cff solid;

    height: 22px;
    border-width: 2px;

    .btn__link {
      color: #bc9cff;
    }
  }

  &.btn_gradient {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: #ffffff;

    &.btn_gradient_pay {
      width: 320px;
    }
  }

  &:hover,
  &:focus,
  &.btn_hover {
    opacity: 0.5;
  }

  .btn__link {
    color: #ffffff;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-user-select: none;
  }

  .btn__arrow {
    position: absolute;
    bottom: 12px;
    right: 15px;
    content: '';
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 11px;
    background-repeat: no-repeat;
    background-image: url('@Blocks/btn/arrow.svg');

    &.btn__arrow_white {
      background-image: url('@Blocks/btn/arrow-white.svg');
    }
  }
}
