.rate-btn {
  display: flex;
  justify-content: flex-start;

  &__star {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    cursor: pointer;
    background-image: url('star_border.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }

  &__star_active {
    background-image: url('star.svg');
  }
}
