include ../../../blocks/elements/btn/btn.pug

mixin header(obj,...items)
  div.header
    div.header__content-container
      div.header__links
        a(href="/landing-page.html")
          img.header__logo(src=require("@Elements/header/logo.svg").default alt="logo")
        div.header__block-menu
          ul.header__menu
            each item in items
              if item.state == "active"
                - var active = "header__menu-li_active";
              else
                - var active = "";
              if item.type == "expand"
                - var expand = "header__menu-li_expand";
              else
                - var expand = "";
              li(class="header__menu-li " +active+" "+expand)
                a.header__menu-a(href= item.link)= item.menuItem
                if item.submenu != false
                  ul.header__submenu
                    each sbm in item.submenu
                      li.header__submenu-li
                        a.header__submenu-a(href= sbm.link)= sbm.menuItem
          div.header__block-login
            if obj.authorization == false
              +btn(
                {
                  text : "Войти",
                  dopclass : "btn_border btn_header",
                  link : "/sign-in.html",
                  arrow : false
                }
                )
              +btn(
                {
                  text : "Зарегистрироваться",
                  dopclass : "btn_gradient btn_header",
                  link : "/registration.html",
                  arrow : false
                }
                )
            else
              div.header__block-login-hr
              p= obj.name