script(src='node_modules/pg-calendar/dist/js/pignose.calendar.min.js')
script(src='/ui_kit/cards/calendar/calendar.js')

mixin calendar(dopclass)
	div.dropdownItemCalendar
		div(class='dropdownItemCalendar_block ' +dopclass)
			div.calendar
			