include /ui_kit/header_footer/hf_mixins.pug
	
div.content_container__footer
	img.ico_logo(src="ui_kit/ico_logo.svg")
	div.footer.footer__column
		img.logo(src='ui_kit/header_footer/logo.svg')
		p Copyright © 2018 Toxin отель. Все права защищены.
		div.footer_socBlock
			img.footer_socBlock_network.twitter(src='ui_kit/header_footer/twitter.svg')
			img.footer_socBlock_network.facebook(src='ui_kit/header_footer/facebook.svg')
			img.footer_socBlock_network.instagram(src='ui_kit/header_footer/instagram.svg')
