.bottomMenu{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 104px 0 100px 0;
	font-size: 14px;
	color: rgba(31, 32, 65, 0.5);

	.bottomMenu_column,
	.bottomMenu_logoBlock{
		display: block;
		//margin: 0 5px;
		max-width: min-content;

		.bottomMenu_column_list{
			padding: 0;

			.menu_li{
				position: relative;
				font-size: 14px;
				line-height: 17px;
				padding: 10px 0;
				line-height: 24px;

				&:first-child{
					font-weight: bold;
					color: #1F2041;
					font-size: 12px;
					text-transform: uppercase;
					cursor: inherit;
					white-space: nowrap;
				}
			}
		}

		&:last-child,&:first-child{
			min-width: 200px;
			color: rgba(31, 32, 65, 0.75);
			.menu_li{
				cursor: inherit;
				color: rgba(31, 32, 65, 0.75);
				//line-height: 24px;
			}
		}
		&:last-child{
			.menu_li{
				//padding: 2px 0 15px 0;
			}
		}
		&:nth-child(3){
			min-width: 110px;
		}
		&:nth-child(2),&:nth-child(4){
			min-width: 150px;
		}
	}

	.logo{
		margin: 10px 0;
	}
}

.content{
	&.footer_shadow{
		//box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
		border-top: 1px solid rgba(31, 32, 65, 0.1);
		border-bottom: 1px solid rgba(31, 32, 65, 0.1);
		display: flex;
		justify-content: center;

		.content_container{
			flex-grow: 1;
		}
	}
}


.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: rgba(31, 32, 65, 0.5);
	margin: 23px 0;

	.footer_socBlock{
		display: flex;
	
		.footer_socBlock_network{
			height: 24px;
			width: 24px;
			padding-left: 20px;
		}
	}

	&.footer__column{
		flex-direction: column;
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
		padding: 100px 0 110px 0;
		p{
			margin: 20px 0 25px 0;
		}
	}	
}


@media (max-width: 1170px){
	.footer_shadow{
		.bottomMenu{
			text-align: center;
			justify-content: space-around;
			.bottomMenu_column{				
				margin: 10px 20px;
				.bottomMenu_column_list{
					width: 270px;
				}
			}
			.bottomMenu_logoBlock{
				width: 270px;
				margin: 10px 20px;
				max-width: none;
			}
		}
	}
	.footer{
		margin: 23px 20px;
	}
}

@media (max-width: 620px){
	.footer_shadow{
		box-shadow: none!important;//
		border-bottom: 0!important;

		.bottomMenu{
			padding: 90px 0 0 0;
			//text-align: center;
			.bottomMenu_column{
				display: none;
				.bottomMenu_column_list{
				}
			}
			.bottomMenu_logoBlock{
				margin: 0;
				p{
					margin: 10px 0 5px 0;
				}
			}
		}
	}
	.footer{
		flex-direction: column;
		margin: 20px 0 110px 0;
		p{
			display: none;
		}

		.footer_socBlock{
			.footer_socBlock_network{
				padding: 0 10px;
			}
		}
	}
}
