include /ui_kit/header_footer/hf_mixins.pug
	
div.content_container
	div.footer.footer__column
		img.logo(src='ui_kit/header_footer/logo.svg')
		p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		div.footer_socBlock
			img.footer_socBlock_network(src='ui_kit/header_footer/twitter.svg')
			img.footer_socBlock_network(src='ui_kit/header_footer/facebook.svg')
			img.footer_socBlock_network(src='ui_kit/header_footer/instagram.svg')
