include /ui_kit/header_footer/hf_mixins.pug
	
div.content_container
	ul.bottomMenu
		+footerMenu_item('Навигация','О нас','Новости','Служба поддержки','Услуги')
		+footerMenu_item('О нас','О сервисе','Наша команда','Вакансии','Инвесторы')
		+footerMenu_item('Служба поддержки','Соглашения','Сообщества','Связь с нами')
		+footerMenu_item('Подписка','Получайте специальные предложения и новости сервиса','s')
			
				
