.header{
	display: flex;
	justify-content: space-between;
	min-height: 70px;
	color: rgba(31, 32, 65, 0.5);

	.header_nav{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		
		margin: 0;
		padding: 0;

		.header_nav_menu{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			
			margin: 0;
			padding: 0;

			.menu_li{
				padding: 10px 0;
				margin: 5px 0 5px 20.5px;	

				&.menu_li__expand{
					&:after{
						content: '';
						display: inline-block;
						width: 25px;
						height: 14px;
						background-image: url('/project/img/expand_more.svg');
						background-repeat: no-repeat;
						background-position: 50% 90%;
						cursor: pointer;
					}
				}
			}
		}

		.header_nav_login{
			display: flex;
			align-items: center;

			.btn__gradient{
				width: 196px;
			}
			.btn__border{
				width: 83px;
				//height: 10px;
			}
			.btn__header{
				
				//line-height: 12px;
				margin: 15px 0 15px 20px;
			}

			.header_nav_login_hr{
				width: 1px;
				height: 30px;
				background: rgba(31, 32, 65, 0.1);
				margin: 0 30px;
			}

			p{
				
			}
		}		
	}

	.logo{
		height: 70px;
	}

	.btn{
		font-weight: bold;

		.btn__border {
			font-size: 12px;
			line-height: 22px;
		}
		.btn__gradient{
			line-height: 26px;
			font-size: 12.3px;
		}
	}
}

.menu_li{
	display: block;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;

	&.menu_li__active{
		font-weight: bold;
		color: rgba(31, 32, 65, 0.75);
	}

	&.menu_li__expand{
		
	}
}

.logo{
	width: 106px;
	height: 40px;
}

.content{
	width: 1440px;

	&.header_shadow{
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
		display: flex;
		justify-content: center;

		.content_container{
			flex-grow: 1;
		}
	}
	
	/*&.searchRoom__shadow{
		box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
	}*/

	.content_container{
		max-width: 100%;//1920px;
		min-width: 320px;
		margin: 0 9.7%;

		&.content_container__flexend{
			display: flex;
			justify-content: flex-end;
		}
	}
}

@media (max-width: 1170px){
	.content{
		.content_container{
			margin: 0;
		}
	}
	.header{ 
		margin: 0 20px; 
	}
}

@media (max-width: 930px){
	
	.header{
		flex-direction: column;
		
		.logo{ margin: 15px auto; }

		.header_nav{
			flex-direction: column;
			justify-content: center;

			.menu_li{
				&:nth-child(1){
					margin-left: 0;
				}
			}

			.btn__border{
				&.btn__header{
					 margin-left: 0;
				}
			}
			
		}
	}
}

@media (max-width: 620px){
	.header{
		.btn__border{
			&.btn__header{
				 margin-left: 0;
			}
		}
	}
}

@media (max-width: 500px){
	.header_nav_menu{
		flex-direction: column;
		.menu_li{
			margin: 5px 0!important;
		}
	}

	.header_nav_login{
		flex-wrap: wrap;
		justify-content: center;

		.btn{ 
			margin: 15px 10px!important;
		}
	}
}