include /ui_kit/header_footer/hf_mixins.pug

mixin header(auth, name)
  div.content.header_shadow
    div.content_container
      div.header
        img(src="project/img/logo.svg" alt="logo").logo
        div.header_nav
          ul.header_nav_menu
            +menu_li("О нас","menu_li__active")
            +menu_li("Услуги","menu_li__expand")
            +menu_li("Вакансии","")
            +menu_li("Новости","")
            +menu_li("Соглашения","menu_li__expand")
          +header_nav_login(auth, name)
        
