include /ui_kit/header_footer/header.pug
include /ui_kit/header_footer/footer.pug
include /ui_kit/form_elements/rangeSlider/rangeSlider.pug

include /ui_kit/form_elements/inputText/inputText.pug
include /ui_kit/form_elements/radiobutton/radiobutton.pug
include /ui_kit/form_elements/checkbox/checkbox.pug
include /ui_kit/form_elements/btn/btn.pug


mixin sliderConfig(id)
	div.sliderConf
		div.checkbox
			+checkbox_item('Настройки',id ,'','')

		div.sliderConf_block
			div.sliderConf_block_item
				div.sliderConf_block_item_option
					+inputText('min','','','0','','min'+id)
					+inputText('max','','','1000','','max'+id)
				div.sliderConf_block_item_option
					+inputText('min текущий','','','50','','minStart'+id)
					+inputText('max текущий','','','500','','maxStart'+id)

				div.sliderConf_block_item_option
					h2 Тип
					+radio('1srb'+id,"rbGroopType"+id,'Диапазон значений','')
					+radio('2srb'+id,"rbGroopType"+id,'От 0 до выбранного')
					+radio('3srb'+id,"rbGroopType"+id,'Единичное значение')
				div.sliderConf_block_item_option
					h2 Ориентация
					+radio('1orient'+id,'rbGroopOrientation'+id,'Горизонтальная','')
					+radio('2orient'+id,'rbGroopOrientation'+id,'Вертикальная')
			
				div.sliderConf_block_item_option
					h2 Шкала
					+radio('1scale'+id,'rbGroopScale'+id,'Вкл','')
					+radio('2scale'+id,'rbGroopScale'+id,'Выкл')
					+inputText('Кол-во делений','','','10','','scaleStep'+id)
					+inputText('Шаг','','','2','','step'+id)
				
				div.sliderConf_block_item_option
					h2 Числовой диапазон
					+radio('1value'+id,'rbGroopValue'+id,'Вкл','')
					+radio('2value'+id,'rbGroopValue'+id,'Выкл')




+header(0)

div.content.searchRoom__shadow
	div.content_container.searchRoom2
		div.searchRoom_filters
					
			div.searchRoom_filters_diapason.slider1
				+rangeSlider('диапазон цены',0,100000,'idPrice1')
				+sliderConfig('1')

			div.searchRoom_filters_diapason.slider2
				+rangeSlider('диапазон цены',100,1000,'idPrice2')
				+sliderConfig('2')
					
			div.searchRoom_filters_diapason.slider3
				+rangeSlider('диапазон цены',0,100000,'idPrice3')
				+sliderConfig('3')

			div.searchRoom_filters_diapason.slider4
				+rangeSlider('диапазон цены',100,1000,'idPrice4')
				+sliderConfig('4')
		
			div.searchRoom_filters_diapason.slider5
				+rangeSlider('диапазон цены',100,1000,'idPrice5')
				+sliderConfig('5')

+footer

script(src='/blocks/demoSlider/run_demoSlider.ts')
div(id='mocha')

