include /ui_kit/header_footer/header.pug
include /ui_kit/header_footer/footer.pug
include /ui_kit/form_elements/rangeSlider/rangeSlider.pug

include /ui_kit/form_elements/inputText/inputText.pug
include /ui_kit/form_elements/radiobutton/radiobutton.pug
include /ui_kit/form_elements/checkbox/checkbox.pug
include /ui_kit/form_elements/btn/btn.pug

include /blocks/demoSlider/mixin_demoSlider.pug


+header(0)

div.content.searchRoom__shadow
	div.content_container.searchRoom2
		div.searchRoom_filters
					
			div.searchRoom_filters_diapason.slider1
				+rangeSlider('диапазон цены',0,100000,'idPrice1')
				+sliderConfig('1')

			div.searchRoom_filters_diapason.slider2
				+rangeSlider('диапазон цены',100,1000,'idPrice2')
				+sliderConfig('2')
					
			div.searchRoom_filters_diapason.slider3
				+rangeSlider('диапазон цены',0,100000,'idPrice3')
				+sliderConfig('3')

			div.searchRoom_filters_diapason.slider4
				+rangeSlider('диапазон цены',100,1000,'idPrice4')
				+sliderConfig('4')
		
			div.searchRoom_filters_diapason.slider5
				+rangeSlider('диапазон цены',100,1000,'idPrice5')
				+sliderConfig('5')

+footer

script(src='/blocks/demoSlider/run_demoSlider.ts')
div(id='mocha')

