.form_room{
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	width: 380px;
	height: 511px;
	padding: 40px 30px 30px 30px;
	
	display: flex;	
	flex-wrap: wrap;

	.prices{
		margin: 20px 0;
		width: 100%;

		.form_room_flex{
			margin: 10px 0;

			&:first-child{
				margin: 0;
			}
			&:last-child{
				margin: 30px 0 0 0;
			}
		
			
			p{
				&.text{
					width: 215px;
				}

				&.info_mark{
					&:before{
						content: "i";
						position: absolute;
						left: 220px;
						width: 20px;
						height: 20px;
						border: 1px solid rgba(31, 32, 65, 0.25);
						box-sizing: border-box;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						color: rgba(31, 32, 65, 0.25);
						cursor: pointer;
					}
				}
			}	
		}
	}

	.btn{
		width: 100%;
	}
}

.line_footer{
	margin: 70px 0 0 0;
}

.form_room_flex{
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
}