mixin infoBlock(obj,...items)
  div.info-block
    h2= obj.topic
    each item, index in items
      div.info-block__item
        img(src=item.url class="info-block__icon "+item.dopclass alt="icon")
        div.info-block__text
          p
            b= item.label
          p= item.text
      if index < obj.qtyHR
        hr.info-block__hr