

mixin inputText(text,dopclass)
	div.inputText
		h3= text
		input(class='inputText_input '+ dopclass)
		if dopclass == 'inputText_input__subscription'
			+arrow('')
		else


mixin arrow(dopclass)
	div.arrow
		div(class='arrow_line' +dopclass)
		div(class='arrow_next' +dopclass)
