.registration{
  display: flex;
  background-image: url('@Pages/registration/fon.png');
  height: 47.3vw;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  position: relative;

  .registration__content-container{
    position: relative;
    margin: 0 auto;
    min-width: 320px;

    .form-registration{
      margin: 19px auto;
    }
  }

  .footer_shadow{
    border-top: 0;
  }
}

@media (max-width: 1200px){
  .registration{
    background: none;
    height: auto;
  }

  .form-registration{
    position: inherit;
  }  
}