extends ~@Blocks/layout/layout.pug
include ~@Blocks/form-registration/form-registration.pug

block links
  link(rel="stylesheet" type="text/css" href="./css/registration.js.css")

block content
  main.registration
    .registration__form-registration
      +formRegistration({ id : "Main" })

  script(src="./js/registration.js")