extends ~@Blocks/layout/layout.pug

block links
  link(rel="stylesheet" type="text/css" href="./css/registration.js.css")

block content
  include ~@Blocks/form-registration/form-registration.pug

  main.registration
    .registration__form-registration
      +formRegistration(
        {
          id : "Main"
        }
      )

  script(src="./js/registration.js")