include ../../blocks/elements/header/header.pug
include ../../blocks/elements/footer/footer.pug
include ../../blocks/cards/form-registration/form-registration.pug


include ../global-header.pug

div.registration
  div.registration__content-container
    +formRegistration(
      {
        id : "Main"
      }
      )

include ../global-footer.pug

script(src="/pages/registration/registration.js")