include ~@Blocks/header/header.pug
include ~@Blocks/footer/footer.pug
include ~@Blocks/form-registration/form-registration.pug


include ../global-header.pug

div.registration
  div.registration__content-container
    +formRegistration(
      {
        id : "Main"
      }
      )

include ../global-footer.pug

script(src="./registration.js")