include ../../blocks/elements/header/header.pug
include ../../blocks/elements/footer/footer.pug
include ../../blocks/cards/formRegistration/formRegistration.pug


include ../globalHEADER.pug

div.registration
  div.registration__content-container
    +formRegistration(
      {
        id : "Main"
      }
      )

include ../globalFOOTER.pug

script(src="/pages/registration/registration.js")