.registration {
  display: flex;
  background-image: url('@Pages/registration/img/registration-background.png');
  height: 0;
  padding-bottom: 47.5%;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  position: relative;

  @media screen and (max-width: 1200px) {
    height: auto;
    padding-bottom: 0;
  }

  &__form-registration {
    position: relative;
    margin: 1.27% auto;
    z-index: 1;

    @media screen and (max-width: 1200px) {
      margin: 20px auto;
    }

    @media screen and (max-width: 380px) {
      width: 100%;
    }
  }
}
