.registration {
  display: flex;
  background-image: url('@Pages/registration/fon.png');
  height: 47.4vw;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  position: relative;

  .registration__content-container {
    position: relative;
    margin-left: 37%;
    min-width: 320px;
    z-index: 1;

    .form-registration {
      margin: 19px auto;
    }
  }

  .footer_shadow {
    border-top: 0;
  }
}

@media (max-width: 1200px) {
  .registration {
    background: none;
    height: auto;

    .registration__content-container {
      margin: auto;
    }
  }

  .form-registration {
    position: inherit;
  }
}
