html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    meta(keywords="keywords" description="description")
    link(rel="apple-touch-icon" sizes="180x180" href=require("@/favicons/apple-touch-icon.png").default)
    link(rel="icon" type="image/png" sizes="32x32" href=require("@/favicons/favicon-32x32.png").default)
    link(rel="icon" type="image/png" sizes="16x16" href=require("@/favicons/favicon-16x16.png").default)
    link(rel="mask-icon" color="#5bbad5" href=require("@/favicons/safari-pinned-tab.svg").default)
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" type="text/css" href="./css/index.js.css")
    link(rel="stylesheet" type="text/css" href="./css/start-page.js.css")
    link(rel="stylesheet" type="text/css" href="./css/landing-page.js.css")
    link(rel="stylesheet" type="text/css" href="./css/registration.js.css")
    link(rel="stylesheet" type="text/css" href="./css/sign-in.js.css")
    link(rel="stylesheet" type="text/css" href="./css/search-room.js.css")
    link(rel="stylesheet" type="text/css" href="./css/details-room.js.css")
    link(rel="stylesheet" type="text/css" href="./css/ui-kit-cards.js.css")
    link(rel="stylesheet" type="text/css" href="./css/ui-kit-color-type.js.css")
    link(rel="stylesheet" type="text/css" href="./css/ui-kit-form-elements.js.css")
    link(rel="stylesheet" type="text/css" href="./css/ui-kit-header-footer.js.css")
    script(src="./js/index.js")

  body  