.form{
	width: 380px;
	height: 374px;
	background: #fff;
	margin-top: 70px;
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px 30px 30px 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 1;

	.btn{
		width: 320px;
	}
}
