mixin chart
  div.chart
    p.chart__qty 260
    p.chart__text голосов

  div.chart-canvas
    canvas(id="oilChart")
  div.chart__legend
    +listBlock(
      {
        topic : "",
        tagTopic : ""
      }
    )
