mixin chart
  div.chart
    p.chart__qty 260
    p.chart__text голосов
    div.chart__legend
      +listBlock(
      {
        topic : "",
        tagTopic : ""
      }
      )
  div.chart-canvas
    canvas(id="oilChart")
