.chart {
  color: #bc9cff;
  font-weight: 700;
  position: absolute;
  width: 82px;
  height: 82px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &__qty {
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 45%;
    top: 33%;
  }

  &__text {
    font-weight: 600;
    position: absolute;
    left: 36%;
    top: 75%;
    letter-spacing: 0.4px;
  }
}

.chart-canvas {
  width: 253px;
  transform: translate(-66px);
  margin-top: 20px;
}

.chart-legend {
  position: absolute;
  left: 151px;
  top: 71px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    display: flex;
    margin: 0;
    color: rgba(31, 32, 65, 0.75);

    p {
      width: 160px;
      margin: 0;
    }
  }

  &__point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 7px 4px 7px 0;
    background: rgba(31, 32, 65, 0.25);
  }
}

@media (max-width: 400px) {
  .chart-legend {
    position: relative;
    left: 0;
    top: 20px;
  }
}
