mixin chart({ number = 0, id = '' })
  .chart
    .chart__rating
      p.chart__rating-number= number
      p.chart__rating-text голосов

    .chart__canvas
      canvas
    .chart__legend.js-chart__legend
      ul.chart__legend-list.js-chart__legend-list

