body{
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13.7px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  min-width: 320px;
}

.content{
  width: 100%;
  position:relative;

  &.content__headerShadow{
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  .content_container{
    max-width: 1150px;//1920px;
    min-width: 400px;//320px;
    margin: 0 auto;
  }
}

.formElements,
.colorType,
.uiKitHF,
.forms{
  //width: 100%;
}