.footer {
  &__block-menu {
    border-top: 1px solid rgba(31, 32, 65, 0.1);
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    background: #fff;
  }

  &__content-container {
    flex-grow: 1;
    max-width: 80.5%;
    min-width: 400px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    padding: 89px 0;
  }

  &__bottom-menu {
    display: flex;
    margin: 0;
    padding: 0 0 0 45px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__logo-block {
    display: block;
    max-width: min-content;
    min-width: 255px;

    p {
      padding: 0;
      margin: 7px 0;
    }
  }

  &__logo {
    margin: 10px 0 3px;
  }

  &__menu-column {
    display: block;
    width: 200px;
  }

  &__menu-list {
    padding: 0;
  }

  &__menu-li {
    position: relative;
    font-size: 14px;
    padding: 7px 0;
    line-height: 24px;
    cursor: pointer;
    display: block;
    color: rgba(31, 32, 65, 0.5);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
      > a {
        text-decoration: underline;
      }
    }

    &:first-child {
      font-weight: 700;
      color: #1f2041;
      font-size: 11.5px;
      text-transform: uppercase;
      cursor: inherit;
      white-space: nowrap;
      padding: 10px 0 7px;
      letter-spacing: 0.3px;
    }
  }

  &__subscription {
    width: 260px;
    margin: 0;
    padding: 0;

    .footer__block-topic {
      font-weight: 700;
      color: #1f2041;
      font-size: 11.5px;
      text-transform: uppercase;
      cursor: inherit;
      white-space: nowrap;
      padding: 10px 0 7px;
      margin: 0;
      letter-spacing: 0.3px;
    }

    p {
      margin: 6px 0 18px;
    }

    .input-text {
      &_subscription {
        margin-top: 10px;

        &:after {
          right: 5px;
        }
      }

      &__input {
        padding: 10px 14px;
        font-size: 14px;
        width: 260px;
      }
    }
  }

  &__copyright-block {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__copyright-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    min-width: 400px;
    max-width: 80.7%;
    margin: 0 auto;

    p {
      margin: 23px 0;
    }
  }

  &__soc-block {
    display: flex;
    margin-right: 2px;
  }

  &__soc-network {
    height: 24px;
    width: 24px;
    padding-left: 20px;
    cursor: pointer;
  }

  &__soc-network-twitter {
    margin-top: 2px;
  }

  &__soc-network-facebook,
  &__soc-network-instagram {
    width: 22px;
    height: 22px;
    margin-top: 1px;
    margin-left: 1px;
  }
}

@media (max-width: 1430px) {
  .footer {
    &__content-container {
      justify-content: space-between;
    }

    .footer-menu {
      &__bottom-menu {
        padding: 0;
      }

      &__menu-column {
        width: auto;
        margin: 0 15px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .footer {
    &__content-container {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__logo-block {
      margin-right: 15px;
    }

    &__logo {
      max-width: none;
    }

    .footer-menu {
      &__menu-column {
        max-width: 150px;
      }
    }

    &__subscription {
      flex-basis: 100%;
    }

    .input-text {
      &_subscription {
        width: 260px;
      }
    }

    &__copyright-content {
      margin: 23px 20px;
      max-width: 100%;
    }
  }
}

@media (max-width: 1170px) {
  .footer {
    &__content-container {
      margin: 0 40px;
      max-width: none;
    }
  }
}

@media (max-width: 840px) {
  .footer {
    .footer-menu {
      &__bottom-menu {
        margin: 20px 0;
      }

      &__menu-column {
        margin: 0 30px 0 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__block-menu {
      border-bottom: 0;
    }

    &__content-container {
      min-width: min-content;
      justify-content: center;
      padding: 110px 0 1px;
    }

    .footer-menu__bottom-menu,
    &__subscription {
      display: none;
    }

    &__logo-block {
      min-width: min-content;
      margin: 0;

      p {
        display: none;
      }
    }

    &__copyright-content {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      min-width: min-content;

      p {
        margin: 6px 0 20px;
        text-align: center;
      }
    }

    &__soc-block {
      padding: 0 0 120px 0;
    }
  }
}
