include ~@Blocks/btn/btn.pug
include ~@Blocks/input-text/input-text.pug
include ~@Blocks/footer-menu/footer-menu.pug


mixin footer
  footer.footer
    .footer__block-menu
      .footer__content-container
        .footer__logo-block
          img.footer__logo(src="./img/logo.svg" alt="logo")
          p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        .footer__footer-menu
          +footerMenu(
            {
              links : ["Навигация","О нас","Новости","Служба поддержки","Услуги"]
            },
            {
              links : ["О нас","О сервисе","Наша команда","Вакансии","Инвесторы"]
            },
            {
              links : ["Служба поддержки","Соглашения","Сообщества","Связь с нами"]
            }
          )

        .footer__subscription
          p.footer__subscription-topic Подписка
          p.footer__subscription-text Получайте специальные предложения и новости сервиса
          .footer__subscription-input
            +inputText(
              {
                topic : "",
                label : "",
                placeholder : "Email",
                inputText : "",
                id : "inputFooter",
                type : "subscription",
                name : ""
              }
            )

    .footer__copyright-block
      .footer__copyright-content
        p Copyright © 2018 Toxin отель. Все права защищены.
        .footer__soc-block  
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-twitter(src="./img/twitter.svg" alt="twitter")
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-facebook(src="./img/facebook.svg" alt="facebook")
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-instagram(src="./img/instagram.svg" alt="instagram")
