mixin link(obj)
  case obj.type
    when "gray"
      a(class="link link_gray" href= obj.url)= obj.text
    when "clean"
      a(class="link link_clean" href= obj.url)= obj.text
    when "lux"
    when "ok"
      a(class="link link_ok" href= obj.url)= obj.text
    default
      a(class="link" href= obj.url)= obj.text