.link {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  color: #bc9cff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 15px 20px 15px 0;
  -webkit-user-select: none;
  text-decoration: none;

  &.link_clean {
    color: rgba(31, 32, 65, 0.5);
  }

  &.link_lux {
    margin: 0 0 0 3px;
  }

  &:hover {
    text-decoration: underline;
  }
}
