mixin link({ text = 'Ссылка', url = './link-stub', type = '' })
  case type
    when "gray"
      a(class="link link_gray" href= url)= text
    when "clean"
      a(class="link link_clean js-link_clean" href= url)= text
    when "ok"
      a(class="link link_ok js-link_ok" href= url)= text
    default
      a(class="link" href= url)= text