.dropdown-block {
  position: relative;
  width: 100%;

  .dropdown-block__dropdown {
    position: relative;
    color: rgba(31, 32, 65, 0.75);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    height: 44px;
    padding: 8px 14px 8px 15px;
    margin-top: 5px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.5);
    }

    &.dropdown-block__dropdown_date {
      width: 150px;
      -webkit-appearance: none;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0;
      padding: 8px 14px;

      &:before {
        width: 15px;
        height: 11px;
        bottom: 14px;
        right: 11px;
      }
    }

    &.dropdown-block__dropdown_items-show {
      border: 1px solid rgba(31, 32, 65, 0.5);
      border-radius: 4px 4px 0 0;
    }

    &::before {
      content: '';
      width: 14px;
      height: 11px;
      position: absolute;
      bottom: 15px;
      right: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      background-image: url('@Blocks/dropdown/expand-more.svg');
      background-repeat: no-repeat;
    }
  }

  .dropdown-block__dropdown-items {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 0 0 4px 4px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    margin-top: -1px;
    z-index: 1;
    position: absolute;

    &.dropdown-block__dropdown-items_hide {
      display: none;
    }

    .dropdown-block__items-line,
    .dropdown-block__btns {
      display: flex;
      justify-content: space-between;
      color: rgba(31, 32, 65, 0.5);
      margin-top: -1px;
      width: 100%;
      height: 40px;

      h3 {
        padding: 13px 15px;
        margin: 0;
        letter-spacing: -0.5px;
      }

      h3,
      span {
        color: rgba(31, 32, 65, 1);
      }

      .dropdown-block__block-qty {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92px;
        margin-right: 7px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        .dropdown-block__inc-qty-minus,
        .dropdown-block__inc-qty-plus {
          border: 1px solid rgba(31, 32, 65, 0.25);
          border-radius: 50%;
          width: 30px;
          height: 30px;
          font-size: 20px;
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          padding-top: 2px;
          cursor: pointer;

          &.dropdown-block__inc-qty_disable {
            cursor: default;
            border-color: rgba(31, 32, 65, 0.15);
            color: rgba(31, 32, 65, 0.15);
          }
        }

        span {
          font-weight: bold;
        }
      }

      .link {
        &.link_clean {
          margin: auto 15px;
        }

        &.link_ok {
          margin: auto 7px;
        }
      }
    }

    .dropdown-block__btns {
      height: 48px;

      &.dropdown-block__btns_flex-end {
        justify-content: flex-end;

        > .link_clean {
          display: none;
        }
      }

      .link_clean {
        margin: 21px 0 0 14px;
      }

      .link_ok {
        margin: 21px 7px 0 0;
      }
    }
  }
}

.dropdown-dates {
  width: 100%;

  .dropdown-dates__dates {
    display: flex;
    justify-content: space-between;

    .dropdown-block {
      width: auto;

      .dropdown-block__dropdown_items-show {
        border-radius: 4px;
      }
    }
  }
}
