include ~@Blocks/link/link.pug
include ~@Blocks/topic-label/topic-label.pug
include ~@Blocks/calendar/calendar.pug

mixin dropdown({ name = '', topic = 'Заголовок', label = '', activeText = 'Текст', id = '', state = 'close', hasBtns = true, items = [] })
  .dropdown.js-dropdown(name= name id= id)
    +topicLabel({ topic : topic, label : label })
    - let dropdownOpenClass = ''
    - let dropdownItemsHiddenClass = ''

    if state == 'close'
      - dropdownItemsHiddenClass = 'dropdown__items_hidden'
    else
      - dropdownOpenClass = 'dropdown__field_actived'

    if items.length != 0
      div(class='dropdown__field js-dropdown__field ' + dropdownOpenClass)= activeText
      div(class='dropdown__items ' + dropdownItemsHiddenClass)

        if hasBtns
          .dropdown__btns.js-dropdown__btns
            .dropdown__btn-link.dropdown__btn-link_clean
              +link(
                {
                  text : "Очистить",
                  type : "clean"
                }
              )
            .dropdown__btn-link.dropdown__btn-link_ok
              +link(
                {
                  text : "Применить",
                  type : "ok"
                }
              )
    else
      .dropdown__field.js-dropdown__field= activeText

    if name == 'date'
      .dropdown__calendar
        +calendar({})