.dropdown {
  position: relative;
  width: 100%;

  &_flex-end {
    justify-content: flex-end;
  }

  &__dropdown {
    position: relative;
    color: rgba(31, 32, 65, 0.75);
    border-radius: 0.3vw;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-width: 1px;
    box-sizing: border-box;
    padding: 9px 30px 9px 14px;
    margin: 5px 0 0 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.5);
    }

    &:before {
      content: '';
      width: 16px;
      height: 11px;
      position: absolute;
      bottom: 14px;
      right: 10px;
      cursor: pointer;
      user-select: none;
      background-image: url('@Blocks/dropdown/img/expand-more-dropdown.svg');
      background-repeat: no-repeat;
    }
  }

  &__dropdown_items-show {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 0.3vw 0.3vw 0 0;
  }

  &__dropdown-items {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 0 0 0.3vw 0.3vw;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-width: 0 1px 1px 1px;
    z-index: 5;
    position: absolute;
    width: calc(100% - 2px);
    padding-bottom: 5px;
  }

  &__dropdown-items_hide {
    display: none;
  }

  &__items-line,
  &__btns {
    display: flex;
    justify-content: space-between;
    color: rgba(31, 32, 65, 0.5);
    width: 100%;
  }

  &__record-name {
    padding: 11px 14px;
    margin: 0;
  }

  &__block-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92px;
    margin-right: 5px;
    user-select: none;
  }

  &__inc-qty-number {
    color: rgba(31, 32, 65, 1);
    font-weight: bold;
    font-size: 12px;
  }

  &__inc-qty-minus,
  &__inc-qty-plus {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 2px;
    cursor: pointer;
    margin-top: 4px;
  }

  &__inc-qty_disable {
    cursor: default;
    border-color: rgba(31, 32, 65, 0.15);
    color: rgba(31, 32, 65, 0.15);
  }

  &__btns-link {
    margin: 19px 0 7px 0;
  }

  &__btns-link_clean {
    margin-left: 14px;
  }

  &__btns-link_clean_hidden {
    visibility: hidden;
  }

  &__btns-link_ok {
    margin-right: 6px;
  }

  &__calendar {
    margin-top: 5px;
    position: absolute;
    left: 1px;
    width: 100%;
  }
}
