include ../../blocks/elements/header/header.pug
include ../../blocks/elements/footer/footer.pug
include ../../blocks/cards/formSignIn/formSignIn.pug


include ../globalHEADER.pug

div.sign-in
  +formSignIn

include ../globalFOOTER.pug

script(src="/pages/signIn/signIn.js")