.days{
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
  text-align: center;
  vertical-align: center;

  &.name{
    color: #BC9CFF;
  }

  p{
    width: 39px;
    height: 40px;
  }
}

//--------------
.calendar-block{
  position: absolute;
  z-index: 100;
    
  &.calendar-block_hide{
    display: none;
  }
    

  .calendar{
    width: 320px;
    height: 337px;
    z-index: 5;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-width: 1px 1px 0 1px;
    box-sizing: border-box;
    box-shadow: 0px -20px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    background: #fff;
    left: -1px;

    .pignose-calendar{
      width: 100%;
      border: none;
      box-shadow: none;
      background: #fff;

      .pignose-calendar-top{
        border: none;
        box-shadow: none;
        background: #fff;
        padding: 0px 0 54px 0;
        height: 20px;
        display: flex;
        justify-content:space-between ;

        .pignose-calendar-top-nav{
          width: 24px;
          height: 24px;
          margin: 20px;

          .pignose-calendar-top-icon{
            width: 24px;
            height: 24px;

            &.icon-arrow-left,
            &.icon-arrow-right{
              display: block;
              background: url('../calendar/arrow_forward.svg') no-repeat center;
              width: 24px;
              height: 24px;
              font-size: 1;
            }

            &.icon-arrow-left{
              transform: rotate(180deg);
            }
          }
        }

        .pignose-calendar-top-date{
          padding: 20px 0 30px 0;
          display: flex;
          justify-content: center;

          .pignose-calendar-top-month{
            font-size: 20px;
            line-height: 21px;
            padding-right: 5px;
            margin: 0 2px;
            text-transform: none;
            color: #1F2041;
            font-weight: 700;
          }

          .pignose-calendar-top-year{
            font-size: 20px;
            line-height: 21px;
            font-weight: 700;
            color: #1F2041;
          }
        }
      }

      .pignose-calendar-header{
        display: flex;
        justify-content: space-between;
        margin: 0 20px;

        .pignose-calendar-week{
          font-size: 10px;
          width: 38px;
          height: 40px;
          color: #BC9CFF;
          text-transform: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .pignose-calendar-body{
        padding-top: 0;
        margin: 0 20px 20px 20px;

        .pignose-calendar-row {
          display: flex;
          justify-content: space-between;

          a{
            text-decoration: none;
          }

          .pignose-calendar-unit{
            height: 40px;
            width: 40px;
            
            &.pignose-calendar-unit-date{

              a {
                font-size: 12px;
                height: 40px;
                color: rgba(31, 32, 65, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            &.pignose-calendar-unit-active {

              a{
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
                color: #fff;
              }

              &.pignose-calendar-unit-first-active{
                border-radius: 50% 0 0 50%;

                a{
                  border-radius: 50%;
                }
              }
              
              &.pignose-calendar-unit-second-active{
                border-radius: 0 50% 50% 0;

                a{
                  border-radius: 50%;
                }
              }
            }

            &.pignose-calendar-unit-range{

              a{
                background: linear-gradient(180deg, #EEE6FF 0%, #E6EAFE 100%); 
                color: rgba(31, 32, 65, 0.5);
                border-radius: 0;
              }
            }
          }
        }
      }
    }
  }

  .calendar-block__btns{
    z-index: 100;
    width: 320px;
    height: 27px;
    box-shadow: 0px 10px 20px 0px rgb(31 32 65 / 5%);
    margin: -24px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-width: 0 1px 1px 1px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 7px 13px 49px 6px;
    border-radius: 0 0 4px 4px;

    .link{
      margin: 15px 7px 15px 13px;
    }
  }
}