.topic-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  &__additional-text {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    letter-spacing: -0.1px;
  }
}
