mixin topicLabel(obj)
  if obj.topic != "" && obj.label !=""
    div.topic-label
      h3= obj.topic
      p= obj.label
  else 
    if obj.topic != ""
      div.topic-label
        h3= obj.topic
    if obj.label != ""
      div.topic-label
        p= obj.label