mixin topicLabel({ topic = '', label = '' })
  if topic != "" && label !=""
    .topic-label
      h3= topic
      p= label
  else 
    if topic != ""
      .topic-label
        h3= topic
    if label != ""
      .topic-label
        p= label