.topic-label {
  display: flex;
  justify-content: space-between;

  h3,
  p {
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #1f2041;
    letter-spacing: -0.1px;
  }
}
