mixin topicLabel(obj)
  if obj.topic != "" && obj.label !=""
    .topic-label
      h3= obj.topic
      p= obj.label
  else 
    if obj.topic != ""
      .topic-label
        h3= obj.topic
    if obj.label != ""
      .topic-label
        p= obj.label