include /blocks/elements/inputText/inputText.pug
include /blocks/elements/btn/btn.pug

mixin formSignIn
  div.formSignIn
    h1 Войти
    +inputText("","","","Email","","signIn")
    +inputText("","","","Пароль","","signIn")
    +btn("Войти","btn_gradient btn_gradient_pay")
    div.formSignIn_login
      p Нет аккаунта Toxin?
      +btn("Создать","btn_border")