.radiogroup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;

  &__input {
    margin: auto 10px auto 0;
    width: 20px;
    height: 20px;
    display: none;

    &:checked {
      + .radiogroup__label {
        &:after {
          content: '';
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          left: 5px;
          top: 4px;
        }

        &:before {
          border: 1px solid #bc9cff;
        }
      }
    }
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
    margin: 0 20px 0 0;
    padding-left: 30px;

    &:before {
      content: '';
      background-color: #fff;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      position: absolute;
      left: 1px;
    }
  }
}
