mixin radiogroup(obj,...items)
  .radiogroup
    each item,index in items
      .radiogroup__radio-btn
        input.radiogroup__input(id="rb"+obj.nameGroup + obj.idMainBlock+(index+1) type="radio" name=obj.nameGroup checked= item.check)
        label.radiogroup__label(for="rb"+obj.nameGroup + obj.idMainBlock+(index+1))= item.text