@import '/pages/ui-kit_colorType/color_type.scss';

.cardRoom{
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin: 12px 2.5px 9px 7.4px;

  .cardRoom_image{
    width: 270px;
    height: 150px;
    border-radius: 4px 4px 0 0;	
    background-size: cover;	
    position: relative;

    &.images1{
      background-image: url('img/image1.png');
    }
    &.images2{
      background-image: url('img/image2.png');
    }
    &.images3{
      background-image: url('img/image3.png');
    }
    &.images4{
      background-image: url('img/image4.png');
    }
    &.images5{
      background-image: url('img/image5.png');
    }
    &.images6{
      background-image: url('img/image6.png');
    }
    &.images7{
      background-image: url('img/image7.png');
    }
    &.images8{
      background-image: url('img/image8.png');
    }
    &.images9{
      background-image: url('img/image9.png');
    }
    &.images10{
      background-image: url('img/image10.png');
    }
    &.images11{
      background-image: url('img/image11.png');
    }
    &.images12{
      background-image: url('img/image12.png');
    }

    .cardRoom_image_pagination{
      position: absolute;
      bottom: 14px;
      right: 14px;
      display: flex;
      flex-wrap: nowrap;
      
      .cardRoom_image_pagination_item{
        width: 7.5px;
        height: 7.5px;
        margin: 0 2px;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
        box-sizing: border-box;
        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);

        &.cardRoom_image_pagination_item__active{
          background: #fff;
        }
        
      }
    }
  }

  .cardRoom_contentInfo{
    margin: 20px;

    .cardRoom_contentInfo_block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      height: 27px;
      
      &.cardRoom_contentInfo_block__border{
        padding-bottom: 8px;
        border: 1px solid rgba(31, 32, 65, 0.1);
        border-width: 0 0 1px 0;
        margin: 0 0 6px 0;

        p{

          &:nth-child(1){
            color: $colorDarkShade100;

            span{

              &:nth-child(1){
                font-size: 14px;
              }

              &:nth-child(2){
                font-size: 20px;
              }
            }
          }

          &:nth-child(2){
            color: $colorDarkShade50;

            span{

              &:nth-child(1),
              &:nth-child(2){
                font-weight: bold;
                font-size: 14.5px;
              }

              &:nth-child(2){
                margin-right: 2px;
              }

              &:nth-child(3){
                font-size: 11px;
              }
            }
          }

          span{

            &:nth-child(1),
            &:nth-child(2){
              font-weight: bold;
            }
          }
        }
      }

      p{
        color: $colorDarkShade50;
        margin: 0;

        span{
          line-height: 25px;
          &:nth-child(1){
            font-weight: bold;
            font-size: 15px;
          }
        }
      }

      .rate-btn{
        margin: 0;
      }
    }
  }
}