mixin listBlock(obj,...items)
  div.list-block
    if obj.topic != ""
      case obj.tagTopic
        when "h2"
          h2= obj.topic
        when "h3"
          h3= obj.topic
    ul.list-block__list
      each item in items
        li.list-block__item
          p= item.text