.range-slider {
  width: 100%;

  &__topic-label {
    display: flex;
    justify-content: space-between;
  }

  &__label-block {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
  }

  &__slider {
    width: calc(100% - 11px);
    height: 6px;
    margin: 22px 0 10px;
    transform: translate(5px, 0);
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  &__all-width {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.3vw;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% + 11px);
    transform: translate(-5px, 0);
    height: 100%;
  }

  &__range {
    height: 100%;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 0.3vw;
    box-sizing: border-box;
  }

  &__left,
  &__right {
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 7px;
  }

  &__left {
    left: 78px;
    transform: translate(-50%, -12px);
  }

  &__right {
    left: 163px;
    transform: translate(-50%, -12px);
  }

  &__scale {
    position: absolute;
    z-index: -1;
  }

  &__scale-line {
    width: 1px;
    height: 10px;
    background: rgba(31, 32, 65, 0.25);
  }

  &__scale-val {
    transform: translateX(-50%);
    font-size: 10px;
  }

  &__text-after {
    color: rgba(31, 32, 65, 0.5);
    font-size: 12px;
    margin: 0;
  }
}

.moving-slider {
  user-select: none;
}
