.range-slider {
  width: 100%;

  .range-slider__topic-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .range-slider__slider {
    width: calc(100% - 11px);
    height: 6px;
    margin: 18px 0 10px;
    transform: translate(5px, 0);
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: '';
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 3px;
      box-sizing: border-box;
      position: absolute;
      width: calc(100% + 11px);
      transform: translate(-5px, 0);
      height: 6px;
    }

    .range-slider__scale {
      position: absolute;
      z-index: -1;

      .range-slider__scale-line {
        width: 1px;
        height: 10px;
        background: rgba(31, 32, 65, 0.25);
      }

      .range-slider__scale-val {
        transform: translateX(-50%);
        font-size: 10px;
      }
    }

    .range-slider__range {
      height: calc(100% + 0px);
      width: 85px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 3px;
      box-sizing: border-box;
      transform: translate(78px, 0px);
    }

    .range-slider__left,
    .range-slider__right {
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border: 2px solid #fff;
      border-radius: 50px;
      display: inline-block;
      position: absolute;
      cursor: pointer;
      top: 7px;
    }

    .range-slider__left {
      left: 78px;
      transform: translate(-50%, -12px);
    }

    .range-slider__right {
      left: 163px;
      transform: translate(-50%, -12px);
    }
  }

  .range-slider__postText {
    margin-top: 5px;
  }
}

.moving-slider {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
