.searchRoom{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;

	.searchRoom_filters{
		width: 267px;
		display: flex;
		flex-direction: column;
		margin-right: 35px;

		.blockDropdown{
			width: 100%;
			.blockDropdown_dropdown{
				width: 100%;
			}
		}	

		.searchRoom_filters_date,
		.searchRoom_filters_diapason,
		.searchRoom_filters_features,
		.searchRoom_filters_availability,
		.searchRoom_filters_comfort,
		.searchRoom_filters_additional,
		.checkboxList{
			margin-top: 30px;
		}

		.searchRoom_filters_guest{
			margin-top: 20px;
		}

		.searchRoom_filters_diapason{

			.searchRoom_filters_diapason_price{
				width: 100%;
				height: 20px;
				background: red;
			}
		}	
	}

	.column2{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h1{
			width: 100%;
			margin-bottom: 10px; 
		}

		.nav{
			width: 100%;
			display: flex;
			justify-content: center;
			margin: 30px 0 10px 0;

			.nav_num{
				width: 40px;
				height: 40px;
				color: rgba(31, 32, 65, 0.5);
				font-size: 12px;
				font-weight: bold;
				border-radius: 50%;

				display: flex;
				justify-content: center;
				align-items: center;

				cursor: pointer;

				&.active{
					background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
					color: #fff;
				}
				&.next{
					background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
					color: #fff;
					.arrow{
						.arrow_line{
							background: #fff;
						}
						.arrow_next{
							border-color: #fff;
						}
					}
				}
			}
		}
		.nav_label{
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
}


.line_footer{
	margin-top: 70px;
}
