$colorDarkShade100: rgba(31, 32, 65, 1) ;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #BC9CFF;
$colorGreen: #6FCF97;


.colorType{
	display: flex;
	justify-content: space-around;
}


.blockColor{
	display: flex;
	flex-direction: column;

	.blockColor_item{
		display: flex;
		align-items: center;

		.blockColor_item_blk{
			display: flex;
			width: 70px;
			height: 70px;
			border-radius: 6px;
			margin: 10px;

			&.colorDarkShade100{
				background: $colorDarkShade100;
			}
			&.colorDarkShade75{
				background: $colorDarkShade75;
			}
			&.colorDarkShade50{
				background: $colorDarkShade50;
			}
			&.colorDarkShade25{
				background: $colorDarkShade25;
			}
			&.colorDarkShade5{
				background: $colorDarkShade5;
			}
			&.colorPurple{
				background: $colorPurple;
			}
			&.colorGreen{
				background: $colorGreen;
			}
		}

		.blockColor_text{
			line-height: 29px;

			.blockColor_text2{
				font-weight: normal;
			}
		}
	}
}

.blockType{
	display: flex;
	flex-direction: column;

	.blockType_item{
		display: flex;
		margin: 25px;

		.blockType_item_sym{
			display: flex;
			color: rgba(31, 32, 65, 0.25);
			margin-right: 30px;
			font-family: Montserrat;

			width: 40px;
			justify-content: flex-end;
			align-items: left;			
		}

		.blockType_text{
			width: 355px;
		}
	}
}

h1{
	font-family: Open Sans;
	font-size: 24px;
	line-height: 30px;
}

h2{
	font-family: Open Sans;
	font-size: 19px;
	line-height: 24px;
}

h3{
	font-family: Montserrat;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}

h1,h2,h3{
	margin: 0;
}

body,p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}