script(src='/ui_kit/form_elements/checkbox/checkboxList.js')


mixin checkbox_item(label,id,p)
	if p ==''
		div.checkbox_item
			input.checkbox_item_input(id="check" + id type="checkbox")
			label.checkbox_item_label(for="check" + id)= label
	else
		div.checkbox_item
			input.checkbox_item_input(id="check" + id type="checkbox")
			label.checkbox_item_label.checkbox_item_label__bold(for="check" + id)= label
			p= p



	