.ui-kit-cards {
  display: flex;
  background: #f4f4f6;
  padding: 130px 120px;
  position: relative;
  width: 1440px;
  box-sizing: border-box;

  &__ico-logo {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 31px;
    top: 30px;
  }

  &__blk {
    margin: 20px;
  }

  &__form-registration,
  &__form-sign-in {
    margin-top: 39px;
  }

  &__calendar-block {
    height: 369px;
  }

  &__card-room {
    margin: 39px 0 41px 0;
  }
}
