.authorization{
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('/project/img/image4.1.png');
  height: 48.6vw;//53.7vw;
  background-size: cover;
  background-position: bottom;

  .form-sign-in{
    margin: auto;
  }
} 

@media (max-width: 640px){
  .authorization{
    background: none;
    height: auto;
  }
  
  .form-sign-in{
    position: inherit;
    margin: 20px auto!important;
  }
}

