.sign-in{
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('/project/img/image4.1.png');
  height: 48.6vw;
  background-size: cover;
  background-position: bottom;

  .form-sign-in{
    margin: auto;

    h1{
      margin-bottom: 13px;
    }
  }
} 

@media (max-width: 640px){
  .sign-in{
    background: none;
    height: auto;
  }
  
  .form-sign-in{
    position: inherit;
    margin: 20px auto!important;
  }
}

