.btn{
  border-radius: 22px;
  height: 26px;
  padding: 4px 0;
  cursor: pointer;
  margin: 15px 20px 15px 0;
  position: relative;
  text-align: center;

  &.btn_border{
    background-color: #fff;
    border: 1px #BC9CFF solid;	

    height: 22px;
    border-width: 2px;

    .btn__link{
      color: #BC9CFF;
    }
  }

  &.btn_gradient{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #ffffff;	

    &.btn_gradient_pay{
      width: 320px;
    }
  }

  &:hover,
  &:focus,
  &.btn_hover{
    opacity: 0.5;
  }

  .btn__link{
    color: #ffffff;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-user-select: none;
  }

  .btn__arrow{
    position: absolute;
    bottom: 12px;
    right: 15px;
    content: '';
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 11px;
    background-repeat: no-repeat;
    background-image: url('/img/arrow.svg');
    
    &.btn__arrow_white{	
      background-image: url('/img/arrow-white.svg');
    }
  }
}