include ~@Blocks/dropdown/dropdown.pug
include ~@Blocks/dropdown-dates/dropdown-dates.pug
include ~@Blocks/btn/btn.pug

mixin formSearchNum
  form.form-search-num
    h1 Найдём номера под ваши пожелания
    .form-search-num__dropdown-dates
      +dropdownDates(
        { 
          topic : "Прибытие",
          activeText : "ДД.ММ.ГГГГ",
        },
        { 
          topic : "Выезд",
          activeText : "ДД.ММ.ГГГГ",
        }
      ) 

    +dropdown(
      { 
        name : "guests",
        topic : "Гости",
        label : "",
        activeText : "Сколько гостей",
        state : "close",
        btnClean : true,
        btnOk : true
      },
      {
        text : "взрослые",
        qty : 2,
        minus : "active",
        plus : "active"
      },
      {
        text : "дети",
        qty : 1,
        minus : "active",
        plus : "active"
      },
      {
        text : "младенцы",
        qty : 0,
        minus : "disable",
        plus : "active"
      }    
    )

    .form-search-num__btn
      +btn(
        {
          text : "подобрать номер",
          link : "./search-room.html",
          arrow : true,
        }
      )