.form-search-num {
  width: 380px;
  background: #fff;
  margin-top: 70px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 39px 29px 30px 29px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  z-index: 1;

  > .dropdown-block {
    h3 {
      margin-top: 21px;
    }
  }

  h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: -0.3px;
  }

  h3 {
    margin-top: 22px;
  }

  .btn {
    width: 100%;
    margin: 31px 0 0 0;
    height: 44px;

    .btn__block {
      .btn__link {
        padding-right: 5px;
        font-size: 11px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0.8px;
      }
    }
  }

  .dropdown-dates {
    .calendar-block {
      .calendar-block__btns {
        width: 301px;
        transform: translateX(-1.2px);
      }
    }
  }

  .dropdown-block {
    .dropdown-block__dropdown {
      padding: 9px 14px 7px 14px;

      &:before {
        width: 15px;
        height: 11px;
        bottom: 14px;
        right: 12px;
      }

      &.dropdown-block__dropdown_date {
        letter-spacing: -0.1px;
      }
    }

    .dropdown-block__dropdown-items {
      h3 {
        margin-top: 0px;
      }

      .dropdown-block__items-line {
        height: 38px;

        .dropdown-block__block-qty {
          margin: 8px 6px 0 0;

          span {
            font-size: 10px;
          }
        }
      }

      .dropdown-block__btns {
        .link {
          margin: auto 14px 12px;

          &.link_ok {
            margin: auto 6px 12px;
          }
        }
      }
    }
  }
}
