include ~@Blocks/dropdown/dropdown.pug
include ~@Blocks/dropdown-dates/dropdown-dates.pug
include ~@Blocks/btn/btn.pug

mixin formSearchNum
  form(action="./search-room.html").form-search-num
    h1.form-search-num__topic Найдём номера под ваши пожелания
    .form-search-num__dropdown-dates
      +dropdownDates(
        {
          items : [
            { 
              topic : "Прибытие",
            },
            { 
              topic : "Выезд",
            }
          ]
        }
      ) 

    +dropdown(
      { 
        name : "guests",
        topic : "Гости",
        activeText : "Сколько гостей",
        items : [
          {
            text : "взрослые",
            qty : 2,
          },
          {
            text : "дети",
            qty : 1,
          },
          {
            text : "младенцы",
          }
        ]
      }
    )

    .form-search-num__btn
      +btn(
        {
          text : "подобрать номер",
          link : "./search-room.html",
          arrow : true,
        }
      )