.blk1{
	border-bottom: 1px solid red;
	margin: 20px;
	width: 320px;
	display: inline-block;

	.flex{
		width: 100%;
	}
}

/*.blk2{
	.block_dropdown{
		width: 267px;
		.dropdown{
			width: 267px;
		}

		&:nth-child(1){
			h3{
				margin-top: 0;
			}	
		}		
	}	
}*/
	

.inputText_input,
.blockDropdown_dropdown{
	width: 320px;

	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	height: 44px;
	color: rgba(31, 32, 65, 0.25);

	padding: 10px 15px;
	margin-top: 5px;

	font-family: 'Montserrat';
	font-weight: normal;
    font-style: normal;    

	&:hover{
		color: rgba(31, 32, 65, 0.75);
		border: 1px solid rgba(31, 32, 65, 0.5);
	}
}

.arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	cursor: pointer;

	.arrow_line{
		width: 15px;
		height: 2px;
		background: #BC9CFF;
	}
	
	
	.arrow_next{
		width: 10px;
		height: 10px;
		border-style: solid;
		border-width: 0 2px 2px 0;
		border-color: #BC9CFF;
		transform: rotate(-45deg);
		position: absolute;
		top: 4;
		left: 4;
	}
}

/*.heart{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7px;
	height: 7px;
	cursor: pointer;
	position: relative;
	transform: rotate(45deg);

	.heart_line{
		width: 7px;
		height: 4.5px;
		background: #BC9CFF;
		position: absolute;
		bottom: 0;
		border-radius: 100px 0 0 150px;
	}
	
	
	.heart_next{
		width: 4.5px;
		height: 7px;
		background: #BC9CFF;
		position: absolute;
		right: 0;
		border-radius: 100px 150px 0 0;
	}
}*/

///////////////









//list - списки
.list{
	margin: 0;
	padding: 0;

	.list_item{
		position: relative;
		margin: 5px 0;
		display: flex;

		&:before{
			content: "";
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin: 7px 10px;
			background: rgba(31, 32, 65, 0.25);
		}

		p{
			width: 270px;
		}
	}
}

//
/*.room_number{
	width: 270px;
	height: 257px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;

	.image{
		width: 270px;
		height: 150px;
		border-radius: 4px 4px 0 0;	
		background-image: url("image.png");
		background-size: cover;	
	}

	.content_info{
		margin: 20px;

		.form_room_flex{
			width: auto;
			align-items: flex-end;

			p{
				font-weight: bold;

				&.num{
					color: #1F2041;

					span{
						font-size: 20px;
					}

					&.lux{
						&:after{
							content: "люкс";
							color: #BC9CFF;
							font-size: 15px;
							font-weight: bold;
							margin-left: 5px;
						}
					}
				}
				&.sum{
					color: rgba(31, 32, 65, 0.5);

					span{
						font-size: 16px;
					}
				}


			}
		}

		hr{
			background: rgba(31, 32, 65, 0.1);
		}
	}

	
}


.star{
	width: 24px;
	height: 24px;

	&.star_active{
		background: url("star.svg") no-repeat;
	}

	&.star_none{
		background: url("star_border.svg") no-repeat;
	}
}*/

