.formElements{
	display: flex;
	flex-wrap: wrap;

	.blk{
		border-bottom: 1px solid red;
		margin: 20px;
		width: 320px;
		

		.flex{
			width: 100%;
		}

		&:nth-child(3n+1){
			margin-right: 126px;
		}
		&:nth-child(3n+2){
			margin-right: 72px;
		}

		&.width{
			width: 717px;
		}
	}
}
	

.inputText_input,
.blockDropdown_dropdown{
	//width: 320px;

	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	height: 44px;
	color: rgba(31, 32, 65, 0.25);

	padding: 10px 15px;
	margin-top: 5px;

	font-family: 'Montserrat';
	font-weight: normal;
    font-style: normal;    

	&:hover{
		color: rgba(31, 32, 65, 0.75);
		border: 1px solid rgba(31, 32, 65, 0.5);
	}
}