include inputText/inputText.pug
include dropdown/dropdown.pug
include btn/btn.pug
include checkbox/checkbox.pug
include radiobutton/radiobutton.pug
include toggle/toggle.pug
include like/like.pug
include rateBtn/rateBtn.pug
include rangeSlider/rangeSlider.pug
include link/link.pug
include pagination/pagination.pug
include list/list.pug
include info/info.pug
include comment/comment.pug


div.formElements
	div.blk
		+inputText('Text Field','','Email')
		+inputText('Text Field','hover','This is pretty awesome')

		+dropdown('Dropdown','Сколько гостей','')

		+inputText('masked Text Field','inputText_input__masked','ДД.ММ.ГГГГ')

		div.flex
			+dropdown('date Dropdown','ДД.ММ.ГГГГ','blockDropdown_dropdown__date')
			+dropdown('date Dropdown','ДД.ММ.ГГГГ','blockDropdown_dropdown__date')

		+dropdown('filter date dropdown','19 авг - 23 авг','blockDropdown_dropdown__filter')

		+inputText('subscription text field','inputText_input__subscription','Email')
			div.arrow
				div.arrow_line
				div.arrow_next

	div.blk
		h3 Checkbox Buttons
		div.checkbox
			+checkbox_item("Можно курить", 11,'','')
			+checkbox_item("Можно с питомцами", 12,'','')
			+checkbox_item("Можно пригласить гостей (до 10 человек)", 13,'','')

		h3 Radio Buttons
		div.flex.start
			+radio(1,"rbGroop1","Мужчина")
			+radio(2,"rbGroop1","Женщина")

		h3 Toggle
		+toggle("toggleGrooup1","Получать спецпредложения")
		+toggle("toggleGrooup2","Получать спецпредложения")

		h3 like button
		div.flex.start
			+like('5')
			+like('18')

		h3 rate button
		div.flex.start
			+rate('',1,2,3,4,5)
			+rate('',1,2,3,4,5)

	div.blk
		+rangeSlider('Range Slider',0,100000,'idPrice0')

		h3 buttons
		div.flex.start
			+btn('CLICK ME','btn__gradient')
			+btn('CLICK ME','btn__gradient')
		div.flex.start
			+btn('CLICK ME','btn__border')
			+btn('CLICK ME','btn__border')

		div.flex.start
			+link('CLICK ME','link__grey')
			+link('CLICK ME','')

		+btn('перейти к оплате','btn__gradient btn__gradient__pay')

		h3 pagination
		+pagination('1 – 15 из 100+ вариантов аренды','')
		//__center
		
	div.blk
		+dropdown('Dropdown','2 спальни, 2 кровати...','')

		div.blockDropdown
			+dropdownEx('Dropdown','2 спальни, 2 кровати...','blockDropdown_dropdown__itemsShow')
			div.blockDropdown_dropdownItems
				+dropdownItems('спальни',2,'','')
				+dropdownItems('кровати',2,'','')
				+dropdownItems('ванные комнаты',0,'blockDropdown_dropdownItems_line_incBlock_inc__disable','')

	div.blk
		div.blockDropdown
			+dropdownEx('Dropdown','Сколько гостей','blockDropdown_dropdown__itemsShow')
			div.blockDropdown_dropdownItems
				+dropdownItems('взрослые',0,'','')
				+dropdownItems('дети',0,'','')
				+dropdownItems('младенцы',0,'blockDropdown_dropdownItems_line_incBlock_inc__disable','')
				+dropdownItemsLink(0)

	div.blk
		div.blockDropdown
			+dropdownEx('Dropdown','3 гостя','blockDropdown_dropdown__itemsShow')
			div.blockDropdown_dropdownItems
				+dropdownItems('взрослые',2,'','')
				+dropdownItems('дети',1,'','')
				+dropdownItems('младенцы',0,'blockDropdown_dropdownItems_line_incBlock_inc__disable','')
				+dropdownItemsLink(3)
			
	div.blk
		div.checkboxList
			div.flex
				h3 expandable checkbox list
				img.checkboxList_expand(src="project/img/expand_more.svg")

		div.checkboxList
			div.flex
				h3 expandable checkbox list
				img.checkboxList_expand(src="project/img/expand_more.svg")
			div.checkbox.checkbox__hide
				+checkbox_item("Завтрак", 21,'','')
				+checkbox_item("Письменный стол", 22,'','')
				+checkbox_item("Стул для кормления", 23,'','')
				+checkbox_item("Кроватка", 24,'','')
				+checkbox_item("Телевизор", 25,'','')
				+checkbox_item("Шампунь", 26,'','')
				+checkbox_item("Телевизор", 27,'','')
				+checkbox_item("Шампунь", 28,'','')

	div.blk
		h3 Rich Checkbox Buttons
		div.checkbox
			+checkbox_item("Широкий коридор", 31, 'Ширина коридоров в номере не менее 91 см.','p_200')
			+checkbox_item("Помощник для инвалидов", 32, 'На 1 этаже вас встретит специалист и проводит до номера.','p_225')
	
	div.blk
		h3 bullet list
		ul.list
			+listItem('Нельзя с питомцами')
			+listItem('Без вечеринок и мероприятий')
			+listItem('Время прибытия — после 13:00, а выезд до 12:00')

	div.blk
		div.info
			+infoItem('Комфорт', 'Шумопоглощающие стены','ui_kit/form_elements/info/insert_emoticon.svg','')
			hr.info_hr
			+infoItem('Удобство', 'Окно в каждой из спален','ui_kit/form_elements/info/location_city.svg','')

	div.blk.width
		div.comment
			h2 
			+comment_item('ui_kit/form_elements/comment/photo1.svg',12,'Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')