include inputText/inputText.pug
include dropdown/dropdown.pug
include checkbox/checkbox.pug
include radiobutton/radiobutton.pug
include toggle/toggle.pug
include like/like.pug


div.blk1
	+inputText('Text Field','')
	+inputText('Text Field','hover')

	+dropdown('Dropdown','Сколько гостей','')

	+inputText('masked Text Field','inputText_input__masked')

	div.flex
		+dropdown('date Dropdown','ДД.ММ.ГГГГ','blockDropdown_dropdown__date')
		+dropdown('date Dropdown','ДД.ММ.ГГГГ','blockDropdown_dropdown__date')

	+dropdown('filter date dropdown','19 авг - 23 авг','blockDropdown_dropdown__filter')

	+inputText('subscription text field','inputText_input__subscription')
		div.arrow
			div.arrow_line
			div.arrow_next

div.blk1
	h3 Checkbox Buttons
	div.checkbox
		+checkbox_item("Можно курить", 10)
		+checkbox_item("Можно с питомцами", 20)
		+checkbox_item("Можно пригласить гостей (до 10 человек)", 30)

	h3 Radio Buttons
	div.flex.start
		+radio(1,"rbGroop1","Мужчина")
		+radio(2,"rbGroop1","Женщина")

	h3 Toggle
	+toggle("toggleGrooup1","Получать спецпредложения")
	+toggle("toggleGrooup2","Получать спецпредложения")


	+like('5')

//include /blocks/room_search/room_search.html
//include /blocks/form_registration/form.html