include inputText/inputText.pug
include dropdown/dropdown.pug


div.blk1
	+inputText('Text Field','')
	+inputText('Text Field','hover')

	+dropdown('Dropdown','Сколько гостей','')

	+inputText('masked Text Field','inputText_input__masked')

	div.flex
		+dropdown('date Dropdown','ДД.ММ.ГГГГ','blockDropdown_dropdown__date')
		+dropdown('date Dropdown','ДД.ММ.ГГГГ','blockDropdown_dropdown__date')

	+dropdown('filter date dropdown','19 авг - 23 авг','blockDropdown_dropdown__filter')