/*Montserrat*/
/*@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), 
    local('Montserrat-Regular'), 
    url('../font/montserrat/Montserrat-Regular.otf') format('opentype'), 
    url('../font/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}*/

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), 
    local('Montserrat-Regular'), 
    url('../font/montserrat/MontserratRegular/MontserratRegular.eot') format('opentype'), 
    url('../font/montserrat/MontserratRegular/MontserratRegular.woff') format('woff'), 
    url('../font/montserrat/MontserratRegular/MontserratRegular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/*
@font-face {
    font-family: 'Montserrat';
    src: url('../font/mon/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/mon/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {//2
    font-family: 'Montserrat';
    src: local('Montserrat Hairline'), 
    local('Montserrat-Hairline'), 
    url('../font/montserrat/montserrathairline.woff2') format('woff2'), 
    url('../font/montserrat/montserrathairline.woff') format('woff'), 
    url('../font/montserrat/montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), 
    local('Montserrat-Light'), 
    url('../font/montserrat/montserratlight.woff2') format('woff2'), 
    url('../font/montserrat/montserratlight.woff') format('woff'), 
    url('../font/montserrat/montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), 
    local('Montserrat-Regular'), 
    url('../font/montserrat/montserrat.woff2') format('woff2'), 
    url('../font/montserrat/montserrat.woff') format('woff'), 
    url('../font/montserrat/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), 
    local('Montserrat-Bold'), 
    url('../font/montserrat/montserratbold.woff2') format('woff2'), 
    url('../font/montserrat/montserratbold.woff') format('woff'), 
    url('../font/montserrat/montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), 
    local('Montserrat-Black'), 
    url('../font/montserrat/montserratblack.woff2') format('woff2'), 
    url('../font/montserrat/montserratblack.woff') format('woff'), 
    url('../font/montserrat/montserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}*/


/*Open Sans*/
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), 
    local('OpenSans-Light'), 
    url('../font/opensans/opensanslight.woff2') format('woff2'), 
    url('../font/opensans/opensanslight.woff') format('woff'), 
    url('../font/opensans/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), 
    local('OpenSansLight-Italic'), 
    url('../font/opensans/opensanslightitalic.woff2') format('woff2'), 
    url('../font/opensans/opensanslightitalic.woff') format('woff'), 
    url('../font/opensans/opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), 
    local('OpenSans'), 
    url('../font/opensans/opensans.woff2') format('woff2'), 
    url('../font/opensans/opensans.woff') format('woff'), 
    url('../font/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), 
    local('OpenSans-Italic'), 
    url('../font/opensans/opensansitalic.woff2') format('woff2'), 
    url('../font/opensans/opensansitalic.woff') format('woff'), 
    url('../font/opensans/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), 
    local('OpenSans-Semibold'), 
    url('../font/opensans/opensanssemibold.woff2') format('woff2'), 
    url('../font/opensans/opensanssemibold.woff') format('woff'), 
    url('../font/opensans/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), 
    local('OpenSans-SemiboldItalic'), 
    url('../font/opensans/opensanssemibolditalic.woff2') format('woff2'), 
    url('../font/opensans/opensanssemibolditalic.woff') format('woff'), 
    url('../font/opensans/opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), 
    local('OpenSans-Bold'), 
    url('../font/opensans/opensansbold.woff2') format('woff2'), 
    url('../font/opensans/opensansbold.woff') format('woff'), 
    url('../font/opensans/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), 
    local('OpenSans-BoldItalic'), 
    url('../font/opensans/opensansbolditalic.woff2') format('woff2'), 
    url('../font/opensans/opensansbolditalic.woff') format('woff'), 
    url('../font/opensans/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), 
    local('OpenSans-Extrabold'), 
    url('../font/opensans/opensansextrabold.woff2') format('woff2'), 
    url('../font/opensans/opensansextrabold.woff') format('woff'), 
    url('../font/opensans/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), 
    local('OpenSans-ExtraboldItalic'), 
    url('../font/opensans/opensansextrabolditalic.woff2') format('woff2'), 
    url('../font/opensans/opensansextrabolditalic.woff') format('woff'), 
    url('../font/opensans/opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
