/*Montserrat*/

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'), 
  local('MontserratRegular'), 
  url('../font/montserrat/MontserratRegular/MontserratRegular.eot') format('opentype'), 
  url('../font/montserrat/MontserratRegular/MontserratRegular.woff') format('woff'), 
  url('../font/montserrat/MontserratRegular/MontserratRegular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-size: 13.7px;
}