.sliderConf .sliderConf_block {
  /*display: flex;

  padding: 0;
  margin: 0;*/
}

.searchRoom2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.searchRoom2 .sliderConf {
  min-width: 400px;
}
.searchRoom2 .sliderConf .checkbox {
  display: flex;
  justify-content: flex-start;
}
.searchRoom2 .sliderConf .sliderConf_block {
  display: none;
}
.searchRoom2 .sliderConf .sliderConf_block .sliderConf_block_item {
  display: flex;
  flex-wrap: wrap;
}
.searchRoom2 .sliderConf .sliderConf_block .sliderConf_block_item .sliderConf_block_item_option {
  margin: 5px;
  /*&.sliderConf_block_item_option__3inStr{
  	width: 30%;
  }
  &.sliderConf_block_item_option__2inStr{
  	width: 45%;
  }*/
}
.searchRoom2 .searchRoom_filters {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 35px;
}
.searchRoom2 .searchRoom_filters .blockDropdown {
  width: 100%;
}
.searchRoom2 .searchRoom_filters .blockDropdown .blockDropdown_dropdown {
  width: 100%;
}
.searchRoom2 .searchRoom_filters .searchRoom_filters_date,
.searchRoom2 .searchRoom_filters .searchRoom_filters_diapason,
.searchRoom2 .searchRoom_filters .searchRoom_filters_features,
.searchRoom2 .searchRoom_filters .searchRoom_filters_availability,
.searchRoom2 .searchRoom_filters .searchRoom_filters_comfort,
.searchRoom2 .searchRoom_filters .searchRoom_filters_additional,
.searchRoom2 .searchRoom_filters .checkboxList {
  margin-top: 30px;
}
.searchRoom2 .searchRoom_filters .searchRoom_filters_guest {
  margin-top: 20px;
}
.searchRoom2 .searchRoom_filters .searchRoom_filters_diapason {
  /*.searchRoom_filters_diapason_price{
  	width: 100%;
  	height: 20px;
  	background: red;
  }*/
}
.searchRoom2 .searchRoom_filters .searchRoom_filters_diapason .rangeSlider {
  width: 400px;
}
.searchRoom2 .searchRoom_filters .searchRoom_filters_diapason .sliderConf {
  width: 100%;
}
.searchRoom2 .searchRoom_filters .searchRoom_filters_diapason p {
  color: rgba(31, 32, 65, 0.5);
  font-size: 12px;
  margin: 0;
}
.searchRoom2 .searchRoom_rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 70px;
}
.searchRoom2 .searchRoom_rooms h1 {
  width: 100%;
  margin: 25px 0 10px 0;
}
.searchRoom2 .searchRoom_rooms .searchRoom_rooms_nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 10px 0;
}
.searchRoom2 .searchRoom_rooms .searchRoom_rooms_nav .searchRoom_rooms_nav_num {
  width: 40px;
  height: 40px;
  color: rgba(31, 32, 65, 0.5);
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.searchRoom2 .searchRoom_rooms .searchRoom_rooms_nav .searchRoom_rooms_nav_num.searchRoom_rooms_nav_num__active {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
}
.searchRoom2 .searchRoom_rooms .searchRoom_rooms_nav .searchRoom_rooms_nav_num.searchRoom_rooms_nav_num__next {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  color: #fff;
  position: relative;
}
.searchRoom2 .searchRoom_rooms .searchRoom_rooms_nav .searchRoom_rooms_nav_num.searchRoom_rooms_nav_num__next:after {
  content: "";
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 11px;
  left: 11px;
  background-repeat: no-repeat;
  background-image: url("/arrow_white.a18144f4.svg");
}
.searchRoom2 .searchRoom_rooms .searchRoom_rooms_nav_label {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1170px) {
  .searchRoom .searchRoom_filters {
    margin-left: 20px;
  }
  .searchRoom .searchRoom_rooms {
    justify-content: space-around;
  }
  .searchRoom .searchRoom_rooms h1 {
    text-align: center;
    padding: 0 15px;
  }
}
@media (max-width: 620px) {
  .searchRoom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .searchRoom .searchRoom_filters {
    margin: 0;
  }
}

/*# sourceMappingURL=/indexTests.712b81a1.css.map */