extends ~@Blocks/layout/layout.pug
include ~@Blocks/link/link.pug

block links
  link(rel="stylesheet" type="text/css" href="./css/index.js.css")

block header
block footer

block content
  .start-page
    h2 Pages Toxin:
    .start-page__links
      .start-page__link
        +link(
          {
            text : "landing page",
            url : "./landing-page.html",
            type : "ok"
          }
        )
      .start-page__link
        +link(
          {
            text : "registration",
            url : "./registration.html",
            type : "ok"
          }
        )
      .start-page__link
        +link(
          {
            text : "sign in",
            url : "./sign-in.html",
            type : "ok"
          }
        )
      .start-page__link
        +link(
          {
            text : "search room",
            url : "./search-room.html",
            type : "ok"
          }
        )
      .start-page__link
        +link(
          {
            text : "details room",
            url : "./details-room.html",
            type : "ok"
          }
        )

      .start-page__link
        +link(
          {
            text : "UI-Kit - form elements",
            url : "./ui-kit-form-elements.html",
            type : "ok"
          }
        )
      .start-page__link
        +link(
          {
            text : "UI-Kit - cards",
            url : "./ui-kit-cards.html",
            type : "ok"
          }
        )
      .start-page__link
        +link(
          {
            text : "UI-Kit - header & footer",
            url : "./ui-kit-header-footer.html",
            type : "ok"
          }
        )
      .start-page__link
        +link(
          {
            text : "UI-Kit - color & type",
            url : "./ui-kit-color-type.html",
            type : "ok"
          }
        )
  script(src="./js/index.js")