include /pages/global-head.pug

include /blocks/elements/link/link.pug

div.start-page
  h2 Pages Toxin:
  div.start-page__links
    +link(
      {
        text : "landing page",
        url : "/landing-page.html",
        type : "ok"
      }
      )
    +link(
      {
        text : "registration",
        url : "/registration.html",
        type : "ok"
      }
      )
    +link(
      {
        text : "sign in",
        url : "/sign-in.html",
        type : "ok"
      }
      )
    +link(
      {
        text : "search room",
        url : "/pages/search-room/search-room.pug",
        type : "ok"
      }
      )
    +link(
      {
        text : "details room",
        url : "/pages/details-room/details-room.pug",
        type : "ok"
      }
      )
        
    +link(
      {
        text : "UI-Kit - form elements",
        url : "/pages/ui-kit-form-elements/ui-kit-form-elements.pug",
        type : "ok"
      }
      )
    +link(
      {
        text : "UI-Kit - cards",
        url : "/pages/ui-kit-cards/ui-kit-cards.pug",
        type : "ok"
      }
      )
    +link(
      {
        text : "UI-Kit - header & footer",
        url : "/pages/ui-kit-header-footer/ui-kit-header-footer.pug",
        type : "ok"
      }
      )
    +link(
      {
        text : "UI-Kit - color & type",
        url : "/pages/ui-kit-color-type/ui-kit-color-type.pug",
        type : "ok"
      }
      )

script(src="./index.js")