mixin listBlock({ list = ['Элемент списка'] })
  .list-block
    ul.list-block__list
      each item in list
        li.list-block__item
          .list-block__point
          p.list-block__text= item