//toggle
.toggle__flex{
	display: flex;
	justify-content: flex-start;

	.toggle{
		display: flex;
		justify-content: space-between;
		width: 38px;
		height: 18px;
		border-radius: 10px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		margin-top: 9px;

		.toggle_item{

			.toggle_item_input{
				display: none;

				&:checked{
					+ .toggle_item_label{
						&:after{
							content: "";
							display: inline-block;
							width: 12px;
							height: 12px;
							border-radius: 50%;
							position: absolute;
							left: 0px;
							top: 0px;
						}
					}
					+ .off{
						&:after{
							background: rgba(31, 32, 65, 0.25);
						}
					}
					+ .on{
						&:after{
							background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
							$color: #000;
						}
					}
				}		
			}

			.toggle_item_label{
				display: inline-block;
				cursor: pointer;
				position: relative;
				user-select: none;
				margin: 3px;
			
				&:before{
					content: "";
					background-color: #fff;
					display: inline-block;
					width: 12px;
					height: 12px;
					border-radius: 50%;
				}
			}
		}
	}

	p{
		margin: 7px 0 0 10px;
	}
}