@media (max-width: 1170px) {
  .header {
    height: auto;

    &__content-container {
      margin: 0 20px;
    }
  }
}

@media (max-width: 960px) {
  .header {
    &__content-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__links_mobile {
      flex-basis: 100%;
      flex-direction: column;
    }

    &__links_hidden {
      display: none;
    }

    &__block-menu {
      flex-direction: column;
      justify-content: center;
    }

    &__menu-li {
      &:nth-child(1) {
        margin-left: 0;
      }
    }

    &__btn {
      margin: 10px 10px 20px 10px;
    }

    &__block-login-hr {
      display: none;
    }

    &__menu-mobile {
      display: block;
      margin: auto 0;
    }
  }
}

@media (max-width: 530px) {
  .header {
    &__menu {
      flex-direction: column;
    }

    &__menu-li {
      margin: 5px 0;
    }

    &__block-login {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
