include ~@Blocks/button/button.pug

mixin header({ authorization = false, name = 'Имя', items = [] })
  - let active
  - let expand

  header.header
    .header__content-container
      a.header__logo-link(href="./landing-page.html")
        img.header__logo(src=require("@Blocks/header/img/logo.svg").default alt="logo")
      .header__menu-mobile.js-header__menu-mobile
      .header__links.header__links_hidden
        if items.length != 0
          nav.header__block-menu
            ul.header__menu
              each item in items
                - const menuItem = item.menuItem || 'Пункт меню'
                - const link = item.link || './link-stub'
                - const state = item.state || ''
                - const type = item.type || ''
                - const submenu = item.submenu || false

                if state == "active"
                  - active = "header__menu-li_active";
                else
                  - active = "";
                if type == "expand"
                  - expand = "header__menu-li_expand js-header__menu-li_expand";
                else
                  - expand = "";

                li(class="header__menu-li " +active+" "+expand)
                  a.header__menu-a(href= link)= menuItem
                  if submenu != false
                    ul.header__submenu
                      each sbm in item.submenu
                        - const sbmItem = sbm.menuItem || 'Пункт меню'
                        - const sbmLink = sbm.link || './link-stub'

                        li.header__submenu-li
                          a.header__submenu-a(href= sbmLink)= sbmItem
        .header__block-login
          if authorization == false
            .header__btn.header__btn_border
              form(action="./sign-in.html")
                +button(
                  {
                    height : "narrow",
                    text : "Войти",
                    link : "./sign-in.html",
                    hasBorder: true,
                  }
                )
            .header__btn.header__btn_gradient
              form(action="./registration.html")
                +button(
                  {
                    height : "narrow",
                    text : "Зарегистрироваться",
                    link : "./registration.html",
                  }
                )
          else
            .header__login-vertical-line
            p= name