.header {
  width: 100%;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  position: relative;
  background: #fff;

  &__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(31, 32, 65, 0.5);
    flex-grow: 1;
    max-width: 100%;
    margin: 0 9.7%;

    @media screen and (max-width: 1170px) {
      margin: 0 20px;
    }

    @media screen and (max-width: 960px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__logo-link {
    line-height: 0;
  }

  &__logo {
    padding: 15px 0;
  }

  &__menu-mobile {
    display: none;
    width: 24px;
    height: 20px;
    background-image: url('./img/menu.svg');
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 960px) {
      display: block;
      margin: auto 0;
    }
  }

  &__menu-mobile_cross {
    background-image: url('./img/cross.svg');
  }

  &__links {
    display: flex;
  }

  &__links_hidden {
    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  &__links_mobile {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 960px) {
      flex-basis: 100%;
      flex-direction: column;
    }
  }

  &__block-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 960px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 530px) {
      flex-direction: column;
    }
  }

  &__menu-li {
    display: block;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 20px;
    position: relative;
    user-select: none;

    @media screen and (max-width: 960px) {
      &:nth-child(1) {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 530px) {
      margin: 5px 0;
    }
  }

  &__menu-li_active {
    font-weight: 700;
    color: rgba(31, 32, 65, 0.75);
  }

  &__menu-li_expand {
    cursor: pointer;

    &:after {
      content: '';
      display: inline-block;
      width: 22px;
      height: 14px;
      background-image: url('@Blocks/header/img/expand-more-header.svg');
      background-repeat: no-repeat;
      background-position: 50% 90%;
    }

    > .header__menu-a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__menu-a {
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__submenu {
    position: absolute;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.05);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding: 10px 20px;
    right: 0;
    border-width: 0 1px 1px 1px;
    z-index: 5;
    display: none;
  }

  &__submenu_open {
    display: block;
  }

  &__submenu-li {
    display: block;
    width: max-content;
  }

  &__submenu-a {
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    width: max-content;

    &:hover {
      text-decoration: underline;
    }
  }

  &__block-login {
    display: flex;
    align-items: center;

    @media screen and (max-width: 530px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__button {
    margin-left: 20px;

    @media screen and (max-width: 960px) {
      margin: 10px 10px 20px 10px;
    }
  }

  &__login-vertical-line {
    width: 1px;
    height: 120%;
    background: rgba(31, 32, 65, 0.1);
    margin: 0 20px;

    @media screen and (max-width: 960px) {
      display: none;
    }
  }
}
