include /ui_kit/header_footer/header.pug
include /ui_kit/header_footer/footer.pug

include /ui_kit/form_elements/info/info.pug
include /ui_kit/form_elements/comment/comment.pug
include /ui_kit/form_elements/like/like.pug
include /ui_kit/form_elements/list/list.pug

include /ui_kit/cards/formReservation/formReservation.pug
include /ui_kit/form_elements/dropdown/dropdown.pug
include /ui_kit/form_elements/link/link.pug
include /ui_kit/cards/calendar/calendar.pug



+header(0)

div.content.room
	div.room_blockImages
		div.room_blockImages_col1
			div.room_blockImages_col1_image
		div.room_blockImages_col2
			div.room_blockImages_col2_image.room_blockImages_col2_image__1
			div.room_blockImages_col2_image.room_blockImages_col2_image__2
	div.content_container
		div.room_blockInfo
			div.info
				h2 Сведения о номере
				+infoItem('Комфорт', 'Шумопоглощающие стены','blocks/detailsRoom/insert_emoticon.svg','insert_emoticon')
				hr.info_hr
				+infoItem('Удобство', 'Окно в каждой из спален','blocks/detailsRoom/location_city.svg','location_city')
				hr.info_hr
				+infoItem('Уют', 'Номер оснащён камином','blocks/detailsRoom/whatshot.svg','whatshot')
			div.room_blockInfo_impression
				h2 Впечатления от номера
				div.room_blockInfo_impression_text 
					p.room_blockInfo_impression_text_num 260
					p.room_blockInfo_impression_text_text голосов
				canvas(id="oilChart" width="290" height="150")
			div.comment
				div.comment_title
					h2 Отзывы посетителей номера
					p 2 отзыва
				+comment_item('blocks/detailsRoom/photo1.png',11,'Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
				+comment_item('blocks/detailsRoom/photo2.png',2,'Патрисия Стёклышкова','Неделю назад','Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.')
			div.room_blockInfo_rules
				h2 Правила
				ul.list
					+listItem('Нельзя с питомцами')
					+listItem('Без вечеринок и мероприятий')
					+listItem('Время прибытия — после 13:00, а выезд до 12:00')
			div.room_blockInfo_cancel
				h2 Отмена
				p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
		div.room_formReservation
			+formReservation(888,'9 990','38 081')

+footer