include ../../../blocks/elements/dropdown/dropdownBlock.pug
include ../../../blocks/elements/dropdown/dropdownDates.pug
include ../../../blocks/elements/btn/btn.pug

mixin formSearchNum
  div.form-search-num
    h1 Найдём номера под ваши пожелания
    +dropdownDates(
      { 
        topic : "Прибытие",
        activeText : "ДД.ММ.ГГГГ",
      },
      { 
        topic : "Выезд",
        activeText : "ДД.ММ.ГГГГ",
      }
      ) 
    
    +dropdownBlock(          
      { 
        topic : "Гости",
        label : "",
        activeText : "Сколько гостей",
        state : "close",
        btnClean : true,
        btnOk : true
      },
      {
        text : "взрослые",
        qty : 2,
        minus : "active",
        plus : "active"
      },
      {
        text : "дети",
        qty : 1,
        minus : "active",
        plus : "active"
      },
      {
        text : "младенцы",
        qty : 0,
        minus : "disable",
        plus : "active"
      }    
      )
    
    +btn(
      {
        text : "подобрать номер",
        dopclass : "btn_gradient btn_gradient_pay",
        link : "/pages/searchRoom/searchRoom.pug",
        arrow : true
      }
      )