include ~@Blocks/input-text/input-text.pug
include ~@Blocks/radiogroup/radiogroup.pug
include ~@Blocks/toggle-block/toggle-block.pug
include ~@Blocks/btn/btn.pug

mixin formRegistration({ id })
  form.form-registration
    h1 Регистрация аккаунта

    .form-registration__input-text
      +inputText(
        {
          placeholder : "Имя",
          id : "RegName",
        }
      )
    .form-registration__input-text
      +inputText(
        {
          placeholder : "Фамилия",
          id : "RegSurname",
        }
      )

    .form-registration__radiogroup
      +radiogroup(
        {
          nameGroup : "rbGroop"+id,
          idMainBlock : id
        },
        {
          text : "Мужчина",
          check : "checked"
        },
        {
          text : "Женщина"
        }
      )

    .form-registration__input-text.form-registration__input-text_new-block
      +inputText(
        {
          topic : "Дата рождения",
          placeholder : "ДД.ММ.ГГГГ",
          id : "RegDateBirth",
          name : "date"
        }
      )
    .form-registration__input-text.form-registration__input-text_new-block
      +inputText(
        {
          topic : "данные для входа в сервис",
          placeholder : "Email",
          id : "RegEmail",
        }
      )
    .form-registration__input-text
      +inputText(
        {
          placeholder : "Пароль",
          id : "registration",
        }
      )

    .form-registration__toggle-block
      +toggleBlock(
        {
          text : "Получать спецпредложения",
          active : "off"
        }
      )

    .form-registration__btn
      +btn(
        {
          text : "Зарегистрироваться",
          arrow : true,
        }
      )
    .form-registration__login
      p Уже есть аккаунт на Toxin
      .form-registration__btn.form-registration__btn_border
        +btn(
          {
            text : "Войти",
            border: true,
          }
        )