include ~@Blocks/input-text/input-text.pug
include ~@Blocks/radiogroup/radiogroup.pug
include ~@Blocks/toggle-block/toggle-block.pug
include ~@Blocks/btn/btn.pug

mixin formRegistration(obj)
  form.form-registration
    h1 Регистрация аккаунта

    .form-registration__input-text
      +inputText(
        {
          topic : "",
          label : "",
          placeholder : "Имя",
          inputText : "",
          state : "",
          id : "RegName",
          name : ""
        }
      )
    .form-registration__input-text
      +inputText(
        {
          topic : "",
          label : "",
          placeholder : "Фамилия",
          inputText : "",
          state : "",
          id : "RegSurname",
          name : ""
        }
      )

    .form-registration__radiogroup
      +radiogroup(
        {
          nameGroup : "rbGroop"+obj.id,
          idMainBlock : obj.id
        },
        {
          text : "Мужчина",
          check : "checked"
        },
        {
          text : "Женщина"
        }
      )

    .form-registration__input-text.form-registration__input-text_new-block
      +inputText(
        {
          topic : "Дата рождения",
          label : "",
          placeholder : "ДД.ММ.ГГГГ",
          inputText : "",
          state : "",
          id : "RegDateBirth",
          name : "date"
        }
      )
    .form-registration__input-text.form-registration__input-text_new-block
      +inputText(
        {
          topic : "данные для входа в сервис",
          label : "",
          placeholder : "Email",
          inputText : "",
          state : "",
          id : "RegEmail",
          name : ""
        }
      )
    .form-registration__input-text
      +inputText(
        {
          topic : "",
          label : "",
          placeholder : "Пароль",
          inputText : "",
          state : "",
          id : "registration",
          name : ""
        }
      )

    .form-registration__toggle-block
      +toggleBlock(
        {
          text : "Получать спецпредложения",
          active : "off"
        }
      )

    .form-registration__btn
      +btn(
        {
          text : "Зарегистрироваться",
          link : "#",
          arrow : true,
          border: false,
          hover: false
        }
      )
    div.form-registration__login
      p Уже есть аккаунт на Toxin
      .form-registration__btn.form-registration__btn_border
        +btn(
          {
            text : "Войти",
            link : "#",
            arrow : false,
            border: true,
            hover: false
          }
        )
