mixin radiogroup(obj,...items)
  div.radiogroup
    each item,index in items
      div.radiogroup__radio-btn
        input.radiogroup__input(id="rb"+obj.idMainBlock+(index+1) type="radio" name=obj.nameGroup checked= item.check)
        label.radiogroup__label(for="rb"+obj.idMainBlock+(index+1))= item.text