include /blocks/elements/inputText/inputText.pug
include /blocks/elements/dropdown/dropdownBlock.pug
include /blocks/elements/dropdown/dropdownDates.pug
include /blocks/elements/btn/btn.pug
include /blocks/elements/checkboxList/checkboxList.pug
include /blocks/elements/checkboxListExpandable/checkboxListExpandable.pug
include /blocks/elements/radiobutton/radiobutton.pug
include /blocks/elements/toggle/toggle.pug
include /blocks/elements/like/like.pug
include /blocks/elements/rateBtn/rateBtn.pug
include /blocks/elements/rangeSlider/rangeSlider.pug
include /blocks/elements/link/link.pug
include /blocks/elements/pagination/pagination.pug
include /blocks/elements/list/list.pug
include /blocks/elements/infoBlock/infoBlock.pug
include /blocks/elements/commentBlock/commentBlock.pug


div.formElements
  img.ico_logo(src="pages/ui-kit_formElements/ico_logo.svg" alt="logo")
  div.blk.blk_1
    +inputText(
      {
        topic : "Text Field",
        label : "Default",
        placeholder : "Email",
        inputText : "",
        state : "",
        id : "blk_1",
      }
      )
    +inputText(
      {
        topic : "Text Field",
        label : "Hover / Focus",
        placeholder : "This is pretty awesome",
        inputText : "This is pretty awesome",
        state : "focus",
        id : "blk_1"
      }
      )
    
    +dropdownBlock(
      { 
        topic : "Dropdown",
        label : "",
        activeText : "Сколько гостей",
        state : "close",
        btnClean : false,
        btnOk : false
      }
      )

    +inputText(
      {
        topic : "masked Text Field",
        label : "",
        placeholder : "ДД.ММ.ГГГГ",
        inputText : "",
        state : "",
        id : "blk_3"
      }
      )

    +dropdownDates(
      {
        btnClean : false,
        btnOk : false
      },
      { 
        topic : "date Dropdown",
        activeText : "ДД.ММ.ГГГГ",
      },
      { 
        topic : "date Dropdown",
        activeText : "19.08.2019",
      }
      ) 

    div.formElements__blk1Narrow
      +dropdownBlock(
        { 
          topic : "filter date dropdown",
          label : "",
          activeText : "19 авг - 23 авг",
          state : "close",
          btnClean : false,
          btnOk : false
        }
        )

      +inputText(
        {
          topic : "subscription text field",
          label : "",
          placeholder : "Email",
          inputText : "",
          id : "blk_4",
          type : "subscription"
        }
        )

  div.blk.blk_2
    h3 Checkbox Buttons
    +checkboxList("",
      {
        label : "Можно курить", 
        id : 11,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Можно с питомцами", 
        id : 12,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Можно пригласить гостей (до 10 человек)", 
        id : 13,
        p : "", 
        p__dopclass : ""
      }
    )

    h3 Radio Buttons
    div.flex.flex__flexStart
      +radio(100,"rbGroop1_uikit","Мужчина","checked")
      +radio(200,"rbGroop1_uikit","Женщина")

    h3 Toggle
    +toggle("toggleGrooup1_uikit","Получать спецпредложения","on")
    +toggle("toggleGrooup2_uikit","Получать спецпредложения","off")

    h3 like button
    div.flex.flex__flexStart
      +like("2", false)
      +like("12", true)

    h3 rate button
    div.flex.flex__flexStart
      +rate("4",1,2,3,4,5)
      +rate("5",1,2,3,4,5)

  div.blk.blk_3.blk__slider.slider100
    div.blk__slider_blk
      +rangeSlider("Range Slider",5000,10000,"idPrice0")

    h3 buttons
    div.flex.flex__flexStart
      +btn("CLICK ME","btn_gradient")
      +btn("CLICK ME","btn_gradient btn_hover")
    div.flex.flex__flexStart
      +btn("CLICK ME","btn_border")
      +btn("CLICK ME","btn_border btn_hover")

    div.flex.flex__flexStart
      +link("CLICK ME","",'#')
      +link("CLICK ME","link__grey",'#')

    +btn("перейти к оплате","btn_gradient btn_gradient_pay")

    h3 pagination
    +pagination("1 – 12 из 100+ вариантов аренды","")
    
  div.blk.blk_4
    +dropdownBlock(
      { 
        topic : "Dropdown",
        label : "Default",
        activeText : "2 спальни, 2 кровати...",
        state : "close",
        btnClean : false,
        btnOk : false
      }
      )

    +dropdownBlock(
      { 
        topic : "Dropdown",
        label : "expanded",
        activeText : "2 спальни, 2 кровати...",
        state : "open",
        btnClean : false,
        btnOk : false
      },
      {
        text : "спальни",
        qty : 2,
        minus : "active",
        plus : "active"
      },
      {
        text : "кровати",
        qty : 2,
        minus : "active",
        plus : "active"
      },
      {
        text : "ванные комнаты",
        qty : 0,
        minus : "disable",
        plus : "active"
      }    
      )

  div.blk.blk_5
    +dropdownBlock(
      { 
        topic : "Dropdown",
        label : "",
        activeText : "Сколько гостей",
        state : "open",
        btnClean : false,
        btnOk : true
      },
      {
        text : "взрослые",
        qty : 0,
        minus : "active",
        plus : "active"
      },
      {
        text : "дети",
        qty : 0,
        minus : "active",
        plus : "active"
      },
      {
        text : "младенцы",
        qty : 0,
        minus : "disable",
        plus : "active"
      }    
      )

  div.blk.blk_6
    +dropdownBlock(
      { 
        topic : "Dropdown",
        label : "",
        activeText : "3 гостя",
        state : "open",
        btnClean : true,
        btnOk : true
      },
      {
        text : "взрослые",
        qty : 2,
        minus : "active",
        plus : "active"
      },
      {
        text : "дети",
        qty : 1,
        minus : "active",
        plus : "active"
      },
      {
        text : "младенцы",
        qty : 0,
        minus : "disable",
        plus : "active"
      }    
      )
      
  div.blk.blk_7
    +checkboxListExpandable("expandable checkbox list","close",
      {
        label : "Тест", 
        id : 2100,
        p : "", 
        p__dopclass : ""
      }
    )
    
    +checkboxListExpandable("expandable checkbox list","open",
      {
        label : "Завтрак", 
        id : 21,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Письменный стол", 
        id : 22,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Стул для кормления", 
        id : 23,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Кроватка", 
        id : 24,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Телевизор", 
        id : 25,
        p : "", 
        p__dopclass : ""
      },
      {
        label : "Шампунь", 
        id : 26,
        p : "", 
        p__dopclass : ""
      }
    )

  div.blk.blk_8
    h3 Rich Checkbox Buttons
    +checkboxList("",
      {
        label : "Широкий коридор", 
        id : 31,
        p : "Ширина коридоров в номере не менее 91 см.", 
        p__dopclass : "checkbox-list__p_width200"
      },
      {
        label : "Помощник для инвалидов", 
        id : 32,
        p : "На 1 этаже вас встретит специалист и проводит до номера.", 
        p__dopclass : "checkbox-list__p_width225"
      }
    )
    
  div.blk.blk_9
    h3 bullet list
    ul.list
      +listItem("Нельзя с питомцами")
      +listItem("Без вечеринок и мероприятий")
      +listItem("Время прибытия — после 13:00, а выезд до 12:00")

  div.blk.blk_10
    +infoBlock(
      {
        topic : "Сведения о номере",
        qtyHR : 2
      },
      {
        label : "Комфорт",
        text : "Шумопоглощающие стены",
        url : "blocks/elements/infoBlock/emoticon.svg",
        dopclass : "info-block__icon_emoticon"
      },
      {
        label : "Удобство",
        text : "Окно в каждой из спален",
        url : "blocks/elements/infoBlock/city.svg",
        dopclass : "info-block__icon_city"
      }
    )
  
  div.blk.width.blk_11
    +commentBlock("", "2 отзыва",
    {
      urlImg: "pages/detailsRoom/photo1.png",
      liked : true,
      qty : 12,
      name : "Мурад Сарафанов",
      time : "5 дней назад",
      text : `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`
    }
    )