.forms{
	display: flex;
	flex-wrap: wrap;
	background: #F4F4F6;
	padding: 130px 0 130px 120px;
	width: 1320px;//1440px;

	.blk{
		//border-bottom: 1px solid red;
		margin: 20px;

		.formSearchNum{
			position: relative;
			margin-bottom: 40px;
		}

		.formReservation{
			margin-bottom: 40px;

			.formReservation_block{
				p{
					a{
						margin: 0 0 0 -4px;
					}
				}

				h2{
					&:last-child{
						margin-right: -9px;
					}
				}
			}
		}

		.formReservation_blockPrices{
			.formReservation_blockPrices_line_leftBlock_p__infoMark{
				position: absolute;
				left: 211px;
			}
		}

		.formSignIn{
			padding: 37px 30px 30px 30px;
		}

		.block{
			height: 395px;

			.dropdownItemCalendar{
				.calendar{
					margin-top: 0;
				}

				.blockDropdown_dropdownItems_lineBtn{
					.link__clean{
						margin-left: 13px;
					}
					.link__ok{
						margin-right: 7px;
					}
				}
			}
		}

		.cardRoom{
			margin: 14px 2.5px 40px 0px;

			.link__lux{
				margin: 0 0 0 -4px;
			}
		}
	}

	.formSearchNum,
	.formRegistration,
	.formReservation,
	.formSignIn{
		//margin: 40px 0;
		margin: 0;
	}
}